<ul id="helpindex" class="<%= @section['theme'] %>">
<li><a href="#CASP7">HHpred in CASP7</a></li>
<li><a href="#hhpred">The HHpred server</a></li>
<li><a href="#use">When can HHpred be useful?</a></li>
<li><a href="#HMM-HMM">HMM-HMM comparison</a></li>
<li><a href="#structure prediction">Structure prediction</a></li>
<li><a href="#dbs">Available databases</a></li>
<li><a href="#benchmark">Benchmark</a></li>
<li><a href="#theory">Theory behind HHpred</a></li>
<li><a href="#evalues">E-values and probabilities</a></li>
<li><a href="#references">References</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

<h2>About <%= @tool['title'] %></h2>

<a name="CASP7"></a>
<h3 class="<%= @section["name"] %>">HHpred performance in the CASP7 structure prediction benchmark</h3>
<div class="row">
The Figure shows the official results of the best 25 out of 68 servers that participated in the community-wide protein structure prediction benchmark <a target="_blank" href="http://www.predictioncenter.org/casp7/Casp7.html">CASP7</a> (Critical Assessment of Structure Protein Prediction) <a target="_blank" href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&Cmd=ShowDetailView&TermToSearch=17894354">[Battey 2007]</a>. The automatic HHpred servers (red) are ranked 2nd, 3rd, and 8th, while being more than 50 times faster than the other top 20 servers. Crucial for the success in CASP7 was the highly sensitive and accurate sequence alignment method based on the pairwise comparison of profile Hidden Markov Models (HMMs) (<a target="_blank" href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&Cmd=ShowDetailView&TermToSearch=15531603">Soeding 2005</a>). For details on the protein targets and response times, you may also refer to our summary page
<a target="blank" href="http://<%= DOC_ROOTHOST %>/CAFASP5_incl_times.html">"HHpred performance in CAFASP5"</a>.

 <center><p><img src="/images/hhpred/CASP7_results.png" width="443" alt="CASP7" />
<p>CASP7 results of the best 25 out of 68 participating servers (<a target="_blank" href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&Cmd=ShowDetailView&TermToSearch=17894354">Battey 2007</a>)</p></center>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="hhpred"></a>
<h3 class="<%= @section["name"] %>">HHpred server for protein remote homolog detection and 3D structure prediction</h3>

<div class="row">
The primary aim in developing HHpred was to provide biologists with a method for
sequence database searching and structure prediction that is as easy to use as BLAST
or PSI-BLAST and that is at the same time much more sensitive in finding remote homologs.
In fact, HHpred's sensitivity is competitive with the most powerful servers for
structure prediction currently available.
<br>

HHpred is the first server that is based on the pairwise comparison of profile
hidden Markov models (HMMs). Whereas most conventional sequence search methods
search <I>sequence</I> databases such as UniProt or the NR, HHpred searches <I>alignment</I>
databases, like Pfam or SMART. This greatly simplifies the list of hits to
a number of sequence families instead of a clutter of single sequences.
All major publicly available profile and alignment databases are available through HHpred.
<br><br>
HHpred accepts a single query sequence or a multiple alignment as input.
Within only a few minutes it returns the search results in an easy-to-read format
similar to that of PSI-BLAST. Search options include local or global alignment and
scoring secondary structure similarity. HHpred can produce pairwise query-template
sequence alignments, merged query-template multiple alignments (e.g. for transitive searches),
as well as 3D structural models calculated by the MODELLER software from HHpred alignments.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="use"></a>
<h3 class="<%= @section["name"] %>">When can HHpred be useful for you?</h3>
<div class="row">
It is well known that sequence search methods such as BLAST, FASTA, or PSI-BLAST are of prime
importance for biological research because functional information of a protein or gene can be
inferred from homologous proteins or genes identified in a sequence search.
But quite often no significant relationship to a protein of known function can
be established. This is certainly the case for the most interesting group of proteins,
those for which no ortholog has yet been studied.
<br>

It is less well known that in cases where conventional sequence search methods fail,
the recently developed, highly sensitive methods for homology detection
or structure prediction (see descriptions and links at
<a target="_blank" href="http://meta.bioinfo.pl/submit_wizard.pl">http://meta.bioinfo.pl/submit_wizard.pl</a>)
quite often allow to make inferences from more remotely homologous relationships
[<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=10871397">Venclovas (2000)</a>,
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=15688435">Zheng (2005)</a>,
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=14983005">Ginalski (2004)</a>,
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=15452342">Rand (2004)</a>,
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=15684412">Pawlak (2005)</a>,
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=15048836">Kihara (2004)</a>].
If the relationship is so remote that no common function can be assumed,
one can generally still derive hypotheses about possible mechanisms, active site
positions and residues, or the class of substrate bound
[<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=11286560">Todd (2001)</a>,
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=10902155">Pawlowski (2000)</a>].
When a homologous protein with known structure can be identified, its stucture
can be used as a template to model the 3D structure for the protein of interest
[<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=9710568">Rychlewski (1998)</a>],
since even remotely homologous proteins generally have quite similar 3D structure
[<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=12127461">Kinch (2002)</a>].
The 3D model may then help to generate hypotheses to guide experiments.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="HMM-HMM"></a>
<h3 class="<%= @section["name"] %>">What is HMM-HMM comparison and why is it so powerful?</h3>
<div class="row">
When searching for remote homologs, it is wise to make use of as
much information about the query and database proteins as possible
in order to better distinguish true from false positives and to
produce optimal alignments. This is the reason why sequence-sequence
comparison is inferior to profile-sequence comparison. Sequence profiles
contain for each column of a multiple alignment the frequencies of the
20 amino acids. They therefore contain detailed information about the
conservation of each residue position, i.e. how important each position
is for defining other members of the protein family, and about the
preferred amino acids. Profile Hidden Markov Models (<strong>HMMs</strong>)
are similar to simple sequence profiles, but in addition to the
amino acid frequencies in the columns of a multiple sequence alignment
they contain information about the frequency of inserts and deletions
at each column. Using profile HMMs in place of simple sequence profiles
should therefore further improve sensitivity. HHpred is the first server
to employ HMM-HMM comparison, based on a novel statistical method that
we have developed recently. Using HMMs both on the query and the database side
greatly enhances the sensitivity and selectivity over sequence-profile
based methods such as PSI-BLAST.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="structure prediction"></a>
<h3 class="<%= @section["name"] %>">Structure prediction with HHpred</h3>
<div class="row">
The most successful techniques for protein structure prediction rely
on identifying homologous sequences with known structure to be used as
template. This works so well because structures diverge much more slowly
than sequences and homologous proteins may have very similar structures
even when their sequences have diverged beyond recognition.
But sensitivity in homology detection is crucial for success since many
proteins have only remote relatives in the structure database.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="dbs"></a>
<h3 class="<%= @section["name"] %>">Most publicly available alignment databases can be searched</h3>
<div class="row">
A large number of publicly available (partly redundant) and manually or automatically annotated
databases of protein family alignments can be searched through our webserver, such as
<a target="_blank" href="http://www.sanger.ac.uk/Software/Pfam/">PFAM</a>,
<a target="_blank" href="http://smart.embl-heidelberg.de/">SMART</a>,
<a target="_blank" href="http://www.pantherdb.org/">PANTHER</a>,
<a target="_blank" href="http://www.tigr.org/TIGRFAMs/index.shtml">TIGRFAMs</a>,
<a target="_blank" href="http://pir.georgetown.edu/iproclass/">PIRSF</a>, or
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/COG/">COG/KOG</a>.
Two composite databases in HHpred that include most of these original databases are
<a target="_blank" href="http://www.ebi.ac.uk/interpro/">InterPro</a>
from the EBI and the conserved domain database
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml">CDD</a>
from the NCBI.

A number of alignment databases are built around sequences of known structure, generally
by starting with such a sequence as seed and searching for sequence homologs.
We build two such databases ourselves, one using full-length sequences from the
<a target="_blank" href="http://www.rcsb.org/pdb/">Protein Data Bank</a> (PDB)
as seeds, and one database that uses PDB sequences
cut into structural and evolutionary domains as defined by the
<a target="_blank" href="http://scop.mrc-lmb.cam.ac.uk/scop/index.html">SCOP</a>
database. These two databases are referred to simply as pdb70 and scop70 in HHpred.
An alignment database very much like our scop70 is
<a target="_blank" href="http://supfam.mrc-lmb.cam.ac.uk/SUPERFAMILY/">SUPERFAMILY</a>, whereas
<a target="_blank" href="http://www.biochem.ucl.ac.uk/bsm/cath/Gene3D/">CATH/Gene3D</a> is based on
<a target="_blank" href="http://scop.mrc-lmb.cam.ac.uk/scop/index.html">CATH</a>,
a database for hierarchical classification of structural domains that is similar to SCOP.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="benchmark"></a>
<h3 class="<%= @section["name"] %>">Benchmark</h3>
<div class="row">
HHsearch was benchmarked together with BLAST, PSI-BLAST, HMMER, the
profile-profile tools PROF\_SIM and COMPASS, and another HMM-HMM tool, PRC
[M. Madera, <a target="_blank" href="http://supfam.mrc-lmb.cam.ac.uk/PRC/">http://supfam.mrc-lmb.cam.ac.uk/PRC</a>}]
in an all-against-all comparison of a database of 3691 protein domains
from SCOP 1.63 with pairwise sequence identities below 20%.
HHsearch is able to detect 2.8--2.9 times more homologs than
PSIBLAST or HMMER, twice more than PROF_SIM, 60% more than COMPASS
and 7% more than PRC at a fixed error rate of 20% (see figure).
By including secondary structure predicted by
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=10493868&query_hl=2">PSIPRED</a>
a further improvement of 20% can be achieved.
We show further that the improvements in sensitivity are mirrored by
an increase in alignment quality.

<p>Thanks to a fast column score and an efficient algorithm,
HHsearch runs four times faster than PRC, ten times faster than PROF_SIM (4/2004),
and 17 times fasterthan COMPASS (4/2004), scanning a profile HMM with 200 columns
against 3691 SCOP domains in 33 s on a 2 GHz AMD64 processor.</p>
</div>
<center><img src="/images/hhpred/hhpred_bench.png" height="300px" align="top" style="margin: 10px;"></center>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>



<a name="theory"></a>
<h3 class="<%= @section["name"] %>">Theory of HMM-HMM comparison</h3>
<div class="row">
We have extended the theory of Hidden Markov Models to the case of
pairwise comparison of HMMs and developed a method for sequence homology
search which is based on this theory. The alignment algorithm maximizes
a weighted form of coemission probability, the probability that the two
HMMs will emit the same sequence of residues. Amino acids are weighted
according to their abundance, rare coemitted amino acids contributing
more to the alignment score. This weighting is analogous to the use of
a null model with amino acid background probabilities in HMM-sequence
comparison.</div>
<div class="row"> Secondary structure can be included in
the HMM-HMM comparison. We score pairs of aligned secondary structure
states in a way analogous to the classical amino acids substitution
matrices. We use ten different substitution matrices that we derived
from a statistical analysis of the structure database, one for each
confidence value given by
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=10493868&query_hl=2">PSIPRED</a>.
By making use of confidence values
and using a strictly statistical approach we are able to improve the
sensitivity gain considerably over previous methods.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="evalues"></a>
<h3 class="<%= @section["name"] %>">HHpred calculates E-values as well as probabilities for a match to be a true
positive</h3>
<div class="row">
<font color="black">
To assert a homologous relationship for a pair of proteins it is
necessary to quantify one's uncertainty. Most sequence similarity
search programs report the significance of a database match by an
E-value (expect-value). The E-value is the average expected number
of non-homologous proteins with a score higher than the one
obtained for the database match. An E-value much lower than 1
therefore indicates statistical significance.
</font>

</div><div class="row">

<font color="grey">
To derive E-values, a representative database composed of one HMM
per SCOP fold is searched with the query HMM before the actual database
search. We record the score distibution and fit an Gumbel extreme value
distribution (EVD) to it. From this distribution, one could in principle
calculate for each score S the P-value as the area under the EVD
to the right of S, i.e. P-value = Prob(score>S). Then the E-value could
be calculated for each score according to

</div><div class="row">
   <center>E-value <approx> N x P-value,</center>
</div><div class="row">

where N is the number of HMMs in the database to be scanned.
But in order to record a score distribution of negatives, we should
exclude all proteins that are homologous to the query protein. We do
this in two steps. Before fitting an EVD to the score distribution,
we exclude the best-scoring three folds. We then calculate preliminary
E-values for the representative HMMs and now exclude those HMMs with
an E-value better than 0.5. The lambda and mu parameters for the EVD
are determined by Maximum Likelihood. In local alignment mode, we use
a simple log length correction.<br>
</font>

</div><div class="row">
When we add secondary structure scores, we find that the score disctribution
of negatives does not strictly follow an EVD anymore.
<em> E-values in HHpred therefore do not include secondary structure scores</em>!
As an alternative to E-values, HHpred reports <b>probabilities</b> for a
homologous relationship. This probability is based on the real-world score
distribution for negative and homologous domain pairs in an all-against-all
comparison of SCOP. Since the probability also contains the
contribution from the secondary structure score, it is <em>more sensitive 
than the E-value</em>. The probability is calucated according to:

</div><div class="row">
<center>Probability for homologous relationship = Prob_hom(score=S) / [Prob_neg(score=S) + Prob_hom(score=S)]</center>
</div><div class="row">

Homologous pairs are from the same superfamily or have a structural superposition
MAXSUB score > 0.1. All other pairs are counted as negatives in this context.
</div><div class="row">

<font color="grey">
The large number of
compaired sequences in our benchmark allowed us to quantitatively test
the accuracy of reported E-values. Remarkably, E-values below 1E-4 are
wrong for all tested tools except BLAST and HMMER. Specifically, when
using PSI-BLAST with standard parameters (up to eight iterations at
E-value threshold of 1E-4) ~100 times too many sequences were observed
with a reported E-value of 1E-4 or better. The probabilities take account
of the complications (mainly alignments corrupted by non-homologous sequences)
that lead to these deviations. They are therefore a more realistic
measure of confidence.
</font>
</div>

<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<%= render(:partial => "hhpred/references_and_contact") %>
