ANCESCON is a package for distance-based phylogenetic inference and reconstruction of ancestral protein 
sequences that takes into account the observed variation of evolutionary rates between positions that 
more precisely describes the evolution of protein families.
<br/>
[Reconstruction of ancestral protein sequences and its applications, Wei Cai, Jimin Pei, and Nick V Grishin
<br/>
BMC Evol Biol. 2004; 4: 33. doi: 10.1186/1471-2148-4-33. <a href="http://www.pubmedcentral.nih.gov/articlerender.fcgi?artid=522809&rendertype=abstract" target="blank">Published online 2004 September 17</a>.]