<a href="#" onClick="openHelpWindow('/hhalign/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'hhalign'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Enter query alignment", "query_input") %>
	<%= form_text_area("sequence_input") %>
    <script> document.getElementById("sequence_input").setAttribute("rows", 15); </script>
</div>
<div class="row">
  <div class="formw">
    <span style="color: #008C50;">
      Paste alignment of <a href="#" style="color: #008C50;" onClick="javascript:pasteExample();">viral DNA ligases.</a>
    </span>
  </div>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>
<div class="row">
	<%= form_label("Select input format", "input") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0]) %>	
</div>



<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
	<%= form_label("Enter target alignment", "target_input") %>
    <%= form_text_area("target_input") %>
    <script> document.getElementById("target_input").setAttribute("rows", 15); </script>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("target_file") %>
</div>
<div class="row">
	<%= form_label("Select target format", "input") %>
	<%= form_select_single("target_informat", @informat_values, @informat_labels, @informat_values[0]) %>	
</div><div class="spacer">&nbsp;</div>

<div class="row">
	<%= form_label("Max. pairwise sequence identity", "id") %>
	<%= form_text_field("seqid", "90") %>
</div>

<div class="row">
	<%= form_label("Min. sequence identity with query", "qid") %>
	<%= form_text_field("qid", "0") %>
</div>



<div class="row">
	<%= form_label("Other advanced options", "otheradvanced") %>
	<%= form_text_field("otheradvanced", "", "", 50) %>
</div>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>
<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>

