log
tmp
originals
ali2d
aln2plot
ancescon
backtranslate
bfit
blast
blast-2.2.26
blast-2.2.26-x64-linux.tar.gz
blast32
blastplus
clans
clubsubp
clustal
clustal-omega
clustal-omega-0.2.0
clustal-omega-1.2.1
clustalw-2.1
coils
csblast
dataa
dataa2
dataa_sav
dataa.tar
disopred2
disopred2.1
disopred2.3
fast
fasthmmer
frpred
gcview
genomes
gi2promotors
hhblits
hhcluster
hhfrag
hhomp
hhrepid
hhsuite
hhsuite-2.0.15
hhsuite-2.0.16
hhsuite-2.0.16-linux-x86_64
hhsuite-2.1.0
hhsuite-latest.tar.gz
hmmer
hmmer-2.3.2
hmmer3
hmmtop2.1
Hole
iupred
jnet
kalign
kClust
mafft
marcoil_mod
memsat2
memsat3
memsat-svm
mmseqs
mmseqs0.1
modeller
modeller-9.11
modeller-9.11.tar.gz
modeller_new
modeller_scripts
model-quality
MSAProbs
MSAProbs-0.9.7.tar.gz
muscle
MUSTANG_v.3
ncbi-blast-2.2.30+
pattern_search
pcoils
phobius
php
phylip
predisi
probcons
ProfOuali
ProfRost
proftmb
proftmb-1.1
psipred
psipred-2.6
psipred-3.21
reformat
repper
rfilt
Rosetta
RosettaDock
ruby
sable2
samcc
simshift
simshift_old
sixframe
so_lib
stamp_4_2
TCoffee
TCoffee_4.45
TCoffee_8.14
test
TMalign
Toolbox
tprpred
VSL2
## generic files to ignore
*~
*.lock
*.DS_Store
\#*\#

.project
.idea
.secret
/nbproject/private/
