log
tmp
originals
ali2d
aln2plot
ancescon
backtranslate
bfit
blammer
blast*
clans
clubsubp
clustal*
coils
csblast
dataa*
disopred*
fast*
frpred
gcview
genomes
gi2promotors
hhblits
hhcluster
hhfrag
hhomp
hhpred
hhrepid
hhsuite*
hmmer*
hmmtop2.1
Hole
iupred
jnet
kalign
kClust
mafft
marcoil_mod
memsat*
mmseqs*
modeller*
model-quality
MSAProbs*
muscle
MUSTANG*
ncbi-blast*
pattern_search
pcoils
phobius
php
phylip
predisi
probcons
ProfOuali
ProfRost
proftmb*
psipred*
reformat
repper
rfilt
Rosetta*
ruby
sable2
samcc
simshift*
sixframe
so_lib
stamp_4_2
TCoffee*
test
TMalign
Toolbox
tprpred
VSL2
## generic files to ignore
*~
*.lock
*.DS_Store
\#*\#

.project
.idea
.secret
/nbproject/private/
