<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Kalign - an accurate and fast multiple sequence alignment algorithm.
<br/><br/>
Timo Lassmann and Erik LL Sonnhammer (2005) Kalign - an accurate and fast multiple sequence alignment algorithm
<br>
<em>BMC Bioinformatics 2005, 6:298     doi:10.1186/1471-2105-6-298</em>
</div>

