<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a> 
</div> 
<div class="row"> 
Altschul SF., Gish W., Miller W., Myers EW., Lipman DJ. (1990) <b>Basic local alignment search tool.</b> J Mol Biol. 215:403-410. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/2231712" target="_blank"><font size="-6">PMID: 2231712</font></a> 
</div> 
<div class="row"> 
Camacho C., Coulouris G., Avagyan V., Ma N., Papadopoulos J., Bealer K., Madden TL. (2008) <b>BLAST+: architecture and applications.</b> BMC Bioinformatics 10:421. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/20003500" target="_blank"><font size="-6">PMID: 20003500</font></a> 
</div> 
<br> 



<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems. 
</div>