<div class="hr"></div>
<a name="references"></a>
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3>
<div class="row">
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nuc\
leic Acids Res. pii: gkw348. [Epub ahead of print] <a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank" style="font size:8pt">PMID: 27131380</a>
</div>
<div class="row">
Yachdav G., Goldberg T., Wilzbach S., Dao D., Shih I., Choudhary S., Crouch S., Franz M., García A., García LJ., Grüning BA., Inupakutika D., Sillitoe I., Thanki AS., Vieira B., Villaveces JM., Schneider MV., Lewis S., Pettifer S., Rost B., Corpas M. 
(2015) <b>Anatomy of BioJS, an open source community for the life sciences.</b> Elife. 4. doi: 10.7554/eLife.07009. <a href="http://www.ncbi.nlm.nih.gov/pubmed/26153621" target="_blank" style="font size:8pt">PMID: 26153621</a>
</div>
<br>
<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems.
</div>
