Multiple sequence alignment tool for protein and nucleotide sequences. (T-Coffee:Tree-based Consistency Objective Function for alignment Evaluation).

<br>[T-Coffee v4.45; <a href="http://igs-server.cnrs-mrs.fr/Tcoffee/" target="blank">http://igs-server.cnrs-mrs.fr/Tcoffee/</a>]