<h2><%= @tool['title'] %> Overview</h2>
<div class="row">
T-Coffee (Tree-based Consistency Objective Function for alignment Evaluation)
is one of the most accurate multiple sequence alignment methods for protein and nucleotide sequences.
<br>[T-Coffee v4.45; <a href="http://igs-server.cnrs-mrs.fr/Tcoffee/" target="blank">http://igs-server.cnrs-mrs.fr/Tcoffee/</a>]
</div>
