<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
To be published
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to
<a target="_blank" href="http://http://www.lmb.uni-muenchen.de/soeding/remmert.htm">remmert at lmb.uni-muenchen.de</a>
or
<a target="_blank" href="http://http://www.lmb.uni-muenchen.de/soeding/soeding.htm">soeding at lmb.uni-muenchen.de</a>
</div>