<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => "Results"}) %>

<%= render(:partial => "shared/resultsections", :locals => {:forward => false}) %>

<%= form_tag( "", {:id => @job.tool+"_form"}) %>

<% if @errors['hits'] %>
<div class="row">
	<p class="formerror"><%= @errors['hits'] %></p>
</div><div class="hr">&nbsp;</div>
<% end %>

<div class="row">
	<%=  @job.results.join  %>
</div>


</form>
