<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
SimShiftDB builds alignments between a query protein with unknown 
structure (for which chemical shifts for HA,H,N,CA,CB, or CO are available) 
and a database of template proteins whose 3D structure is known. 
The alignments are scored by an E-Value indication (similar to the E-Value
calculated by BLAST) .
</div>

