<a href="#" onClick="openHelpWindow('/findmotif/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'findmotif'}, {:multipart => true})%>
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
        <%= form_label("Upload a local file") %>
        <%= form_file("sequence_file") %>
</div>

<div class="spacer">&nbsp;</div>
<h3 class="<%= @section["name"] %>">Databases</h3>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
        <%= form_submit_buttons %>
</div>

</form>
