log
tmp
databases
bioprogs
bioprogs_13_10_07.tar.gz
bioprogs_wye
config/database.yml
config/local_environment.rb
public/favicon.ico
public/.htaccess
public/robots.txt

## generic files to ignore
*~
*.lock
*.DS_Store
\#*\#

.project
.idea
.secret
/nbproject/private/