log
tmp
bioprogs
databases
config/database.yml
config/local_environment.rb
public/favicon.ico
public/.htaccess
public/robots.txt

## generic files to ignore
*~
*.lock
*.DS_Store
\#*#

.project
.idea
.secret
/nbproject/private/