Build a customized library of structural fragments, excised from PDB structures.
The HHfragments are variable in length homologous, remotely homologous or analogous
pieces of recurrent local structure, which can be readily used in ab initio protein
structure prediction.
