<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#hhfrag">Algorithm</a></li>
</ul>

<h2><%= @tool['title'] %> Overview</h2>

<div class="row">
HHfrag Description needed here 
</div>

<a name="hhfrag"></a>
<h3 class="<%= @section["name"] %>">Algorithm</h3>
<div class="row">
Describe additional things ....
</div>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
We are committed to improve this service for you. Please inform us of problems, or send comments or
feedback to <a target="_blank" href="/common/contact">us</a>.
</div>
