<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input</a></li>
	<li><a href="#input">Predict torsion angles</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
 Enter or upload a protein sequence in FASTA or raw format.
  <br>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="predict_ta"></a>
<h3 class="<%= @section["name"] %>">Predict Torsion Angles</h3>
<div class="row">
 Analyze the structural consistency and recurrence of fragments assigned to each target position and compute consensus torsion angles.
  <br>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
<!--For more Information on HHfrag please contact <a href="mailto:michael.habeck@tuebingen.mpg.de">Michael Habeck</a><br>-->
We are committed to improve this service for you. Please inform us of problems, or send comments or
feedback to <a target="_blank" href="/common/contact">us</a>.
</div>
