<a href="#" onClick="openHelpWindow('/hhfrag/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>  <h2><%= @page_title %></h2>



<div class="spacer">&nbsp;</div>

<div class="row">

</div>

<div class="spacer">&nbsp;</div>

<%= form_tag({:action => :run, :job => 'hhfrag'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Paste protein sequence","input") %>
	<%= form_text_area("sequence_input") %>
</div>

<div class="row">
	<%= form_label("Examples") %>
	<div class="formw">
		<strong>TPR    </strong> <a href="#" onClick="javascript:pasteTPR();">paste</a>&nbsp;&nbsp;
		<strong>OMPW</strong> <a href="#" onClick="javascript:pasteOMPW();">paste</a>
	</div>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>

<div class="spacer">&nbsp;</div>
<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
    <%= form_label("Predict torsion angles","predict_ta") %>
    <%= form_checkbox("ta", "-f", false, false,"") %> 
</div>


<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_snail_buttons("Note: Job may take hours to complete, depending on input sequence length") %>
</div>

</form>

	
<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>
