Sensitive intermediate profile search using HMM-HMM comparison. HHsenser takes a sequence or an alignment as input and builds an alignment with as many near or remote homologs as possible. It uses representative sequences in the vicinity of the input alignment as seeds to build new alignments with PSI-BLAST. The process continues until all seeds have been processed. The runtime may be 30 min up to several hours depending on input parameters.
