<script src="https://use.fontawesome.com/084cb96765.js"></script>

<a href="#" onClick="openHelpWindow('/hhsenser/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'hhsenser'}, {:multipart => true, :onreset => "return resetDisplayValues('#{params['informat'] || @informat_values[0]}');" })%>
<h3 class="<%= @section["name"] %>">Input</h3>

<div class="row">
        <%= form_label("Paste protein sequence or MSA<br><small>(up to 500 residues)</small>", "input") %>
        <%= form_text_area("sequence_input") %>
</div>

<div class="row">
   <div class="formw">
<span style="color: #008C50;">Search with transition state regulatory protein <a href="#" style="color: #008C50; font-size: 8pt" onClick="javascript:pasteAbrB();">AbrB</a> or phage lysis protein 
<a href="#" style="color: #008C50; font-size: 8pt"  onClick="javascript:pasteP5();">P5</a>.</span>
   </div>
</div>

<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>
<div class="row">
	<%= form_label("Select input format", "input") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0], 1, "adjustMatchModeValues();") %>
</div><div class="spacer">&nbsp;</div>


<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
  <%= form_label("Select database", "database") %>
  <%= form_select_single("database", @dbvalues, @dblabels, @default_db, @dbvalues.length) %>
</div>

<div class="row">
	<%= form_label("No. of residues for seed extension<br><small>(either side)</small>", "extnd") %>
	<%= form_select_single("extnd", @extnd, @extnd, '20') %>
</div>
<div class="row">
	<%= form_label("PSI-BLAST E-value threshold", "psiblast_eval") %>
	<%= form_select_single("psiblast_eval", @psiblast_eval, @psiblast_eval, '1e-3') %>
</div>
  <div class="row">
    <%= form_label("Min. coverage of PSI-BLAST hits", "cov_min") %>
    <%= form_select_single("cov_min", @cov_minval, @cov_minval, '50') %>
  </div>
<div class="row">
	<%= form_label("Use clustered database<br><small>(recommended!)</small>", "clustered") %>
	<%= form_checkbox("include_repr_seqs", '1', true) %>
</div>
<div class="row">
	<%= form_label("No. of sequences until termination", "ymax") %>
	<%= form_select_single("ymax", @ymax, @ymax, '5000') %>
</div>
<div class="row">
	<%= form_label("Pre-screen sequence for structural domains", "prescreen") %>
	<%= form_checkbox("screen", '1', true) %>
</div>

<!-- Only show if informat != 'a3m' && informat != 'a2m' -->
<div id='match_mode_selection' class="row">
     <%= form_label("Match state assignment", "match_mode") %>
     <div class="formw">
       <%= form_select_single("match_mode", @match_mode_values, @match_mode_labels, @match_mode_values[0]) %>
       (For A2M/A3M format the match assignment of the input is used.)
     </div>
</div>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_snail_buttons("Note: job may take hours to days to complete, depending on number of homologs found.") %>
</div>

</form>

<div class="hr">&nbsp;</div>
<ul class="arrow-marker">
  <li><a target="_blank" href="http://www.mpibpc.mpg.de/soeding">S&ouml;ding group at Max Planck Institute for Biophysical Chemistry in G&ouml;ttingen</a></li>
</ul>
<%= render(:partial => "references_and_contact") %>
</div>


<script>
(function() {
    
      document.getElementById("sequence_input").setAttribute("rows", 15);
})();
</script>




