<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
S&ouml;ding J, Remmert M, and Biegert A: HHrep: de novo repeat 
detection and the origin of TIM barrels. <em>Nucleic Acids Res.</em> 
<strong>34</strong>, W137-142.
	<a 
href="http://nar.oxfordjournals.org/cgi/reprint/34/suppl_2/W137?ijkey=IWvdczwA16M5cVp&keytype=ref">
	(download pdf)</a>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h2>
<div class="row">
We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to
<a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/soeding.htm">soeding at lmb.uni-muenchen.de</a>
</div>
