<a href="#" onClick="openHelpWindow('/hhrep/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'hhrep', :parent => @parent_job}, {:multipart => true})%>


<h3 class="<%= @section["name"] %>">Input</h3>
<% if @parent_job.nil? || @parent_job.params['mode'].nil?  -%>
<div class="row">
    <%= form_label("Paste protein sequence or multiple alignment", "input") %>
    <%= form_text_area("sequence_input") %>
</div>

<div class="row">
    <%= form_label("or upload a local file") %>
    <%= form_file("sequence_file") %>
</div>

<div class="row">
    <%= form_label("Select input format", "input_format") %>
    <%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0]) %>
</div>

<div class="spacer">&nbsp;</div>

<div class="row">
    <%= form_label("Examples") %>
</div>
    <div class="formw">
        <strong>TPR</strong> <a href="#" onClick="javascript:pasteTPR();">paste</a>/<a target="_blank" href="/hhrep/results/tu_malt">results</a>&nbsp;&nbsp;
        <strong>TIM barrel</strong> <a href="#" onClick="javascript:pasteTIM();">paste</a>/<a target="_blank" href="/hhrep/results/tu_1mzhB">results</a>&nbsp;&nbsp;
        <strong>OMPW</strong> <a href="#" onClick="javascript:pasteOMPW();">paste</a>/<a target="_blank" href="/hhrep/results/tu_ompw_1">results</a>
	<%= render(:partial => "shared/example_results") %>
    </div>
    <div class="row">
    <%= form_submit_buttons %>


<%else%>
<%= form_hidden_field("sequence_input") %>
<%= form_hidden_field("sequence_file", "") %>
<%= form_hidden_field("informat") %>
<%= form_hidden_field("mode", "querymsa") %>

<div class="row">
    <strong>Using query a3m MSA from job <%= @parent_job.jobid %> as input!</strong>
    <%= form_submit_buttons %>


<%end%>

</div>


<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>
<% if @parent_job.nil? || @parent_job.params['mode'].nil? -%>
<div class="row">
  <%= form_label("MSA Generation Method", "prefilter") %>
  <%= form_radio_buttons("prefilter", @prefilter_values, @prefilter_labels, "hhblits", "&nbsp;","change_label('maxhhblitsit_label','Max. MSA Generation iterations','Max. MSA Generation iterations');                                                                                           change_label('E_hhblits_label','E-value threshold for MSA Generation','E-value threshold for MSA ');") %>  
</div>
<div class="row">
  <%= form_label_id("Max. MSA Generation iterations", "maxhhblitsit_label", "maxhhblitsit") %>
  <%= form_select_single("maxhhblitsit", @maxhhblitsit, @maxhhblitsit, '3') %>  
</div>
<% else%>
<%= form_hidden_field("maxhhblitsit", @parent_job.params_main_action['maxhhblitsit']) %>
<%= form_hidden_field("prefilter", @parent_job.params_main_action['prefilter']) %>
<%end%>

<div class="row">
	<%= form_label("Score secondary structure", "ss_scoring") %>
	<%= form_radio_buttons("ss_scoring", @ss_scoring_values, @ss_scoring_labels, "4", "&nbsp;") %>
</div>
<div class="row">
	<%= form_label("Show sequences per HMM", "maxseq") %>
	<%= form_select_single("maxseq", @maxseqval, @maxseqval, '1') %>
</div>
<div class="row">
	<%= form_label("Width of alignments", "width") %>
	<%= form_text_field("width", '70', 'columns') %>
</div>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>



</form>

<div class="hr">&nbsp;</div>
<ul class="arrow-marker">
	<li><a href="#" title="About HHrep" onclick="openHelpWindow('/hhrep/help_ov');">About HHrep</a></li>
	<li>Other <i>de novo</i> repeat detection servers:
		<a target="_blank" href="http://www.ebi.ac.uk/Radar/">RADAR</a>,
		<a target="_blank" href="http://ibivu.cs.vu.nl/programs/reprowww/">REPRO</a>,
		<a target="_blank" href="http://ibivu.cs.vu.nl/programs/trustwww/">TRUST</a>,
		<a target="_blank" href="http://nihserver.mbi.ucla.edu/Repeats/">Internal Repeat Finder</a>
		</li>
	<li><a target="_blank" href="/hhpred">HHpred server for homology detection and stucture prediction</a></li>
	<li><a target="_blank" href="http://www.mpibpc.mpg.de/soeding">Send feedback</a></li>
</ul>

<div class="hr">&nbsp;</div>
<div class="row">
	Reference:
	S&ouml;ding J, Remmert M, and Biegert A: HHrep: de novo repeat
detection and the origin of TIM barrels. <em>Nucleic Acids Res.</em>
<strong>34</strong>, W137-142.
	<a target="_blank"
href="http://nar.oxfordjournals.org/cgi/reprint/34/suppl_2/W137?ijkey=IWvdczwA16M5cVp&keytype=ref">
	(download pdf)</a>

</div>
