Program for Comparative Protein Structure Modelling by Satisfaction of Spatial Restraints.
<br>
[A. Sali and T.L. Blundell. Comparative protein modelling by satisfaction of spatial restraints.
J. Mol. Biol. 234, 779-815, 1993.
<a href="http://salilab.org/modeller/" target="blank">http://salilab.org/modeller/</a>]
