GCView extracts and displays the genomic context of protein coding genes found in homology searches. It is possible to combine multiple queries to visualize conserved genomic neighborhood or operon structure of protein coding genes.
