TPRpred uses the profile representation of the known repeats to detect Tetratrico Peptide Repeats (TPRs), 
Pentatrico Peptide Repeats(PPRs) and SEL1-like repeats from the query sequence and computes the statistical 
significance for their occurrence.