<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., S&ouml;ding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a> 
</div>
<div class="row">
Karpenahalli MR., S&ouml;ding J., Lupas AN. (2007) <b>TPRpred: a tool for prediction of TPR-, PPR- and SEL1-like repeats from protein sequences.</b>
BMC Bioinformatics 8:2. <a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1774580">PMCID: PMC1774580</a>
</div>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems. 
</div>
