<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input format</a></li>
	<li><a href="#database">Profiles</a></li>
	<li><a href="#maxevalue">Maximum per-protein e-value</a></li>
	<li><a href="#minhits">Minimum number of single-repeat hits</a></li>
	<li><a href="#maxrows">Maximum number of rows in hitlist</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input format</h3>
<div class="row">
<p>
A sequence in FASTA format begins with a single-line description, followed by lines of sequence data. The description line is distinguished from the sequence data by a greater-than (">") symbol in the first column. It is recommended that all lines of text be shorter than 80 characters in length. An example sequence in FASTA
format is:
</p>
<pre>

>HcpC_a HcpC Chain A
DPKELVGLGAKSYKEKDFTQAKKYFEKACDLKENSGCFNLGVLYYQGQGV
EKNLKKAASFYAKACDLNYSNGCHLLGNLYYSGQGVSQNTNKALQYYSKA
CDLKYAEGCASLGGIYHDGKVVTRDFKKAVEYFTKACDLNDGDGCTILGS
LYDAGRGTPKDLKKALASYDKACDLKDSPGCFNAGNMYHHGEGATKNFKE
ALARYSKACELENGGGCFNLGAMQYNGEGVTRNEKQAIENFKKGCKLGAK
GACDILKQLKIKVHHH
     
</pre>
<p>
Sequences are expected to be represented in the standard IUB/IUPAC amino acid acid codes, with these exceptions: lower-case letters are accepted and are mapped into upper-case; a single hyphen or dash can be used to represent a gap of indeterminate length; and in amino acid sequences, U and * are acceptable letters (see below). Before submitting a request, any numerical digits in the query sequence should either be removed or replaced by appropriate letter codes (e.g., X for unknown amino acid residue).
The amino acid codes supported are:
</p>
<pre>

    A  alanine                         P  proline
    B  aspartate or asparagine         Q  glutamine
    C  cystine                         R  arginine
    D  aspartate                       S  serine
    E  glutamate                       T  threonine
    F  phenylalanine                   U  selenocysteine
    G  glycine                         V  valine
    H  histidine                       W  tryptophan
    I  isoleucine                      Y  tyrosine
    K  lysine                          Z  glutamate or glutamine
    L  leucine                         X  any
    M  methionine                      *  translation stop
    N  asparagine                      -  gap of indeterminate length
    
</pre>

</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="database"></a>
<h3 class="<%= @section["name"] %>">Profiles</h3>
<div class="row">
TPR - Tetratrico Peptide Repeat<br/>
PPR - Pentatrico Peptide Repeat<br/>
SEL1-Like repeat
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="maxevalue"></a>
<h3 class="<%= @section["name"] %>">Maximum whole-protein e-value</h3>
<div class="row">
Maximum whole-protein e-value for output of repeat residues to alifile.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="minhits"></a>
<h3 class="<%= @section["name"] %>">Minimum number of single-repeat hits</h3>
<div class="row">
Minimum number of single repeat hits for output to alifile
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="maxrows"></a>
<h3 class="<%= @section["name"] %>">Maximum number of rows in hitlist</h3>
<div class="row">
as the name suggests
</div>

<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>