<a href="#" onClick="openHelpWindow('/tprpred/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<div class="spacer">&nbsp;</div>

TPRpred uses the profile representation of the known repeats to detect Tetratrico Peptide Repeats (TPRs), 
Pentatrico Peptide Repeats(PPRs) and SEL1-like repeats from the query sequence and computes the statistical 
significance for their occurrence. 

<div class="spacer">&nbsp;</div>

<%= form_tag({:action => :run, :job => 'tprpred'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Enter sequence in FASTA format", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>

<div class="row">
  <div class="formw">
    <span style="color: green;">
      Predict repeats for HcpC Chain A. <a href="#" onClick="javascript:pasteExample();">Paste example sequence.</a>
    </span>
  </div>
</div>

<h3 class="<%= @section["name"] %>">Options</h3>


<%basic ='false'%>
<% if ((params['advanced_options'] && params['advanced_options'] == "false") ||
      (@error_params['advanced_options'] && @error_params['advanced_options'] == "false")) 
    basic = 'true' 
end %>

<div id="basic" style="display: <%= basic %>;">
    <%= form_label("E-value inclusion  TPR & SEL", "E_tprsel") %>
    <%= form_select_single("Evaltprsel", @eval_cutoff, @eval_cutoff, '1e-6') %>

</div>

<%basic = 'true'%>
<% display = 'none' %>
<% if ((params['advanced_options'] && params['advanced_options'] == "true") ||
      (@error_params['advanced_options'] && @error_params['advanced_options'] == "true")) 
   	display = 'true'
    basic   = 'none' 
   end %>
	

<div id="advanced" style="display: <%= display %>;">
	<div class="row">
		<%= form_label("Select profile", "database") %>
		<%= form_select_single("pssm", @pssm_paths, @pssm_labels, @pssm_default) %>	
	</div>
	<div class="row">
		<%= form_label("Maximum whole-protein e-value", "maxevalue") %>
		<%= form_text_field("evalue", '10000') %>	
	</div>
	<div class="row">
		<%= form_label("Minimum number of single-repeat hits", "minhits") %>
		<%= form_text_field("minhits", '1') %>	
	</div>
	<div class="row">
		<%= form_label("Maximum number of rows in hitlist", "maxrows") %>
		<%= form_text_field("maxrows", '100') %>	
	</div>
</div>
<div class="spacer">&nbsp;</div>

<% if (display == 'none')
		display = 'true'
        basic   = 'none'
	else
		display = 'none'
        basic   = 'true'
	end %>
<br>

<div id="advanced_link" style="display: <%= display %>;">

	
	<h3 class="<%= @section["name"] %>"><a href="#" onclick="Effect.Appear('advanced'); Effect.Fade('basic');Effect.Appear('basic_link'); Effect.Fade('advanced_link'); setValue('advanced_options', 'true');">Show advanced options</a></h3>
	
</div>
<div id="basic_link" style="display: <%= basic %>;  ">
    
    <h3 class="<%= @section["name"] %>"><a href="#" onclick="Effect.Fade('advanced'); Effect.Appear('basic'); Effect.Fade('basic_link');Effect.Appear('advanced_link'); setValue('advanced_options', 'false');">Hide advanced options</a></h3>
    
	</div>


<%= form_hidden_field("advanced_options", "false") %>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>