<a href="#" onClick="openHelpWindow('/psi_blast/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'psi_blast'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>

<div class="row">
	<%= form_label("Paste input sequence/alignment", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
  <div class="formw">
    <span style="color: green;">
      Search with transcription factor SOX-9. <a href="#" onClick="javascript:pasteExample();">Paste example sequence.</a>
    </span>
  </div>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>
<div class="row">
	<%= form_label("Select input mode", "input") %>
	<%= form_radio_buttons("inputmode", @inputmode_values, @inputmode_labels, @inputmode_values[0], "&nbsp;&nbsp;", "toggleDisabled('informat'); toggleDisabled('filter');") %>
</div>
<div class="row">
	<%= form_label("Select alignment format", "input_format") %>
	<% disable = true %>
	<% if ((params['inputmode'] && params['inputmode'] == "alignment") || (@error_params['inputmode'] && @error_params['inputmode'] == "alignment")) then disable = false end %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0], 1, "", disable) %>	
</div>
<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/protein_dbs") %>
 
<h3 class="<%= @section["name"] %>">Search Options</h3>

<div class="row">
	<%= form_label("Matrix", "matrix") %>
	<%= form_select_single("matrix", @matrices, @matrices, @matrices.find(@matrices.first) {|m| m =~ /62/}) %>	
</div>
<div class="row">
	<%= form_label("Number of iterations", "numberiterations") %>
	<%= form_text_field("rounds", '1') %>	
</div>
<div class="row">
	<%= form_label("E-value", "evalue") %>
	<%= form_text_field("evalue", '10') %>	
</div>
<div class="row">
	<%= form_label("E-value inclusion threshold", "evaluefirst") %>
	<%= form_text_field("evalfirstit", '0.001') %>	
</div>
<div class="row">
	<%= form_label("Filter for low complexity regions", "filter") %>
	<% disable = false %>
	<% if ((params['inputmode'] && params['inputmode'] == "alignment") || (@error_params['inputmode'] && @error_params['inputmode'] == "alignment")) then disable = true end %>
	<%= form_checkbox("filter", '1', false, false, "", disable) %>	
</div>
<div class="row">
	<%= form_label("Perform ungapped alignment") %>
	<%= form_checkbox("ungappedalign", '1', false) %>	
</div>
<div class="row">
	<%= form_label("Compute Smith-Waterman alignment", "smithwaterman") %>
	<%= form_checkbox("smithwat", '1', false) %>	
</div>
<div class="row">
	<%= form_label("Use nr70f for all but last iteration", "usenr70f") %>
	<%= form_checkbox("fastmode", '1', false) %>	
</div>
<div class="row">
	<%= form_label("Alignments and descriptions", "alignments") %>
	<%= form_text_field("alignments", '500') %>	
</div>
<div class="row">
	<%= form_label("Other advanced options", "otheradvanced") %>
	<%= form_text_field("otheradvanced", '', '', 20) %>	
</div>
  
<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>

<div class="hr">&nbsp;</div>
<div class="row">
	Altschul, S., Madden, T., Schaffer, A., Zhang, J., Zhang, Z., Miller, W., and Lipman, D. (1997) 
	Gapped BLAST and PSI-BLAST: a new generation of protein database search programs. <em>Nucl. 
	Acids Res.</em>, <strong>25</strong> (17), 3389-3402.
</div>
