The most accurate multiple alignment algorithm for protein sequences. 
The design of MSAProbs is based on a combination of pair hidden Markov models and partition functions to calculate posterior probabilities.
<a href="http://msaprobs.sourceforge.net/homepage.htm#latest" target="blank">http://msaprobs.sourceforge.net/homepage.htm#latest</a>
