GLprobs is an HMM generalisation of MSAprobs and makes use of an adaptive guide tree construction method.
<a href="http://sourceforge.net/projects/glprobs/" target="blank">http://sourceforge.net/projects/glprobs/</a>
