<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
GLProbs is an HMM generalisation of MSAprobs and makes use of an adaptive guide tree construction method (<a href="http://i.cs.hku.hk/~dcheung/publication/acmbcb2013.pdf" target="_blank">http://i.cs.hku.hk/~dcheung/publication/acmbcb2013.pdf</a>).
</div>

