<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input</a></li>
	<li><a href="#unique">Retrieve identical sequences only once</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
Enter a newline separated list of identifiers.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="unique"></a>
<h3 class="<%= @section["name"] %>">Retrieve identical sequences only once</h3>
<div class="row">
With this option the program filters identical identifiers and identical sequences, 
so that the result sequences are unique.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
