<a href="#" onClick="openHelpWindow('/gi2seq/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<% if @gi == ""%>

<%= form_tag({:action => :run, :job => 'gi2seq'}, {:multipart => true})%> 
  <h3 class="<%= @section["name"] %>">Input</h3>
  <div class="row">
	<%= form_label("Paste identifiers", "input") %>
	<%= form_text_area("sequence_input") %>
  </div>
<div class="row">
  <div class="formw">
    <span style="color: green;">
      Retrieve sequences from GI Numbers. <a href="#" onClick="javascript:pasteExample();">Paste example GI numbers.</a>
    </span>
  </div>
</div>
  <div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
  </div>
  <div class="row">
	<div class="formw">
		<font style="color:red;"> Max. number of retrievable sequences: 100 000 </font>
	</div>
  </div>

  <div class="spacer">&nbsp;</div>

  <%= render(:partial => "shared/protein_dbs") %>


  <h3 class="<%= @section["name"] %>">Options</h3>

  <div class="row">
	<%= form_label("Retrieve identical sequences only once", "unique") %>
	<%= form_checkbox("unique", 1, false) %>
  </div>

  <div class="spacer">&nbsp;</div>

  <%= render(:partial => "shared/joboptions") %>

<%else%>

<%= form_tag({:action => :run, :job => 'gi2seq'}, {:multipart => true})%> 
  <%@gi_array = @gi.split('x')%>

  <%@seq_entry=""%>

  <%@gi_array.each do |gi_num|%>
    <%@seq_entry += gi_num +"\n"%>
  <%end%>


  <h3 class="<%= @section["name"] %>">Input</h3>
  <div class="row">
        <%= form_label("Paste identifiers", "input") %>
        <%= form_text_area("sequence_input", @seq_entry) %>
  </div>
  <div class="row">
        <%= form_label("or upload a local file") %>
        <%= form_file("sequence_file") %>
  </div>
  <div class="row">
        <div class="formw">
                <font style="color:red;"> Max. number of retrievable sequences: 100 000 </font>
        </div>
  </div>

  <div class="spacer">&nbsp;</div>

  <%= render(:partial => "shared/protein_dbs") %>


  <h3 class="<%= @section["name"] %>">Options</h3>

  <div class="row">
        <%= form_label("Retrieve identical sequences only once", "unique") %>
        <%= form_checkbox("unique", 1, false) %>
  </div>

  <div class="spacer">&nbsp;</div>

  <%= render(:partial => "shared/joboptions") %>

<%end%>


<div class="row">
	<%= form_submit_buttons %>
</div>

</form>
