Hier fehlt noch die Beschreibung des Datenbank "Ancient Dictionary". Naehere Informationen dazu: <a href="http://www.eb.tuebingen.mpg.de/abteilungen/1-proteinevolution/abteilung-1-proteinevolution">Abt 1</a>
