<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :add, :job => 'ancient_dict'}, {:multipart => true})%>
<h3 class="<%= @section["name"] %>">Motif</h3>
<div class="row">
        <%= form_label("Insert the motif", "input") %>
        <%= form_text_area("motif_text") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Keywords</h3>
<div class="row">
        <%= form_label("Select the keywords for the motif", "keyword") %>
        <%= form_select_multiple("keywords", @key_values, @key_labels) %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Description</h3>
<div class="row">
        <%= form_label("Insert the description", "description") %>
        <%= form_text_area("descr_text") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Motif Figure</h3>
<div class = row>
 <%= form_label("Browse the motif image", "image") %>
 <%= form_file("motif_figure") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Occurrence</h3>
<div class="row">
        <%= form_label("Specify the occurrence of the motif", "occurrence") %>
        <%= form_text_area("occurrence") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Function</h3>
<div class="row">
        <%= form_label("Insert the functions", "function") %>
        <%= form_text_area("func_text") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Function Figure</h3>
<div class="row">
        <%= form_label("Browse the function figure", "func_image") %>
        <%= form_file("func_figure") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Function Legend</h3>
<div class="row">
        <%= form_label("Insert the function legend", "func_image") %>
        <%= form_text_area("func_legend") %>
</div>

<h3 class="<%= @section["name"] %>">Structure Superposition (PDB-file)</h3>
<div class="row">
        <%= form_label("Browse the PDB-file of the structure superposition", "str_superpos") %>
        <%= form_file("structure_superposition") %>
</div>

<h3 class="<%= @section["name"] %>">Sequence Alignment</h3>
<div class="row">
        <%= form_label("Insert the sequence alignment", "seq_ali") %>
        <%= form_text_area("sequence_ali") %>
</div>

<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
        <%= form_label("Insert the references", "refs") %>
        <%= form_text_area("references") %>
</div>


<div class="spacer">&nbsp;</div>



<%= render(:partial => "shared/joboptions") %>

<div class="row">
        <%= form_submit_buttons %>
</div>

</form>

