<h2><%= @page_title %></h2>

<div id="jobsection">
  <ul>
    <li>
      <a href="/ancient_dict/index" onmouseout="return nd();" onmouseover="return overlib('Description');">Description</a>
    </li>
    <li class="current">
      <a href="/ancient_dict/motifs" onmouseout="return nd();" onmouseover="return overlib('Browse the database');">Browse Database</a>
    </li>
    <li>
      <a href="/ancient_dict/update" onmouseout="return nd();" onmouseover="return overlib('Update the database');">Update Database</a>
    </li>

  </ul>
</div>

<%= render(:partial => "subitems") %>

<%= form_tag({:action => :run, :job => 'ancient_dict'}, {:multipart => true})%>

<p style="font-size:14px; font-weight:bold;">Motifs</p>
<table border="0" width="1300px">
  <% for i in 0...@motif_names.length%>
    <colgroup>
      <col width="250px">
      <col width="700px">
    </colgroup>
    <tr>
      <td style="font-size:12px; font-weight:bold;">
        <a href="<%= DOC_ROOTURL %>/ancient_dict/motif"><%=@motif_names[i]%></a>
      </td>
      <td style="font-size:12px" align="justify">
        <%=@short_descriptions[i]%>
      </td>
    </tr>
  <% end %>
</table>

<br/>
<br/>
<p style="font-size:14px; font-weight:bold;">Motifs with structural repeats</p>

