<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= render(:partial => "subitems") %>

<%= form_tag({:action => :run, :job => 'ancient_dict'}, {:multipart => true})%>

<%Dapfragment.find(:all, :conditions => ["f_id=?", @page]).each do |fragment|%>
<p style="font-size:18px; font-weight:bold;"><%=fragment.f_name%></p>
<p style="font-size:12px; font-weight:bold;" class="<%= @section["name"] %>">Keywords</p>
<table border="0" style="width=100%">
  <tr>
    <%DapfragmentDapkey.find(:all, :conditions => ["f_id=?", @page]).each do |keywd|%>
      <td style="font-size:12px">
        <a href="<%= DOC_ROOTURL %>/ancient_dict/keyword?key=<%=keywd.k_id%>">'<%=Dapkey.find(:first, :conditions => ["k_id=?", keywd.k_id]).k_name%>' &nbsp;</a>
      </td>
    <%end%>
  </tr>
</table>
<br/>
<br/>
<p style="font-size:12px; font-weight:bold;" class="<%= @section["name"] %>">Description</p>
<table border="0" style="width=100%">
  <colgroup>
    <col width="20%">
    <col width="5%">
    <col width="75%">
  </colgroup>

  <tr>
    <td align="center">
      <%= image_tag fragment.f_figure %>
    </td>
    <td>
    </td>
    <td style="font-size:12px" align="justify" valign="top">
      <%=fragment.f_desc%>
    </td>
    <!--<td> </td>
    <td align="right">
      <%= image_tag fragment.f_figure %>
    </td>-->
  </tr>
</table>
<br/>
<%end%>
<br/>
<p style="font-size:12px; font-weight:bold; background-color:#C9DBD8">Occurrence (SCOP accession)</p>

<%testscop=Dapoccurrence.find(:all, :conditions => ["f_id=?", @page])%>

<%-scop_table=Array.new%>

<%-testscop.each do |tsc|%>

  <%-scop_entry=Scoparray.new%>

  <%-tsc_desc=Dapscop.find(:first, :conditions => ["scop_id=?", tsc.scop_id]).scop_desc%>

  <%-tsc_array = tsc.scop_id.split('.')%>

  <%-tsc_array[0]%>
  <%-first_tab = 0%>
  <%tsc_array[0].each_byte do |thebyte|%>
    <%-first_tab = (thebyte-96) * 10000000%>
  <%end%>
  <%-tsc_array[1]%>
  <%-second_tab = tsc_array[1].to_i * 10000%>
  <%-tsc_array[2]%>
  <%-third_tab = tsc_array[2].to_i * 10%>
  <%-complete=0%>
  <%if tsc_array[3]%>
    <%-forth_tab= tsc_array[3].to_i * 1%>
    <%-complete = first_tab + second_tab + third_tab + forth_tab %>
  <%else%>
    <%-tsc_array[3]= 'oh'%>
    <%-complete = first_tab + second_tab + third_tab %>
  <%end%>

  <%-scop_entry.sc_num=complete%>
  <%-scop_entry.sc_id=tsc.scop_id%>
  <%-scop_entry.sc_desc=tsc_desc%>

  <%-scop_table.push(scop_entry)%>

<%end%>

<%scop_table = scop_table.sort_by {|a| a.sc_num}%>

<table border="0" style="width=100%">
 <%scop_table.each do |scp|%>
  <tr>
    <td style="font-size:12px">
      <a href="http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?sccs=<%=scp.sc_id%>"><%=scp.sc_id%></a>
      </td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td style="font-size:12px">
        <%=scp.sc_desc%>
      </td>
    </tr>
    <%end%>
</table>
<br/>
<br/>

<!--<div><p style="font-size:14px; font-weight:bold;"><font face="monospace"><%=@alignment%></font></p></div>-->
<p style="font-size:12px; font-weight:bold;" class="<%= @section["name"] %>">Sequence Alignment</p>
<div style="width:700px; height:200px; overflow:auto;">
<table border="0">
<!--<colgroup>
   <col width="9%">
   <col width="1%">
   <col width="9%">
   <col width="1%">
   <col width="5%">
   <col width="2%">
   <col width="5%">
   <col width="2%">
   <col width="66%">
  </colgroup>-->
  <%Dapfragment.find(:all, :conditions => ["f_id=?", @page]).each do |itemalign|%>
      <%align=itemalign.f_align.split('\n')-%>
      <%for i in 0...align.length-%>
      <tr>
       <%eachline=align[i].split()-%>
       <%for j in 0...eachline.length-%>
        <%if i == 0-%>
          <%if j ==0-%>
            <td>&nbsp;&nbsp;<!--<b><font face="Monospace"><%=eachline[j]%></font></b>--></td><td>&nbsp;&nbsp;</td>
          <%elsif j ==eachline.length-1 -%>
            <%firstline=eachline[j]-%>
            <%charstart=0-%>
            <%newfirstline = ""-%>
            <%char=firstline[charstart].chr-%>
            <%for l in 1..firstline.length-1 -%>
              <%nextchar=firstline[l].chr-%>
              <%if nextchar != char || l==firstline.length-1 -%>
                <%if char=="h"-%>
                  <%charstart-%>
                  <%charend=l -%>
                  <%if l==firstline.length-1 -%>
                    <%charend+=1 -%>
                  <%end -%>
                  <%strlen=charend-charstart -%>
                  <%subh=firstline[charstart, strlen] -%>
                  <!--<%substringh = "<span style=\"background-color:#d4d400;\">"+subh+"</span>" -%>-->
                  <%substringh = "<span style=\"background-color:#ffffff;\">"+subh+"</span>" -%>
                  <%newfirstline += substringh -%>
                  <%charstart=l -%>
                <%elsif char=="c" -%>
                  <%charstart -%>
                  <%charend=l -%>
                  <%if l==firstline.length-1 -%>
                    <%charend+=1 -%>
                  <%end -%>
                  <%strlen=charend-charstart -%>
                  <%subc=firstline[charstart, strlen] -%>
                  <!--<%substringc = "<span style=\"background-color:#b5b5b5;\">"+subc+"</span>"-%>-->
                  <%substringc = "<span style=\"background-color:#ffffff;\">"+subc+"</span>"-%>
                  <%newfirstline += substringc -%>
		  <%charstart=l -%>
                <%elsif char=="b"-%>
                  <%charstart -%>
                  <%charend=l -%>
                  <%if l==firstline.length-1 -%>
                    <%charend+=1 -%>
                  <%end -%>
                  <%strlen=charend-charstart -%>
                  <%subb=firstline[charstart, strlen] -%>
                  <!--<%substringb="<span style=\"background-color:#0de00d;\">"+subb+"</span>" -%>-->
                  <%substringb="<span style=\"background-color:#ffffff;\">"+subb+"</span>" -%>
                  <%newfirstline += substringb -%>
                  <%charstart=l -%>
                <%else -%>
                <%end -%>
                <%char=firstline[charstart].chr -%>
              <%end -%>
            <%end -%>
            <td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td><td nowrap><font face="Monospace"><%=newfirstline%></font></td>
          <%end%>
        <%else%>
          <%if j !=eachline.length-1%>
            <%if j ==0 %>
              <td><font face="Monospace"><a
href="http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?sid=<%=eachline[j]%>"><%=eachline[j]%></a></font></td><td>&nbsp;&nbsp;</td>
            <%elsif j == 1 %>
              <td><font face="Monospace"><a
href="http://scop.mrc-lmb.cam.ac.uk/scop/search.cgi?sccs=<%=eachline[j]%>"><%=eachline[j]%></a></font></td><td>&nbsp;&nbsp;</td>
            <%else%>
              <td><font face="Monospace"><%=eachline[j]%></font></td><td>&nbsp;&nbsp;</td>
            <%end%>
          <%else%>
            <td nowrap><font face="Monospace"><%=eachline[j]%></font></td>
          <%end%>
        <%end%>
      <%end%>
</tr>
      <%end%>
  <%end%>
</table>
</div>

<!-- courier und monospace in Verbindung haben nicht funktioniert, daher nur monospace, da es sein kann, dass courier nicht bei allen Browsern funktioniert.-->
<br/>
<br/>
<%if Dapref.find(:first, :conditions => ["f_id=?", @page])%>
  <%if Dapref.find(:first, :conditions => ["f_id=?", @page]).r_reference != "NULL"%>
  <p style="font-size:12px; font-weight:bold;" class="<%= @section["name"] %>">References</p>
  <table border="0">
    <%Dapref.find(:all, :conditions => ["f_id=?", @page]).each do |ref|%>
      <tr>
        <td style="font-size:12px">
          <%=ref.r_reference%>
        </td>
      </tr>
    <% end %>
  </table>
  <%end%>
<%else%>
<%end%>
