<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
DAP provides a compilation of homolgous, subdomain-sized fragments that occur in two or more protein folds or in multiple copies in the same fold. The fragments are arranged into three different categories: all alpha, all beta, and mixed. A detailed description, together with a manually-curated sequence alignment, is provided for each ancestral peptide.
