<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :run, :job => 'ancient_dict'}, {:multipart => true})%>


<br/>
<big><b>A brief overview of the topic</b></big>
<br/><br/>
<big>In modern proteins, domains represent the unit of protein structure. However, even the simplest of domains are too complex to have arisen de novo.<br/>We are pursuing the hypothesis that folded proteins evolved by fusion and recombination from an ancestral set of peptides, which emerged in the context of RNA-dependent replication and catalysis (the "RNA world").<br/>The Database of Ancestral Peptides (DAP) provides a collection of ancestral peptides, which we have gathered by comparing today's proteins.</big>
