<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= render(:partial => "subitems") %>

<%= form_tag({:action => :run, :job => 'ancient_dict'}, {:multipart => true})%>

<p style="font-size:14px; font-weight:bold;">Fragments</p>
<table border="0" width="100%">
    <% for i in 0...1%>
      <tr>
        <td style="font-size:12px; font-weight:bold; width:25%">
          <%=@fragment_names[i]%>
        </td>
        <td style="font-size:12px; width:75%" align="justify">
          <%=@descriptions[i]%>
        </td>
      </tr>
    <% end %>
</table>


