<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>


<%= render(:partial => "links") %>

<h2><small><%= @motif %></small></h2>
<h3 class="<%= @section["name"] %>">Keywords</h3>
<p>
  <%= @keyword %>
</p>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Description</h3>
<p>
  <%= @descr %>
</p>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Occurrence</h3>
<p>
  <%= @occ %>
</p>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Function</h3>
<p>
  <%= @func %>
</p>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Structure Superposition</h3>
<p>
  <%= @superpos %>
</p>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Sequence Alignment</h3>
<p>
  <%= @seqali %>
</p>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">References</h3>
<p>
  <%= @ref %>
</p>



