<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= render(:partial => "subitems") %>

<%= form_tag({:action => :run, :job => 'ancient_dict'}, {:multipart => true})%>

<p style="font-size:14px; font-weight:bold;">Structural Motifs</p>
<table border="0" width="100%">
  <% for i in 0...@motif_names.length%>
    <colgroup>
      <col width="25%">
      <col width="75%">
    </colgroup>
    <tr>
      <td style="font-size:12px; font-weight:bold;">
        <a href="<%= DOC_ROOTURL %>/ancient_dict/motif"><%=@motif_names[i]%></a>
      </td>
      <td style="font-size:12px" align="justify">
        <%=@short_descriptions[i]%>
      </td>
    </tr>
  <% end %>
</table>


