<a href="#" onClick="openHelpWindow('/ancient_dict/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :run, :job => 'ancient_dict'}, {:multipart => true})%>

Dies soll zum updaten der mysql-Datenbank verwendet werden, allerdings nur für Administratoren sichtbar sein.


