# binary files of this directory
contacts
fast_pow2
hhalign
hhalign1
hhalign2
hhalign3
hhalign32
hhalign.exe
hhalignmap
hhalignment
hhalign_new
hhconsensus
hhcorr
hhcov
hhfilter
hhfilter1
hhformat
hhhit
hhmake
hhmake1
hhmake2
hhsearch
hhsearch1
hhsearch2
hhsearch_new
hhsearch-O3
hhsearch_rev
superpose3d
superpose3d_64
test_conserv
testhh
thread

originals
log
tmp
databases
config/database.yml
config/local_environment.rb
public/favicon.ico
public/.htaccess
public/robots.txt

## generic files to ignore
formatdb.log
*.sxc
*.bak
*~
*.lock
*.DS_Store
\#*\#

.project
.idea
.secret
/nbproject/private/
