<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input</a></li>
	<li><a href="#input_format">Input Format</a></li>
	<li><a href="#input_is">Input Type</a></li>
	<li><a href="#seqleng">Sequence length to be covered</a></li>
	<li><a href="#pitsdt">Percentage identity threshold/Score density threshold</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
Enter protein sequence alignment and choose its format from the dropdown menu.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="input_format"></a>
<h3 class="<%= @section["name"] %>">Input format</h3>
<div class="row">
	<p>
	Accepted formats are listed in the dropdown menu. 
	Format descriptions can be found <a href="/reformat/help_params#format">here</a>.	
	</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="input_is"></a>
<h3 class="<%= @section["name"] %>">Input Type</h3>
<div class="row">
	<p>
	Input can be either a protein sequence or a nuclein sequence.
	</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="seqleng"></a>
<h3 class="<%= @section["name"] %>">Sequence length to be covered</h3>
<div class="row">
	<p>
	The length of the parts of the sequences that are getting compared.
	</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="pitsdt"></a>
<h3 class="<%= @section["name"] %>">Percentage identity threshold/Score density threshold</h3>
<div class="row">
	<p>
	The Minimum identity that the compared sequences must have. Can be either a Score density threshold or a Percent identity threshold.
	</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>