<br/>

<div id="toolsection">
	<ul class="<%= @section['theme'] -%>">
		<li><a href="<%= url_for(:action => 'search') %>" onmouseover="return overlib('Submit new job');" onmouseout="return nd();">New job</a></li>
		<li><a href="<%= url_for(:action => 'destroy', :jobid => @job)%>" onmouseover="return overlib('Delete this job!');" onmouseout="return nd();">Delete</a></li>		
	</ul>
</div>

<a href="#" onClick="openHelpWindow('<%= url_for(:action => 'help_ov') %>');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 10px;"></a>
<h2>
<%= @job.config['title'] %>
<% if defined?(title_extra) %>
 - <%= title_extra %>
<% end -%>
<span style="font-size: 12px; font-weight: normal;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job-ID: <%= @job.jobid %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date: <%= @job.created_on.strftime('%H:%M on %b %d %Y') %>
</span>

</h2>
