<a href="#" onClick="openHelpWindow('/dataa/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><% if @id.empty? %>


<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<% else %>

<%= render(:partial => "dataajobspecs", :locals => {:title_extra => 'Results', :toolname => @job.tool}) %>
  
<%= render(:partial => "shared/resultsections", :locals => {:export => false}) %>

<% end %>

<div class="row">

<%= @ret %>

</div>
