.p-1 polygon {
fill:#DDDDDD;
stroke:#000000;
}

.p-1 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p-1 {
color:#000000;
background-color:#DDDDDD;
}

.p0 polygon {
fill:#9933FF;
stroke:#000000;
}

.p0 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p0 {
color:#000000;
background-color:#9933FF;
}

.p1 polygon {
fill:#9933FF;
stroke:#000000;
}

.p1 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p1 {
color:#000000;
background-color:#9933FF;
}

.p2 polygon {
fill:#9933FF;
stroke:#000000;
}

.p2 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p2 {
color:#000000;
background-color:#9933FF;
}

.p3 polygon {
fill:#015700;
stroke:#000000;
}

.p3 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p3 {
color:#000000;
background-color:#015700;
}

.p4 polygon {
fill:#9933FF;
stroke:#000000;
}

.p4 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p4 {
color:#000000;
background-color:#9933FF;
}

.p5 polygon {
fill:#900000;
stroke:#000000;
}

.p5 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p5 {
color:#000000;
background-color:900000;
}

.p6 polygon {
fill:#0000FF;
stroke:#000000;
}

.p6 text {
color:#DDDDDD;
text-anchor:middle;
}

#dataa2alignment .p6 {
color:#DDDDDD;
background-color:#0000FF;
}

.p7 polygon {
fill:#9900FF;
stroke:#000000;
}

.p7 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p7 {
color:#000000;
background-color:#9900FF;
}

.p8 polygon {
fill:#FFCC00;
stroke:#000000;
}

.p8 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p8 {
color:#000000;
background-color:#FFCC00;
}

.p9 polygon {
fill:#015700;
stroke:#000000;
}

.p9 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p9 {
color:#000000;
background-color:#015700;
}

.p10 polygon {
fill:#900000;
stroke:#000000;
}

.p10 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p10 {
color:#000000;
background-color:#900000;
}

.p11 polygon {
fill:#CDC773;
stroke:#000000;
}

.p11 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p11 {
color:#000000;
background-color:#CDC773;
}

.p12 polygon {
fill:#900000;
stroke:#000000;
}

.p12 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p12 {
color:#000000;
background-color:#900000;
}

.p13 polygon {
fill:#33CC33;
stroke:#000000;
}

.p13 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p13 {
color:#000000;
background-color:#33CC33;
}

.p14 polygon {
fill:#339933;
stroke:#000000;
}

.p14 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p14 {
color:#000000;
background-color:#339933;
}

.p15 polygon {
fill:#339933;
stroke:#000000;
}

.p15 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p15 {
color:#000000;
background-color:#339933;
}

.p16 polygon {
fill:#FFCC00;
stroke:#000000;
}

.p16 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p16 {
color:#000000;
background-color:#FFCC00;
}

.p17 polygon {
fill:#FFCC00;
stroke:#000000;
}

.p17 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p17 { 
color:#000000;
background-color:#FFCC00;
}

.p18 polygon {
fill:#FFCC00;
stroke:#000000;
}

.p18 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p18 {
color:#000000;
background-color:#FFCC00;
}


.p19 polygon {
fill:#6600CC;
stroke:#000000;
}

.p19 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p19 {
color:#000000;
background-color:#6600CC;
}

.p20 polygon {
fill:#FFFF00;
stroke:#000000;
}

.p20 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p20 {
color:#000000;
background-color:#FFFF00;
}

.p21 polygon {
fill:#FF00FF;
stroke:#000000;
}

.p21 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p21 {
color:#000000;
background-color:#FF00FF;
}

.p22 polygon {
fill:#EECE68;
stroke:#000000;
}

.p22 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p22 {
color:#000000;
background-color:#EECE68;
}

.p23 polygon {
fill:#339933;
stroke:#000000;
}

.p23 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p23 {
color:#000000;
background-color:#339933;
}

.p24 polygon {
fill:#7C0000;
stroke:#000000;
}

.p24 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p24 {
color:#000000;
background-color:#7C0000;
}

.p25 polygon {
fill:#808080;
stroke:#000000;
}

.p25 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p25 {
color:#DDDDDD;
background-color:#808080;
}

.p26 polygon {
fill:#00FFFF;
stroke:#000000;
}

.p26 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p26 {
color:#000000;
background-color:#00FFFF;
}

.p27 polygon {
fill:#DD00FF;
stroke:#000000;
}

.p27 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p27 {
color:#000000;
background-color:#FF00FF;
}

.p28 polygon {
fill:#900000;
stroke:#000000;
}

.p28 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p28 {
color:#000000;
background-color:#900000;
}

.p29 polygon {
fill:#7C0000;
stroke:#000000;
}

.p29 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p29 {
color:#000000;
background-color:#7C0000;
}

.p30 polygon {
fill:#BBB669;
stroke:#000000;
}

.p30 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p30 {
color:#000000;
background-color:#BBB669;
}

.p31 polygon {
fill:#0000FF;
stroke:#000000;
}

.p31 text {
color:#DDDDDD;
text-anchor:middle;
}

#dataa2alignment .p31 {
color:#DDDDDD;
background-color:#0000FF;
}

.p32 polygon {
fill:#EECE68;
stroke:#000000;
}

.p32 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p32 {
color:#000000;
background-color:#EECE68;
}

.p33 polygon {
fill:#DDDDFF;
stroke:#000000;
}

.p33 text {
color:#000000;
text-anchor:middle;
}

#dataa2alignment .p33 {
color:#000000;
background-color:#DDDDFF;
}