A very accurate multiple alignment program for amino acid or nucleotide sequences. (MAFFT: Multiple sequence Alignment based on Fast Fourier Transform) 
[MAFFT v7; <a href="http://mafft.cbrc.jp/alignment/software/" target="blank">http://mafft.cbrc.jp/alignment/software/</a>]
