Multiple alignment program for amino acid or nucleotide sequences
<br/>
[MAFFT v5.7; <a href="http://align.bmr.kyushu-u.ac.jp/mafft/software/" target="blank">http://align.bmr.kyushu-u.ac.jp/mafft/software/</a>]
