A very accurate multiple alignment program for amino acid or nucleotide sequences. (MAFFT: Multiple sequence Alignment based on Fast Fourier Transform) 
<br/>
[MAFFT v7; <a href="http://align.bmr.kyushu-u.ac.jp/mafft/software/" target="blank">http://align.bmr.kyushu-u.ac.jp/mafft/software/</a>]
