<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Multiple alignment program for amino acid or nucleotide sequences
<br/>
[MAFFT v7; <a href="http://mafft.cbrc.jp/alignment/software/" target="_blank">http://mafft.cbrc.jp/alignment/software/</a>]
</div>

