<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Multiple alignment program for amino acid or nucleotide sequences
<br/>
[MAFFT ver.5.7; <a href="http://www.biophys.kyoto-u.ac.jp/~katoh/programs/align/mafft/" target="blank">http://www.biophys.kyoto-u.ac.jp/~katoh/programs/align/mafft/</a>]
</div>

