<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Multiple alignment program for amino acid or nucleotide sequences
<br/>
[MAFFT ver.6; <a href="http://align.bmr.kyushu-u.ac.jp/mafft/software/" target="blank">http://align.bmr.kyushu-u.ac.jp/mafft/software/</a>]
</div>

