<a href="#" onClick="openHelpWindow('/mafft/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'mafft'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Enter sequences in FASTA format", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
  <div class="formw">
    <span style="color: #008C50;">
      Create alignment of<a href="#" style="color: #008C50;" onClick="javascript:pasteExample();"> viral DNA ligases.</a>
    </span>
  </div>
</div>

<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
	<%= form_label("CLUSTALW output format", "clustalw") %>
	<%= form_checkbox("clustalw", '1', false) %>	
</div>

<div class="row">
	<%= form_label("Output in alignment order", "alnorder") %>
	<%= form_checkbox("alnorder", '1', false) %>	
</div>

<div class="row">
	<%= form_label("Gap opening penalty (>0)", "gapopen") %>
	<%= form_text_field("gapopen", "1.53") %>
</div>

<div class="row">
	<%= form_label("Offset (>0)<br><small>(works like gap extension penalty)</small>", "offset") %>
	<%= form_text_field("offset", "0.00") %>
</div>

<div class="row">
	<%= form_label("Other advanced options", "otheradvanced") %>
	<%= form_text_field("otheradvanced", "", "", 50) %>
</div>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>

<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>
