ClubSub-P is a database of cluster-based subcellular localization (SCL) predictions for Archaea and Gram negative bacteria.
 It combines existing feature prediction and SCL prediction tools into a consensus prediction pipeline. 
On top of the consensus prediction at the level of single sequences, the tool uses clusters of homologous proteins from 
Gram-negative bacteria and from Archaea to eliminate false positive and false negative predictions.
