<a href="#" onClick="openHelpWindow('/clubsubp/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<h3 class="<%= @section["name"]%>">Browse the database</h3>

<!-- 
CALLING EXPLORER TREE JAVASCRIPT AND STYLE SHEET
-->

<script language='javascript' src="/javascripts/explorertree.js"></script>
<link type='text/css' media='all' rel= 'stylesheet' href='/stylesheets/explorertree.css' />


<!-- Taxonomy Tree starts here, Tree constructed using http://www.ncbi.nlm.nih.gov/Taxonomy/CommonTree/wwwcmt.cgi
tool from NCBI
-->

<button type='button' onclick="explorerTreeCollapse('root')" style = "border: 1px solid #C2C2C2; background-color:#FFFFFF";>Collapse all</button>
<button type='button' onclick="explorerTreeExpand('root')" style = "border: 1px solid #C2C2C2; background-color:#FFFFFF";>Expand all</button>
<BR><BR>
<UL CLASS='explorertree' id='root'><LI class='explorertree-open'>Proteobacteria
	<UL><LI class='explorertree-open'>Alphaproteobacteria
	<UL><LI >Rhodospirillales
	<UL><LI >Acetobacteraceae
	<UL><LI >Granulibacter
	<UL><LI >Granulibacter bethesdensis CGDNIH1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008343'>NC_008343</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Gluconobacter
	<UL><LI >Gluconobacter oxydans 621H
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006677'>NC_006677</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006672'>NC_006672</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006673'>NC_006673</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006675'>NC_006675</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006674'>NC_006674</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006676'>NC_006676</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodospirillaceae
	<UL><LI >Magnetospirillum
	<UL><LI >Magnetospirillum magneticum AMB-1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007626'>NC_007626</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodospirillum
	<UL><LI >Rhodospirillum rubrum ATCC 11170
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007643'>NC_007643</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007641'>NC_007641</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Sphingomonadales
	<UL><LI >Erythrobacteraceae
	<UL><LI >Erythrobacter litoralis HTCC2594
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007722'>NC_007722</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Sphingomonadaceae
	<UL><LI >Sphingopyxis
	<UL><LI >Sphingopyxis alaskensis RB2256
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008048'>NC_008048</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008036'>NC_008036</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Novosphingobium
	<UL><LI >Novosphingobium aromaticivorans DSM 12444
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007794'>NC_007794</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009427'>NC_009427</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009426'>NC_009426</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Zymomonas
	<UL><LI >Zymomonas mobilis subsp. mobilis ZM4
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006526'>NC_006526</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodobacterales
	<UL><LI >Rhodobacteraceae
	<UL><LI >Roseobacter
	<UL><LI >Roseobacter denitrificans OCh 114
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008209'>NC_008209</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008387'>NC_008387</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008386'>NC_008386</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008389'>NC_008389</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008388'>NC_008388</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Paracoccus
	<UL><LI >Paracoccus denitrificans PD1222
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008687'>NC_008687</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008686'>NC_008686</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008688'>NC_008688</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Jannaschia
	<UL><LI >Jannaschia sp. CCS1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007802'>NC_007802</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007801'>NC_007801</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodobacter
	<UL><LI >Rhodobacter sphaeroides 2.4.1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007494'>NC_007494</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007493'>NC_007493</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007488'>NC_007488</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009007'>NC_009007</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007490'>NC_007490</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007489'>NC_007489</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009008'>NC_009008</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Ruegeria
	<UL><LI >Ruegeria pomeroyi DSS-3
<UL>
<LI><a href='<%= DOC_ROOTURL %>/clubsuibp/genomes?accession=NC_006569'>NC_006569</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003911'>NC_003911</a></LI>
</UL>
<UL></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Hyphomonadaceae
	<UL><LI >Maricaulis
	<UL><LI >Maricaulis maris MCS10
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008347'>NC_008347</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Hyphomonas
	<UL><LI >Hyphomonas neptunium ATCC 15444
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008358'>NC_008358</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Caulobacterales
	<UL><LI >Caulobacter crescentus CB15
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002696'>NC_002696</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhizobiales
	<UL><LI >Bartonellaceae
	<UL><LI >Bartonella
	<UL><LI >Bartonella bacilliformis
	<UL><LI >Bartonella bacilliformis KC583
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008783'>NC_008783</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Bartonella henselae
	<UL><LI >Bartonella henselae str. Houston-1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005956'>NC_005956</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Bartonella quintana
	<UL><LI >Bartonella quintana str. Toulouse
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005955'>NC_005955</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Phyllobacteriaceae
	<UL><LI >Mesorhizobium loti MAFF303099
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002678'>NC_002678</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002682'>NC_002682</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002679'>NC_002679</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Bradyrhizobiaceae
	<UL><LI >Nitrobacter
	<UL><LI >Nitrobacter winogradskyi
	<UL><LI >Nitrobacter winogradskyi Nb-255
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007406'>NC_007406</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Nitrobacter hamburgensis
	<UL><LI >Nitrobacter hamburgensis X14
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007964'>NC_007964</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007959'>NC_007959</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007961'>NC_007961</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007960'>NC_007960</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodopseudomonas
	<UL><LI >Rhodopseudomonas palustris BisA53
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008435'>NC_008435</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Bradyrhizobium
	<UL><LI >Bradyrhizobium japonicum USDA 110
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004463'>NC_004463</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Brucellaceae
	<UL><LI >Brucella
	<UL><LI >Brucella abortus
	<UL><LI >Brucella abortus bv. 1 str. 9-941
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006932'>NC_006932</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006933'>NC_006933</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Brucella melitensis
	<UL><LI >Brucella melitensis bv. 1 str. 16M
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003317'>NC_003317</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003318'>NC_003318</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Brucella suis
	<UL><LI >Brucella suis 1330
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004310'>NC_004310</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004311'>NC_004311</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhizobiaceae
	<UL><LI >Sinorhizobium/Ensifer group
	<UL><LI >Sinorhizobium meliloti 1021
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003047'>NC_003047</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003078'>NC_003078</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003037'>NC_003037</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhizobium/Agrobacterium group
	<UL><LI >Rhizobium
	<UL><LI >Rhizobium etli
	<UL><LI >Rhizobium etli CFN 42
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007761'>NC_007761</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007766'>NC_007766</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007764'>NC_007764</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007765'>NC_007765</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004041'>NC_004041</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007763'>NC_007763</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007762'>NC_007762</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhizobium leguminosarum
	<UL><LI >Rhizobium leguminosarum bv. viciae 3841
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008381'>NC_008381</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008383'>NC_008383</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008378'>NC_008378</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008380'>NC_008380</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008384'>NC_008384</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008382'>NC_008382</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008379'>NC_008379</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Agrobacterium
	<UL><LI >Agrobacterium tumefaciens str. C58
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003063'>NC_003063</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003062'>NC_003062</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003065'>NC_003065</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003064'>NC_003064</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rickettsiales
	<UL><LI >SAR11 cluster
	<UL><LI >Candidatus Pelagibacter ubique HTCC1062
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007205'>NC_007205</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Anaplasmataceae
	<UL><LI >Neorickettsia
	<UL><LI >Neorickettsia sennetsu str. Miyayama
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007798'>NC_007798</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Anaplasma
	<UL><LI >Anaplasma marginale
	<UL><LI >Anaplasma marginale str. St. Maries
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004842'>NC_004842</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >phagocytophilum group
	<UL><LI >Anaplasma phagocytophilum HZ
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007797'>NC_007797</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Ehrlichia
	<UL><LI >canis group
	<UL><LI >Ehrlichia ruminantium
	<UL><LI >Ehrlichia ruminantium str. Gardel
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006831'>NC_006831</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Ehrlichia canis
	<UL><LI >Ehrlichia canis str. Jake
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007354'>NC_007354</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Ehrlichia chaffeensis
	<UL><LI >Ehrlichia chaffeensis str. Arkansas
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007799'>NC_007799</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rickettsiaceae
	<UL><LI >Rickettsieae
	<UL><LI >Rickettsia
	<UL><LI >unclassified Rickettsia
	<UL><LI >Rickettsia bellii RML369-C
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007940'>NC_007940</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >spotted fever group
	<UL><LI >Rickettsia felis
	<UL><LI >Rickettsia felis URRWXCal2
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007109'>NC_007109</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007110'>NC_007110</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007111'>NC_007111</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rickettsia conorii
	<UL><LI >Rickettsia conorii str. Malish 7
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003103'>NC_003103</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >typhus group
	<UL><LI >Rickettsia prowazekii
	<UL><LI >Rickettsia prowazekii str. Madrid E
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_000963'>NC_000963</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rickettsia typhi
	<UL><LI >Rickettsia typhi str. Wilmington
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006142'>NC_006142</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Wolbachieae
	<UL><LI >Wolbachia endosymbiont of Drosophila melanogaster
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002978'>NC_002978</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI class='explorertree-open'>Betaproteobacteria
	<UL><LI >Hydrogenophilales
	<UL><LI >Thiobacillus denitrificans ATCC 25259
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007404'>NC_007404</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Methylophilales
	<UL><LI >Methylobacillus flagellatus KT
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007947'>NC_007947</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderiales
	<UL><LI >unclassified Burkholderiales
	<UL><LI >Methylibium petroleiphilum PM1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008825'>NC_008825</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008826'>NC_008826</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Comamonadaceae
	<UL><LI >Acidovorax
	<UL><LI >Acidovorax citrulli AAC00-1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008752'>NC_008752</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Verminephrobacter
	<UL><LI >Verminephrobacter eiseniae EF01-2
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008786'>NC_008786</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008771'>NC_008771</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Polaromonas
	<UL><LI >Polaromonas naphthalenivorans CJ2
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008781'>NC_008781</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008760'>NC_008760</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008757'>NC_008757</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008758'>NC_008758</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008761'>NC_008761</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008759'>NC_008759</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008762'>NC_008762</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008763'>NC_008763</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodoferax
	<UL><LI >Rhodoferax ferrireducens T118
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007908'>NC_007908</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007901'>NC_007901</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Alcaligenaceae
	<UL><LI >Bordetella
	<UL><LI >Bordetella pertussis
	<UL><LI >Bordetella pertussis Tohama I
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002929'>NC_002929</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Bordetella parapertussis
	<UL><LI >Bordetella parapertussis 12822
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002928'>NC_002928</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Bordetella bronchiseptica
	<UL><LI >Bordetella bronchiseptica RB50
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002927'>NC_002927</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderiaceae
	<UL><LI >Ralstonia
	<UL><LI >Ralstonia solanacearum GMI1000
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003295'>NC_003295</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003296'>NC_003296</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Cupriavidus
	<UL><LI >Cupriavidus necator
	<UL><LI >Ralstonia eutropha H16
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008314'>NC_008314</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008313'>NC_008313</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005241'>NC_005241</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Cupriavidus metallidurans
	<UL><LI >Cupriavidus metallidurans CH34
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007974'>NC_007974</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007973'>NC_007973</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007972'>NC_007972</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007971'>NC_007971</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderia
	<UL><LI >Burkholderia cepacia complex
	<UL><LI >Burkholderia ambifaria
	<UL><LI >Burkholderia ambifaria AMMD
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008390'>NC_008390</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008391'>NC_008391</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008392'>NC_008392</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008385'>NC_008385</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderia cenocepacia
	<UL><LI >Burkholderia cenocepacia AU 1054
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008060'>NC_008060</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008062'>NC_008062</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008061'>NC_008061</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderia xenovorans
	<UL><LI >Burkholderia xenovorans LB400
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007952'>NC_007952</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007953'>NC_007953</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007951'>NC_007951</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >pseudomallei group
	<UL><LI >Burkholderia pseudomallei
	<UL><LI >Burkholderia pseudomallei 1106a
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009078'>NC_009078</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009076'>NC_009076</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderia thailandensis
	<UL><LI >Burkholderia thailandensis E264
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007651'>NC_007651</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007650'>NC_007650</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Burkholderia mallei
	<UL><LI >Burkholderia mallei ATCC 23344
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006348'>NC_006348</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006349'>NC_006349</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Neisseriales
	<UL><LI >Neisseriaceae
	<UL><LI >Chromobacterium group
	<UL><LI >Chromobacterium violaceum ATCC 12472
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005085'>NC_005085</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Neisseria
	<UL><LI >Neisseria meningitidis
	<UL><LI >Neisseria meningitidis FAM18
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008767'>NC_008767</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Neisseria gonorrhoeae
	<UL><LI >Neisseria gonorrhoeae FA 1090
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002946'>NC_002946</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Nitrosomonadales
	<UL><LI >Nitrosomonadaceae
	<UL><LI >Nitrosospira
	<UL><LI >Nitrosospira multiformis ATCC 25196
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007614'>NC_007614</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007617'>NC_007617</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007616'>NC_007616</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007615'>NC_007615</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Nitrosomonas
	<UL><LI >Nitrosomonas eutropha
	<UL><LI >Nitrosomonas eutropha C91
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008344'>NC_008344</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008341'>NC_008341</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008342'>NC_008342</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Nitrosomonas europaea
	<UL><LI >Nitrosomonas europaea ATCC 19718
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004757'>NC_004757</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Rhodocyclales
	<UL><LI >Rhodocyclaceae
	<UL><LI >Dechloromonas
	<UL><LI >Dechloromonas aromatica RCB
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007298'>NC_007298</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Azoarcus
	<UL><LI >Azoarcus sp. BH72
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008702'>NC_008702</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI class='explorertree-open'>Delta/Epsilon subdivisions
	<UL><LI >Epsilonproteobacteria
	<UL><LI >Campylobacterales
	<UL><LI >Campylobacteraceae
	<UL><LI >Campylobacter
	<UL><LI >Campylobacter fetus
	<UL><LI >Campylobacter fetus subsp. fetus 82-40
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008599'>NC_008599</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Campylobacter jejuni
	<UL><LI >Campylobacter jejuni RM1221
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003912'>NC_003912</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Helicobacteraceae
	<UL><LI >Sulfurimonas
	<UL><LI >Sulfurimonas denitrificans DSM 1251
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007575'>NC_007575</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Wolinella
	<UL><LI >Wolinella succinogenes DSM 1740
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005090'>NC_005090</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Helicobacter
	<UL><LI >Helicobacter acinonychis
	<UL><LI >Helicobacter acinonychis str. Sheeba
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008229'>NC_008229</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008230'>NC_008230</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Helicobacter hepaticus
	<UL><LI >Helicobacter hepaticus ATCC 51449
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004917'>NC_004917</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Helicobacter pylori
	<UL><LI >Helicobacter pylori 26695
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_000915'>NC_000915</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Deltaproteobacteria
	<UL><LI >Bdellovibrionales
	<UL><LI >Bdellovibrio bacteriovorus HD100
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005363'>NC_005363</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Myxococcales
	<UL><LI >Myxococcaceae
	<UL><LI >Anaeromyxobacter
	<UL><LI >Anaeromyxobacter dehalogenans 2CP-C
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007760'>NC_007760</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Myxococcus
	<UL><LI >Myxococcus xanthus DK 1622
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008095'>NC_008095</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Desulfuromonadales
	<UL><LI >Pelobacteraceae
	<UL><LI >Pelobacter
	<UL><LI >Pelobacter propionicus
	<UL><LI >Pelobacter propionicus DSM 2379
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008609'>NC_008609</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008608'>NC_008608</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008607'>NC_008607</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pelobacter carbinolicus
	<UL><LI >Pelobacter carbinolicus DSM 2380
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007498'>NC_007498</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Geobacteraceae
	<UL><LI >Geobacter
	<UL><LI >Geobacter metallireducens
	<UL><LI >Geobacter metallireducens GS-15
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007517'>NC_007517</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007515'>NC_007515</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Geobacter sulfurreducens
	<UL><LI >Geobacter sulfurreducens PCA
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002939'>NC_002939</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Desulfovibrionales
	<UL><LI >Desulfovibrionaceae
	<UL><LI >Lawsonia
	<UL><LI >Lawsonia intracellularis PHE/MN1-00
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008011'>NC_008011</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008012'>NC_008012</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008014'>NC_008014</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008013'>NC_008013</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Desulfovibrio
	<UL><LI >Desulfovibrio vulgaris
	<UL><LI >Desulfovibrio vulgaris DP4
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008751'>NC_008751</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008751'>NC_008751</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Desulfovibrio desulfuricans
	<UL><LI >Desulfovibrio desulfuricans subsp. desulfuricans str. G20
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007519'>NC_007519</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Desulfobacterales
	<UL><LI >Desulfotalea psychrophila LSv54
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006138'>NC_006138</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006139'>NC_006139</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006140'>NC_006140</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Syntrophobacterales
	<UL><LI >Syntrophobacteraceae
	<UL><LI >Syntrophobacter fumaroxidans MPOB
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008554'>NC_008554</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Syntrophaceae
	<UL><LI >Syntrophus aciditrophicus SB
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007759'>NC_007759</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI class='explorertree-open'>Gammaproteobacteria
	<UL><LI >Aeromonadales
	<UL><LI >Aeromonas hydrophila subsp. hydrophila ATCC 7966
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008570'>NC_008570</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >unclassified Gammaproteobacteria
	<UL><LI >sulfur-oxidizing symbionts
	<UL><LI >Candidatus Ruthia magnifica str. Cm (Calyptogena magnifica)
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008610'>NC_008610</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Candidatus Carsonella
	<UL><LI >Candidatus Carsonella ruddii PV
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008512'>NC_008512</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Candidatus Baumannia
	<UL><LI >Baumannia cicadellinicola str. Hc (Homalodisca coagulata)
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007984'>NC_007984</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Thiotrichales
	<UL><LI >Francisellaceae
	<UL><LI >Francisella tularensis subsp. holarctica OSU18
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008369'>NC_008369</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Piscirickettsiaceae
	<UL><LI >Thiomicrospira crunogena XCL-2
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007520'>NC_007520</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Oceanospirillales
	<UL><LI >Alcanivoracaceae
	<UL><LI >Alcanivorax borkumensis SK2
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008260'>NC_008260</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Hahellaceae
	<UL><LI >Hahella chejuensis KCTC 2396
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007645'>NC_007645</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Halomonadaceae
	<UL><LI >Chromohalobacter salexigens DSM 3043
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007963'>NC_007963</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Methylococcales
	<UL><LI >Methylococcus capsulatus str. Bath
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002977'>NC_002977</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Legionellales
	<UL><LI >Legionellaceae
	<UL><LI >Legionella pneumophila str. Lens
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006369'>NC_006369</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006366'>NC_006366</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Coxiellaceae
	<UL><LI >Coxiella burnetii RSA 493
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002971'>NC_002971</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004704'>NC_004704</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Vibrionales
	<UL><LI >Vibrionaceae
	<UL><LI >Aliivibrio
	<UL><LI >Vibrio fischeri ES114
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006840'>NC_006840</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006841'>NC_006841</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006842'>NC_006842</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Photobacterium
	<UL><LI >Photobacterium profundum SS9
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006370'>NC_006370</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006371'>NC_006371</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005871'>NC_005871</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Vibrio
	<UL><LI >Vibrio cholerae
	<UL><LI >Vibrio cholerae O1 biovar El Tor str. N16961
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002505'>NC_002505</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002506'>NC_002506</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Vibrio harveyi group
	<UL><LI >Vibrio parahaemolyticus RIMD 2210633
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004603'>NC_004603</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004605'>NC_004605</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Vibrio vulnificus
	<UL><LI >Vibrio vulnificus CMCP6
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004459'>NC_004459</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004460'>NC_004460</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Pasteurellales
	<UL><LI >Pasteurellaceae
	<UL><LI >Actinobacillus
	<UL><LI >Actinobacillus pleuropneumoniae L20
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009053'>NC_009053</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pasteurella
	<UL><LI >Pasteurella multocida subsp. multocida str. Pm70
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002663'>NC_002663</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Haemophilus
	<UL><LI >Haemophilus influenzae
	<UL><LI >Haemophilus influenzae 86-028NP
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007146'>NC_007146</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Haemophilus ducreyi
	<UL><LI >Haemophilus ducreyi 35000HP
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002940'>NC_002940</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Basfia
	<UL><LI >Mannheimia succiniciproducens MBEL55E
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006300'>NC_006300</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Histophilus
	<UL><LI >Haemophilus somnus 129PT
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008309'>NC_008309</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006298'>NC_006298</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Chromatiales
	<UL><LI >Chromatiaceae
	<UL><LI >Nitrosococcus oceani ATCC 19707
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007484'>NC_007484</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007483'>NC_007483</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Ectothiorhodospiraceae
	<UL><LI >Halorhodospira
	<UL><LI >Halorhodospira halophila SL1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008789'>NC_008789</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Alkalilimnicola
	<UL><LI >Alkalilimnicola ehrlichii MLHE-1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008340'>NC_008340</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Alteromonadales
	<UL><LI >Psychromonadaceae
	<UL><LI >Psychromonas ingrahamii 37
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008709'>NC_008709</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudoalteromonadaceae
	<UL><LI >Pseudoalteromonas
	<UL><LI >Pseudoalteromonas atlantica
	<UL><LI >Pseudoalteromonas atlantica T6c
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008228'>NC_008228</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudoalteromonas haloplanktis
	<UL><LI >Pseudoalteromonas haloplanktis TAC125
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007481'>NC_007481</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007482'>NC_007482</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Idiomarinaceae
	<UL><LI >Idiomarina loihiensis L2TR
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006512'>NC_006512</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shewanellaceae
	<UL><LI >Shewanella
	<UL><LI >Shewanella amazonensis
	<UL><LI >Shewanella amazonensis SB2B
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008700'>NC_008700</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shewanella loihica
	<UL><LI >Shewanella loihica PV-4
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009092'>NC_009092</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shewanella frigidimarina
	<UL><LI >Shewanella frigidimarina NCIMB 400
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008345'>NC_008345</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shewanella denitrificans
	<UL><LI >Shewanella denitrificans OS217
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007954'>NC_007954</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shewanella oneidensis
	<UL><LI >Shewanella oneidensis MR-1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004347'>NC_004347</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004349'>NC_004349</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Alteromonadaceae
	<UL><LI >Marinobacter
	<UL><LI >Marinobacter aquaeolei VT8
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008740'>NC_008740</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008739'>NC_008739</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008738'>NC_008738</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Saccharophagus
	<UL><LI >Saccharophagus degradans 2-40
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007912'>NC_007912</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Colwelliaceae
	<UL><LI >Colwellia psychrerythraea 34H
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003910'>NC_003910</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Xanthomonadales
	<UL><LI >Xanthomonadaceae
	<UL><LI >Xanthomonas
	<UL><LI >Xanthomonas campestris
	<UL><LI >Xanthomonas campestris pv. campestris str. 8004
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007086'>NC_007086</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Xanthomonas oryzae
	<UL><LI >Xanthomonas oryzae pv. oryzae KACC10331
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006834'>NC_006834</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Xanthomonas axonopodis
	<UL><LI >Xanthomonas axonopodis pv. citri str. 306
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003919'>NC_003919</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003921'>NC_003921</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003922'>NC_003922</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Xylella
	<UL><LI >Xylella fastidiosa 9a5c
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002488'>NC_002488</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002490'>NC_002490</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002489'>NC_002489</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudomonadales
	<UL><LI >Moraxellaceae
	<UL><LI >Acinetobacter
	<UL><LI >Acinetobacter baumannii ATCC 17978
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009085'>NC_009085</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009083'>NC_009083</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009084'>NC_009084</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Psychrobacter
	<UL><LI >Psychrobacter cryohalolentis
	<UL><LI >Psychrobacter cryohalolentis K5
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007969'>NC_007969</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007968'>NC_007968</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Psychrobacter arcticus
	<UL><LI >Psychrobacter arcticus 273-4
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007204'>NC_007204</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudomonadaceae
	<UL><LI >Pseudomonas
	<UL><LI >Pseudomonas entomophila
	<UL><LI >Pseudomonas entomophila L48
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008027'>NC_008027</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudomonas syringae group
	<UL><LI >Pseudomonas syringae pv. phaseolicola 1448A
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005773'>NC_005773</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007275'>NC_007275</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007274'>NC_007274</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudomonas fluorescens group
	<UL><LI >Pseudomonas fluorescens Pf-5
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004129'>NC_004129</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudomonas aeruginosa group
	<UL><LI >Pseudomonas aeruginosa PAO1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002516'>NC_002516</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pseudomonas putida group
	<UL><LI >Pseudomonas putida KT2440
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_002947'>NC_002947</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Enterobacteriales
	<UL><LI >Enterobacteriaceae
	<UL><LI >Buchnera
	<UL><LI >Buchnera aphidicola str. 5A (Acyrthosiphon pisum)
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_011833'>NC_011833</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Sodalis
	<UL><LI >Sodalis glossinidius str. 'morsitans'
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007712'>NC_007712</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007713'>NC_007713</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007714'>NC_007714</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007715'>NC_007715</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Yersinia
	<UL><LI >Yersinia enterocolitica
	<UL><LI >Yersinia enterocolitica subsp. enterocolitica 8081
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008800'>NC_008800</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008791'>NC_008791</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Yersinia pestis
	<UL><LI >Yersinia pestis Antiqua
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008150'>NC_008150</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008120'>NC_008120</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008121'>NC_008121</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_008122'>NC_008122</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Yersinia pseudotuberculosis
	<UL><LI >Yersinia pseudotuberculosis IP 32953
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006155'>NC_006155</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006153'>NC_006153</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006154'>NC_006154</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Photorhabdus
	<UL><LI >Photorhabdus luminescens subsp. laumondii TTO1
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005126'>NC_005126</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Pectobacterium
	<UL><LI >Pectobacterium atrosepticum SCRI1043
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004547'>NC_004547</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >unclassified Enterobacteriaceae
	<UL><LI >Candidatus Blochmannia floridanus
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_005061'>NC_005061</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Escherichia
	<UL><LI >Escherichia coli CFT073
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004431'>NC_004431</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shigella
	<UL><LI >Shigella sonnei
	<UL><LI >Shigella sonnei Ss046
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007384'>NC_007384</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007385'>NC_007385</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009345'>NC_009345</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009346'>NC_009346</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shigella boydii
	<UL><LI >Shigella boydii Sb227
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007613'>NC_007613</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007608'>NC_007608</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shigella dysenteriae
	<UL><LI >Shigella dysenteriae Sd197
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007606'>NC_007606</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_007607'>NC_007607</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_009344'>NC_009344</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Shigella flexneri
	<UL><LI >Shigella flexneri 2a str. 2457T
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004741'>NC_004741</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Salmonella
	<UL><LI >Salmonella enterica subsp. enterica
	<UL><LI >Salmonella enterica subsp. enterica serovar Choleraesuis
	<UL><LI >Salmonella enterica subsp. enterica serovar Choleraesuis str. SC-B67
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006905'>NC_006905</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006856'>NC_006856</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_006855'>NC_006855</a></LI>
</UL>
</LI></UL>
</LI></UL>
<UL><LI >Salmonella enterica subsp. enterica serovar Typhimurium
	<UL><LI >Salmonella enterica subsp. enterica serovar Typhimurium str. LT2
<UL><LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003197'>NC_003197</a></LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003277'>NC_003277</a></LI>
</UL>
</LI></UL>
</LI></UL>
</LI></UL>
</LI></UL>
<UL><LI >Wigglesworthia
	<UL><LI >Wigglesworthia glossinidia endosymbiont of Glossina brevipalpis
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_004344'>NC_004344</a> (610)</LI>
<LI><a href='<%= DOC_ROOTURL %>/clubsubp/genomes?accession=NC_003425'>NC_003425</a> (6)</LI>
