<a href="#" onClick="openHelpWindow('/clubsubp/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :run, :job => 'clubsubp'}, {:multipart => true})%>

<body>
<form action=search_clst.cgi name='form_search' method=post>
  <table align='right'>
   <tr>
    <td>
     <SELECT NAME='list'>
      <OPTION value="select" selected="selected">Select a search option</OPTION>
      <OPTION value="gi_genome_refseq">NCBI GI/Genome Refseq</OPTION>
      <OPTION value="keyword">Protein/Organism Name</OPTION>
     </SELECT></td>
    <td><INPUT TYPE='text' NAME='key' VALUE='' SIZE='20' MAXLENGTH='150'></td>
    <td><INPUT TYPE='submit' NAME='submit' VALUE='Search'></td>
   </tr>
 </table>
</form>
<BR><BR>


<table align='center' border='0' align='center' cellpadding='2' cellspacing='3' style='font-family: arial, 'lucida console', sans-serif'>
 <tr bgcolor='#CC9900'>
  <th>Organism</th>
  <th>RefSeq</th>
 </tr>

<tr bgcolor='#C9C299'><td>Acidovorax avenae subsp. citrulli AAC00-1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008752&list=gi_genome_refseq'>NC_008752</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Acinetobacter baumannii ATCC 17978</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009083&list=gi_genome_refseq'>NC_009083</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009084&list=gi_genome_refseq'>NC_009084</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009085&list=gi_genome_refseq'>NC_009085</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Actinobacillus pleuropneumoniae L20</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009053&list=gi_genome_refseq'>NC_009053</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Aeromonas hydrophila subsp. hydrophila ATCC 7966</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008570&list=gi_genome_refseq'>NC_008570</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Agrobacterium tumefaciens str. C58</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003062&list=gi_genome_refseq'>NC_003062</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003063&list=gi_genome_refseq'>NC_003063</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003064&list=gi_genome_refseq'>NC_003064</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003065&list=gi_genome_refseq'>NC_003065</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Alcanivorax borkumensis SK2</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008260&list=gi_genome_refseq'>NC_008260</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Alkalilimnicola ehrlichei MLHE-1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008340&list=gi_genome_refseq'>NC_008340</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Anaeromyxobacter dehalogenans 2CP-C</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007760&list=gi_genome_refseq'>NC_007760</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Anaplasma marginale str. St. Maries</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004842&list=gi_genome_refseq'>NC_004842</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Anaplasma phagocytophilum HZ</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007797&list=gi_genome_refseq'>NC_007797</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Azoarcus sp. BH72</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008702&list=gi_genome_refseq'>NC_008702</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bartonella bacilliformis KC583</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008783&list=gi_genome_refseq'>NC_008783</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bartonella henselae str. Houston-1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005956&list=gi_genome_refseq'>NC_005956</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bartonella quintana str. Toulouse</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005955&list=gi_genome_refseq'>NC_005955</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Baumannia cicadellinicola str. Hc (Homalodisca coagulata)</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007984&list=gi_genome_refseq'>NC_007984</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bdellovibrio bacteriovorus HD100</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005363&list=gi_genome_refseq'>NC_005363</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bordetella bronchiseptica RB50</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002927&list=gi_genome_refseq'>NC_002927</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bordetella parapertussis 12822</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002928&list=gi_genome_refseq'>NC_002928</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bordetella pertussis Tohama I</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002929&list=gi_genome_refseq'>NC_002929</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Bradyrhizobium japonicum USDA 110</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004463&list=gi_genome_refseq'>NC_004463</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Brucella abortus bv. 1 str. 9-941</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006932&list=gi_genome_refseq'>NC_006932</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006933&list=gi_genome_refseq'>NC_006933</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Brucella melitensis 16M</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003317&list=gi_genome_refseq'>NC_003317</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003318&list=gi_genome_refseq'>NC_003318</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Brucella suis 1330</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004310&list=gi_genome_refseq'>NC_004310</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004311&list=gi_genome_refseq'>NC_004311</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Buchnera aphidicola str. 5A (Acyrthosiphon pisum)</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_011833&list=gi_genome_refseq'>NC_011833</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Burkholderia ambifaria AMMD</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008390&list=gi_genome_refseq'>NC_008390</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008391&list=gi_genome_refseq'>NC_008391</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008392&list=gi_genome_refseq'>NC_008392</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008385&list=gi_genome_refseq'>NC_008385</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Burkholderia cenocepacia AU 1054</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008060&list=gi_genome_refseq'>NC_008060</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008061&list=gi_genome_refseq'>NC_008061</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008062&list=gi_genome_refseq'>NC_008062</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Burkholderia mallei ATCC 23344</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006348&list=gi_genome_refseq'>NC_006348</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006349&list=gi_genome_refseq'>NC_006349</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Burkholderia pseudomallei 1106a</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009076&list=gi_genome_refseq'>NC_009076</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009078&list=gi_genome_refseq'>NC_009078</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Burkholderia thailandensis E264</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007650&list=gi_genome_refseq'>NC_007650</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007651&list=gi_genome_refseq'>NC_007651</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Burkholderia xenovorans LB400</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007951&list=gi_genome_refseq'>NC_007951</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007952&list=gi_genome_refseq'>NC_007952</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007953&list=gi_genome_refseq'>NC_007953</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Campylobacter fetus subsp. fetus 82-40</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008599&list=gi_genome_refseq'>NC_008599</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Campylobacter jejuni RM1221</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003912&list=gi_genome_refseq'>NC_003912</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Candidatus Blochmannia floridanus</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005061&list=gi_genome_refseq'>NC_005061</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Candidatus Carsonella ruddii PV</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008512&list=gi_genome_refseq'>NC_008512</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Candidatus Pelagibacter ubique HTCC1062</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007205&list=gi_genome_refseq'>NC_007205</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Candidatus Ruthia magnifica str. Cm (Calyptogena magnifica)</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008610&list=gi_genome_refseq'>NC_008610</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Caulobacter crescentus CB15</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002696&list=gi_genome_refseq'>NC_002696</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Chromobacterium violaceum ATCC 12472</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005085&list=gi_genome_refseq'>NC_005085</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Chromohalobacter salexigens DSM 3043</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007963&list=gi_genome_refseq'>NC_007963</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Colwellia psychrerythraea 34H</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003910&list=gi_genome_refseq'>NC_003910</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Coxiella burnetii RSA 493</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002971&list=gi_genome_refseq'>NC_002971</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004704&list=gi_genome_refseq'>NC_004704</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Dechloromonas aromatica RCB</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007298&list=gi_genome_refseq'>NC_007298</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Desulfotalea psychrophila LSv54</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006138&list=gi_genome_refseq'>NC_006138</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006139&list=gi_genome_refseq'>NC_006139</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006140&list=gi_genome_refseq'>NC_006140</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Desulfovibrio desulfuricans subsp. desulfuricans str. G20</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007519&list=gi_genome_refseq'>NC_007519</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Desulfovibrio vulgaris subsp. vulgaris DP4</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008741&list=gi_genome_refseq'>NC_008741</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008751&list=gi_genome_refseq'>NC_008751</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Ehrlichia canis str. Jake</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007354&list=gi_genome_refseq'>NC_007354</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Ehrlichia chaffeensis str. Arkansas</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007799&list=gi_genome_refseq'>NC_007799</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Ehrlichia ruminantium str. Gardel</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006831&list=gi_genome_refseq'>NC_006831</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Erythrobacter litoralis HTCC2594</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007722&list=gi_genome_refseq'>NC_007722</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Escherichia coli CFT073</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004431&list=gi_genome_refseq'>NC_004431</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Francisella tularensis subsp. holarctica OSU18</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008369&list=gi_genome_refseq'>NC_008369</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Geobacter metallireducens GS-15</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007515&list=gi_genome_refseq'>NC_007515</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007517&list=gi_genome_refseq'>NC_007517</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Geobacter sulfurreducens PCA</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002939&list=gi_genome_refseq'>NC_002939</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Gluconobacter oxydans 621H</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006672&list=gi_genome_refseq'>NC_006672</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006673&list=gi_genome_refseq'>NC_006673</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006674&list=gi_genome_refseq'>NC_006674</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006675&list=gi_genome_refseq'>NC_006675</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006676&list=gi_genome_refseq'>NC_006676</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006677&list=gi_genome_refseq'>NC_006677</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Granulibacter bethesdensis CGDNIH1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008343&list=gi_genome_refseq'>NC_008343</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Haemophilus ducreyi 35000HP</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002940&list=gi_genome_refseq'>NC_002940</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Haemophilus influenzae 86-028NP</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007146&list=gi_genome_refseq'>NC_007146</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Haemophilus somnus 129PT</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006298&list=gi_genome_refseq'>NC_006298</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008309&list=gi_genome_refseq'>NC_008309</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Hahella chejuensis KCTC 2396</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007645&list=gi_genome_refseq'>NC_007645</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Halorhodospira halophila SL1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008789&list=gi_genome_refseq'>NC_008789</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Helicobacter acinonychis str. Sheeba</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008229&list=gi_genome_refseq'>NC_008229</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008230&list=gi_genome_refseq'>NC_008230</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Helicobacter hepaticus ATCC 51449</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004917&list=gi_genome_refseq'>NC_004917</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Helicobacter pylori 26695</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_000915&list=gi_genome_refseq'>NC_000915</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Hyphomonas neptunium ATCC 15444</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008358&list=gi_genome_refseq'>NC_008358</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Idiomarina loihiensis L2TR</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006512&list=gi_genome_refseq'>NC_006512</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Jannaschia sp. CCS1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007801&list=gi_genome_refseq'>NC_007801</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007802&list=gi_genome_refseq'>NC_007802</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Lawsonia intracellularis PHE/MN1-00</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008011&list=gi_genome_refseq'>NC_008011</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008012&list=gi_genome_refseq'>NC_008012</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008013&list=gi_genome_refseq'>NC_008013</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008014&list=gi_genome_refseq'>NC_008014</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Legionella pneumophila str. Lens</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006366&list=gi_genome_refseq'>NC_006366</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006369&list=gi_genome_refseq'>NC_006369</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Magnetospirillum magneticum AMB-1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007626&list=gi_genome_refseq'>NC_007626</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Mannheimia succiniciproducens MBEL55E</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006300&list=gi_genome_refseq'>NC_006300</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Maricaulis maris MCS10</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008347&list=gi_genome_refseq'>NC_008347</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Marinobacter aquaeolei VT8</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008738&list=gi_genome_refseq'>NC_008738</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008739&list=gi_genome_refseq'>NC_008739</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008740&list=gi_genome_refseq'>NC_008740</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Mesorhizobium loti MAFF303099</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002678&list=gi_genome_refseq'>NC_002678</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002679&list=gi_genome_refseq'>NC_002679</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002682&list=gi_genome_refseq'>NC_002682</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Methylibium petroleiphilum PM1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008825&list=gi_genome_refseq'>NC_008825</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008826&list=gi_genome_refseq'>NC_008826</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Methylobacillus flagellatus KT</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007947&list=gi_genome_refseq'>NC_007947</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Methylococcus capsulatus str. Bath</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002977&list=gi_genome_refseq'>NC_002977</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Myxococcus xanthus DK 1622</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008095&list=gi_genome_refseq'>NC_008095</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Neisseria gonorrhoeae FA 1090</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002946&list=gi_genome_refseq'>NC_002946</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Neisseria meningitidis FAM18</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008767&list=gi_genome_refseq'>NC_008767</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Neorickettsia sennetsu str. Miyayama</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007798&list=gi_genome_refseq'>NC_007798</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Nitrobacter hamburgensis X14</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007959&list=gi_genome_refseq'>NC_007959</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007960&list=gi_genome_refseq'>NC_007960</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007961&list=gi_genome_refseq'>NC_007961</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007964&list=gi_genome_refseq'>NC_007964</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Nitrobacter winogradskyi Nb-255</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007406&list=gi_genome_refseq'>NC_007406</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Nitrosococcus oceani ATCC 19707</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007483&list=gi_genome_refseq'>NC_007483</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007484&list=gi_genome_refseq'>NC_007484</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Nitrosomonas europaea ATCC 19718</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004757&list=gi_genome_refseq'>NC_004757</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Nitrosomonas eutropha C91</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008341&list=gi_genome_refseq'>NC_008341</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008342&list=gi_genome_refseq'>NC_008342</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008344&list=gi_genome_refseq'>NC_008344</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Nitrosospira multiformis ATCC 25196</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007614&list=gi_genome_refseq'>NC_007614</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007615&list=gi_genome_refseq'>NC_007615</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007616&list=gi_genome_refseq'>NC_007616</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007617&list=gi_genome_refseq'>NC_007617</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Novosphingobium aromaticivorans DSM 12444</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007794&list=gi_genome_refseq'>NC_007794</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009426&list=gi_genome_refseq'>NC_009426</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009427&list=gi_genome_refseq'>NC_009427</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Paracoccus denitrificans PD1222</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008686&list=gi_genome_refseq'>NC_008686</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008687&list=gi_genome_refseq'>NC_008687</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008688&list=gi_genome_refseq'>NC_008688</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pasteurella multocida subsp. multocida str. Pm70</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002663&list=gi_genome_refseq'>NC_002663</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pectobacterium atrosepticum SCRI1043</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004547&list=gi_genome_refseq'>NC_004547</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pelobacter carbinolicus DSM 2380</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007498&list=gi_genome_refseq'>NC_007498</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pelobacter propionicus DSM 2379</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008607&list=gi_genome_refseq'>NC_008607</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008608&list=gi_genome_refseq'>NC_008608</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008609&list=gi_genome_refseq'>NC_008609</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Photobacterium profundum SS9</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006370&list=gi_genome_refseq'>NC_006370</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006371&list=gi_genome_refseq'>NC_006371</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005871&list=gi_genome_refseq'>NC_005871</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Photorhabdus luminescens subsp. laumondii TTO1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005126&list=gi_genome_refseq'>NC_005126</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Polaromonas naphthalenivorans CJ2</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008757&list=gi_genome_refseq'>NC_008757</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008758&list=gi_genome_refseq'>NC_008758</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008759&list=gi_genome_refseq'>NC_008759</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008760&list=gi_genome_refseq'>NC_008760</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008761&list=gi_genome_refseq'>NC_008761</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008762&list=gi_genome_refseq'>NC_008762</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008763&list=gi_genome_refseq'>NC_008763</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008781&list=gi_genome_refseq'>NC_008781</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudoalteromonas atlantica T6c</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008228&list=gi_genome_refseq'>NC_008228</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudoalteromonas haloplanktis TAC125</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007481&list=gi_genome_refseq'>NC_007481</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007482&list=gi_genome_refseq'>NC_007482</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudomonas aeruginosa PAO1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002516&list=gi_genome_refseq'>NC_002516</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudomonas entomophila L48</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008027&list=gi_genome_refseq'>NC_008027</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudomonas fluorescens Pf-5</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004129&list=gi_genome_refseq'>NC_004129</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudomonas putida KT2440</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002947&list=gi_genome_refseq'>NC_002947</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Pseudomonas syringae pv. phaseolicola 1448A</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007274&list=gi_genome_refseq'>NC_007274</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007275&list=gi_genome_refseq'>NC_007275</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005773&list=gi_genome_refseq'>NC_005773</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Psychrobacter arcticus 273-4</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007204&list=gi_genome_refseq'>NC_007204</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Psychrobacter cryohalolentis K5</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007968&list=gi_genome_refseq'>NC_007968</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007969&list=gi_genome_refseq'>NC_007969</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Psychromonas ingrahamii 37</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008709&list=gi_genome_refseq'>NC_008709</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Ralstonia eutropha H16</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008313&list=gi_genome_refseq'>NC_008313</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008314&list=gi_genome_refseq'>NC_008314</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005241&list=gi_genome_refseq'>NC_005241</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Ralstonia metallidurans CH34</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007971&list=gi_genome_refseq'>NC_007971</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007972&list=gi_genome_refseq'>NC_007972</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007973&list=gi_genome_refseq'>NC_007973</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007974&list=gi_genome_refseq'>NC_007974</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Ralstonia solanacearum GMI1000</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003295&list=gi_genome_refseq'>NC_003295</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003296&list=gi_genome_refseq'>NC_003296</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rhizobium etli CFN 42</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007761&list=gi_genome_refseq'>NC_007761</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007762&list=gi_genome_refseq'>NC_007762</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007763&list=gi_genome_refseq'>NC_007763</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007764&list=gi_genome_refseq'>NC_007764</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007765&list=gi_genome_refseq'>NC_007765</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007766&list=gi_genome_refseq'>NC_007766</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004041&list=gi_genome_refseq'>NC_004041</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rhizobium leguminosarum bv. viciae 3841</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008378&list=gi_genome_refseq'>NC_008378</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008379&list=gi_genome_refseq'>NC_008379</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008380&list=gi_genome_refseq'>NC_008380</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008381&list=gi_genome_refseq'>NC_008381</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008382&list=gi_genome_refseq'>NC_008382</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008383&list=gi_genome_refseq'>NC_008383</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008384&list=gi_genome_refseq'>NC_008384</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rhodobacter sphaeroides 2.4.1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007488&list=gi_genome_refseq'>NC_007488</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007489&list=gi_genome_refseq'>NC_007489</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007490&list=gi_genome_refseq'>NC_007490</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007493&list=gi_genome_refseq'>NC_007493</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007494&list=gi_genome_refseq'>NC_007494</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009007&list=gi_genome_refseq'>NC_009007</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009008&list=gi_genome_refseq'>NC_009008</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rhodoferax ferrireducens T118</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007901&list=gi_genome_refseq'>NC_007901</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007908&list=gi_genome_refseq'>NC_007908</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rhodopseudomonas palustris BisA53</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008435&list=gi_genome_refseq'>NC_008435</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rhodospirillum rubrum ATCC 11170</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007641&list=gi_genome_refseq'>NC_007641</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007643&list=gi_genome_refseq'>NC_007643</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rickettsia bellii RML369-C</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007940&list=gi_genome_refseq'>NC_007940</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rickettsia conorii str. Malish 7</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003103&list=gi_genome_refseq'>NC_003103</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rickettsia felis URRWXCal2</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007109&list=gi_genome_refseq'>NC_007109</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007110&list=gi_genome_refseq'>NC_007110</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007111&list=gi_genome_refseq'>NC_007111</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rickettsia prowazekii str. Madrid E</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_000963&list=gi_genome_refseq'>NC_000963</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Rickettsia typhi str. Wilmington</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006142&list=gi_genome_refseq'>NC_006142</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Roseobacter denitrificans OCh 114</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008386&list=gi_genome_refseq'>NC_008386</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008387&list=gi_genome_refseq'>NC_008387</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008388&list=gi_genome_refseq'>NC_008388</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008389&list=gi_genome_refseq'>NC_008389</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008209&list=gi_genome_refseq'>NC_008209</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Saccharophagus degradans 2-40</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007912&list=gi_genome_refseq'>NC_007912</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Salmonella enterica subsp. enterica serovar Choleraesuis str. SC-B67</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006855&list=gi_genome_refseq'>NC_006855</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006856&list=gi_genome_refseq'>NC_006856</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006905&list=gi_genome_refseq'>NC_006905</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Salmonella typhimurium LT2</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003197&list=gi_genome_refseq'>NC_003197</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003277&list=gi_genome_refseq'>NC_003277</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shewanella amazonensis SB2B</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008700&list=gi_genome_refseq'>NC_008700</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shewanella baltica OS155</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009035&list=gi_genome_refseq'>NC_009035</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shewanella denitrificans OS217</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007954&list=gi_genome_refseq'>NC_007954</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shewanella frigidimarina NCIMB 400</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008345&list=gi_genome_refseq'>NC_008345</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shewanella loihica PV-4</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009092&list=gi_genome_refseq'>NC_009092</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shewanella oneidensis MR-1</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004347&list=gi_genome_refseq'>NC_004347</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004349&list=gi_genome_refseq'>NC_004349</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shigella boydii Sb227</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007613&list=gi_genome_refseq'>NC_007613</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007608&list=gi_genome_refseq'>NC_007608</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shigella dysenteriae Sd197</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007606&list=gi_genome_refseq'>NC_007606</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007607&list=gi_genome_refseq'>NC_007607</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009344&list=gi_genome_refseq'>NC_009344</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shigella flexneri 2a str. 2457T</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004741&list=gi_genome_refseq'>NC_004741</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Shigella sonnei Ss046</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009345&list=gi_genome_refseq'>NC_009345</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_009346&list=gi_genome_refseq'>NC_009346</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007384&list=gi_genome_refseq'>NC_007384</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007385&list=gi_genome_refseq'>NC_007385</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Silicibacter pomeroyi DSS-3</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006569&list=gi_genome_refseq'>NC_006569</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003911&list=gi_genome_refseq'>NC_003911</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Sinorhizobium meliloti 1021</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003037&list=gi_genome_refseq'>NC_003037</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003047&list=gi_genome_refseq'>NC_003047</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003078&list=gi_genome_refseq'>NC_003078</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Sodalis glossinidius str. 'morsitans'</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007712&list=gi_genome_refseq'>NC_007712</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007713&list=gi_genome_refseq'>NC_007713</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007714&list=gi_genome_refseq'>NC_007714</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007715&list=gi_genome_refseq'>NC_007715</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Sphingopyxis alaskensis RB2256</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008036&list=gi_genome_refseq'>NC_008036</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008048&list=gi_genome_refseq'>NC_008048</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Sulfurimonas denitrificans DSM 1251</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007575&list=gi_genome_refseq'>NC_007575</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Syntrophobacter fumaroxidans MPOB</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008554&list=gi_genome_refseq'>NC_008554</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Syntrophus aciditrophicus SB</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007759&list=gi_genome_refseq'>NC_007759</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Thiobacillus denitrificans ATCC 25259</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007404&list=gi_genome_refseq'>NC_007404</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Thiomicrospira crunogena XCL-2</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007520&list=gi_genome_refseq'>NC_007520</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Verminephrobacter eiseniae EF01-2</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008771&list=gi_genome_refseq'>NC_008771</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008786&list=gi_genome_refseq'>NC_008786</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Vibrio cholerae O1 biovar eltor str. N16961</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002505&list=gi_genome_refseq'>NC_002505</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002506&list=gi_genome_refseq'>NC_002506</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Vibrio fischeri ES114</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006840&list=gi_genome_refseq'>NC_006840</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006841&list=gi_genome_refseq'>NC_006841</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006842&list=gi_genome_refseq'>NC_006842</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Vibrio parahaemolyticus RIMD 2210633</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004603&list=gi_genome_refseq'>NC_004603</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004605&list=gi_genome_refseq'>NC_004605</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Vibrio vulnificus CMCP6</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004459&list=gi_genome_refseq'>NC_004459</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004460&list=gi_genome_refseq'>NC_004460</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Wigglesworthia glossinidia endosymbiont of Glossina brevipalpis</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003425&list=gi_genome_refseq'>NC_003425</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_004344&list=gi_genome_refseq'>NC_004344</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Wolbachia endosymbiont of Drosophila melanogaster</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002978&list=gi_genome_refseq'>NC_002978</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Wolinella succinogenes DSM 1740</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_005090&list=gi_genome_refseq'>NC_005090</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Xanthomonas axonopodis pv. citri str. 306</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003919&list=gi_genome_refseq'>NC_003919</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003921&list=gi_genome_refseq'>NC_003921</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_003922&list=gi_genome_refseq'>NC_003922</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Xanthomonas campestris pv. campestris str. 8004</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_007086&list=gi_genome_refseq'>NC_007086</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Xanthomonas oryzae pv. oryzae KACC10331</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006834&list=gi_genome_refseq'>NC_006834</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Xylella fastidiosa 9a5c</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002488&list=gi_genome_refseq'>NC_002488</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002489&list=gi_genome_refseq'>NC_002489</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_002490&list=gi_genome_refseq'>NC_002490</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Yersinia enterocolitica subsp. enterocolitica 8081</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008791&list=gi_genome_refseq'>NC_008791</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008800&list=gi_genome_refseq'>NC_008800</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Yersinia pestis Antiqua</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008120&list=gi_genome_refseq'>NC_008120</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008121&list=gi_genome_refseq'>NC_008121</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008122&list=gi_genome_refseq'>NC_008122</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_008150&list=gi_genome_refseq'>NC_008150</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Yersinia pseudotuberculosis IP 32953</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006153&list=gi_genome_refseq'>NC_006153</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006154&list=gi_genome_refseq'>NC_006154</a>&nbsp;&nbsp;&nbsp;
<a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006155&list=gi_genome_refseq'>NC_006155</a>&nbsp;&nbsp;&nbsp;
</td>
<tr bgcolor='#C9C299'><td>Zymomonas mobilis subsp. mobilis ZM4</td><td><a href='http://olt.eb.local:7524/clubsubp/genomes?key=NC_006526&list=gi_genome_refseq'>NC_006526</a>&nbsp;&nbsp;&nbsp;
</td>
</table>
<BR><BR>
<footer>
<hr>
<center>
 <b><a href='http://www.eb.tuebingen.mpg.de/departments/1-protein-evolution/department-1-protein-evolution'>Max Planck Institute for Developmental Biology</a></b>
 <br><font size='2'><a href='mailto:dirk.linke@tuebingen.mpg.de'>Dirk Linke</a>
 <br><a href='mailto:nagarajan.paramasivam@tuebingen.mpg.de'>Nagarajan Paramasivam</a></font>
 

</footer>
</body>

