<a href="#" onClick="openHelpWindow('/clubsubp/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :run, :job => 'clubsubp'}, {:multipart => true})%>

<%Clubarchclstprediction.find(:all, :conditions => ["cluster=?", @name]).each do |cluster_name|%>

  <H5>Archaeal Cluster <%=cluster_name.cluster%></H5>

  <P><TABLE width='40%' style='float:left'><TR bgcolor='#97697C'><TH><font color='white'>Cluster's Subcellular Localization</TH><TH><font color='white'>Score</TH></font></TR>


  <TR bgcolor='#D5C8D1'><TD>Secreted/Extracellular (S)</TD><TD><%=cluster_name.secreted%></TD></TR>
  <TR bgcolor='#E2E0E1'><TD>Cytoplasmic transmembrane (TM)</TD><TD><%=cluster_name.cytomem%></TD></TR>
  <TR bgcolor='#E2E0E1'><TD>Cytoplasm (C)</TD><TD><%=cluster_name.cytoplasmic%></TD></TR>
  <TR bgcolor='#D5C8D1'><TD>CellWall (CW)</TD><TD><%=cluster_name.cellwall%></TD></TR>
  <TR bgcolor='#E2E0E1'><TD>Lipoprotein (L)</TD><TD><%=cluster_name.lipoprotein%></TD></TR>
  <TR bgcolor='#D5C8D1'><TD>Unknown (U)</TD><TD><%=cluster_name.unknown%></TD></TR>
  <TR bgcolor='#B5A2AF'><TD>Cluster's subcellular localization</TD><TD><%=cluster_name.finalscl%></TD></TR>
  </TABLE>

<%= image_tag cluster_name.pnglink%>

<!--<fieldset width='40%'>
<legend><B>General Information</B></legend> -->
  <P><TABLE width='60%'>
    <TR bgcolor='#97697C'><TH colspan='3'><FONT color='white'>About the Cluster</FONT></TH</TR>
    <TR><TD>Cluster contains</TD><TD><%=cluster_name.clustersize%> sequences</TD></TR>
    <TR><TD>SCL predicted for</TD><TD> <%=cluster_name.predicted%> sequences</TD></TR>
    <TR><TD>Cluster sequences are conserved over</TD><TD><%=cluster_name.conservedover%></TD></TR>
    <TR><TD><B>Cluster's Subcellular Localization</B></TD><TD><B><%=cluster_name.finalscl%></B></TD></TR>
  </TABLE>
<!--</fieldset> -->

<BR/><BR/>

<P>
  <DIV id="aln_file">
    <BUTTON type='button' onclick="clubsub_toggle_hide('seq');clubsub_toggle_hide('hideseq');clubsub_toggle('showseq');clubsub_toggle('aln');clubsub_toggle('hidealn');clubsub_toggle_hide('showaln');"; style = "border: 1px solid #C2C2C2; background-color:#FFFFFF; float:left"; id = 'showaln'>Show cluster alignment</BUTTON>
    <BUTTON type='button' onclick="clubsub_toggle_hide('aln');clubsub_toggle_hide('hidealn');clubsub_toggle('showaln');"; style = "border: 1px solid #C2C2C2; background-color:#FFFFFF; display:none; float:left"; id='hidealn';>Hide cluster alignment</BUTTON>
  </DIV>

  <DIV id="seq_file">
    <BUTTON type='button' onclick="clubsub_toggle_hide('aln');clubsub_toggle_hide('hidealn');clubsub_toggle('showaln');clubsub_toggle('seq');clubsub_toggle('hideseq');clubsub_toggle_hide('showseq');"; style = "border: 1px solid #C2C2C2; background-color:#FFFFFF; float:right"; id = 'showseq'>Show cluster sequences</BUTTON>
    <BUTTON type='button' onclick="clubsub_toggle_hide('seq');clubsub_toggle_hide('hideseq');clubsub_toggle('showseq');"; style = "border: 1px solid #C2C2C2; background-color:#FFFFFF; display:none; float:right"; id='hideseq';>Hide cluster sequences</BUTTON>
  </DIV>

  <BR><BR><BR>
  <DIV id="aln" style='display:none';>
  <fieldset>
  <%alignment_link=File.join(TOOLKIT_ROOT, 'public', cluster_name.alnlink)%>
  
  <%@aln_file=Array.new%>
  <%File.open(alignment_link, "r").each do |line| %>
      <%-@aln_file.push(line)-%>
  <%end%>

  <PRE><%=@aln_file%></PRE>
  </BR>
  </fieldset> 
  </DIV>

  <DIV id="seq" style="display:none; height:200px; overflow-x: auto; overflow-y: auto">
  <%seqfile_link=File.join(TOOLKIT_ROOT, 'public', cluster_name.seqlink)%>
  <%@seq_file=Array.new%>
  <%File.open(seqfile_link, "r").each do |line| %>
      <%line.chomp!%>
      <%-@seq_file.push(line)-%>
      <PRE><%=line%></PRE>
  <%end%>
  </DIV>
</P>

<%end%>

<BR><BR>

<P>
  <TABLE  border='0', align='middle' width='100%'>
    
    <TR bgcolor='#97697C'>
      <FONT color='white'>
      <TH rowspan='1'><FONT color='white'>Sequence</TH>
      <TH rowspan='1'><FONT color='white'>RefSeq Header</TH>
      <TH rowspan='1'><FONT color='white'>Organism</TH>
      <TH rowspan='1'><FONT color='white'>Protein's Subcellular Prediction</TH>
      </FONT>
    </TR>
    <%$tag='Archaea'%> 
    <%@gis=Array.new%>
      <%Clubproteinheaderinfo.find(:all, :conditions => ["cluster=? AND tag=?", @name, $tag]).each do |cluster_name|%>
      <%@gis.push(cluster_name.gi)%>
    <%end%>

    <%@gis.each do |gi_pred|%>
      <%protein=Clubproteinheaderinfo.find(:first, :conditions => ["gi=?", gi_pred])%>
      <TR bgcolor='#E8E8E8'>
        <TD><A HREF='<%= DOC_ROOTURL %>/clubsubp/protein_arch?gi=<%=gi_pred%>'><%=gi_pred%></A></TD>
        <TD><%=protein.header%></TD>
        <TD><%=protein.organism%></TD>
        <%clst=Clubarchgiprediction.find(:first, :conditions => ["gi=?", gi_pred])%>
        <TD><%=clst.subloc%></TD>
      </TR>
    <%end%>
  </TABLE>
</P>
