<a href="#" onClick="openHelpWindow('/clubsubp/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :run, :job => 'clubsubp'}, {:multipart => true})%>

<div>
   <br/><h5><br>ClubSub-P is clustering based meta-prediction of subcellular localization (SCL) database for gram negative bacterial proteins.<br/></h5>
   <P>Newly synthesized proteins has to be translocated to its cellular compartments or secreted outside the cell for its normal function. This protein sorting across the cytoplsmic memebrane in gram negative bacteria usually requires a short stretch of secretory signals which are present at the N-terminal region of proteins. But there are few non-classical secretory pathways in gram negative bacteria which does  not require a secretory signal peptide for secretion across the inner membrane or both inner and outer membrane.</P><BR>
   <P>Secretory signal peptide prediction is an important step in subcellular localization prediction. The quality of these prediction not only depends on the tool, but also depends on the quality of the input sequence. There are instance where the start codon is mis-predicted, a wrong N-terminal end. This leads to a false positive or false negative signal peptide prediction and which leads to a wrong subcellular localization annotation.</P><BR>
   <P>The mis-prediction of signal peptide due to the start codon prediction errors can be reduced by integrating the signal peptide prediction from closely related sequences. To achieve this 607 gram negative bacterial proteomes were clustered and N-terminal signal peptide and  secondary structures were predicted for all the proteins and subcellular localization were assigned to proteins, which is later combined at cluster level to get cluster's subcellular localization.</P><BR>
</div>

</form>
