<h2><%= @tool['title'] %> Overview</h2> 
<div>
   <BR/><h5><br>ClubSub-P is a database of meta-predicted subcellular localization (SCL) information for proteins from Gram-negative bacteria and for Archaea. 
On top of the meta-predictions for single proteins, cluster-based homology information is used to predict and verify SCLs<BR/></h5>
<P>Newly synthesized proteins have to be translocated to their native subcellular compartments to be able to perform their native function. 
Protein sorting across the cytoplasmic membrane usually requires a secretory signal which is present at 
the N-terminus of proteins. Other secretory pathways in Gram-negative bacteria do not require a secretory.</P></BR>

<P>In the post-genomic era, SCL prediction is an important step in the functional annotation of proteins. 
ClubSub-P combines the most powerful SCL prediction tools available today into a meta-prediction. 
Proteins are then clustered according to their sequence identity and sequenc overage. 
From the SCLs of all proteins in a cluster, a consensus SCL is computed and assigned to previously un-annotated proteins. 
In addition, false positive and false negative results from the single predictions can be identified using the consensus prediction. 
To achieve this 157 Gram-negative bacterial proteomes and 67 Archaeal proteomes were clustered separately and N-terminal signal peptide and secondary structural features were predicted<P></BR>

<P>The quality of secretory signal peptide predictions not only depends on the tools, but also on the quality of the input sequences. There are instances 
where the start codon is mis-predicted, which can lead to a false positive or false negative signal peptide prediction, thus to a wrong SCL annotation.</P></BR>

<P>The mis-prediction of signal peptides due to the start codon prediction errors can be reduced by integrating the signal peptide prediction 
from closely related sequences.<P></BR>

<H3 class="<%= @section["name"]%>">Clustering</H3>
   <BR/><A href="http://www.bioinformatics.org/cd-hit/" target="_blank">CD-HIT</A> was used for clustering the proteomes at 40% local sequence 
identity and 80% coverage cutoffs to the longest representative sequence in the cluster. 
The CD-HIT user guide can be found <A href="http://weizhong-lab.ucsd.edu/cd-hit/wiki/doku.php?id=cd-hit_user_guide" target="_blank">here</A>
The clustering parameters used in the command line were<BR/><BR/>

	<CENTER><FONT FACE="monospace">cdhit -i  157_proteomes -o clustered_157_proteomes -c 0.4 -n 2 -G 0 -s 0.8 -aL 0.8 -B 1 -g 1</FONT></CENTER>
	or in parallel mode,<BR/><BR/>
	<CENTER><FONT FACE="monospace">cd-hit-para.pl -i  157_proteomes -o clustered_157_proteomes -c 0.4 -n 2 -G 0 -s 0.8 -aL 0.8 -B 1 -g 1 --Q 200 --T SGE --S 100</FONT></CENTER>
	<BR/>

<H3 class="<%= @section["name"]%>">Tools used for SCL prediction</H3>
   <BR/>ClubSub-P uses <A href="http://www.cbs.dtu.dk/services/SignalP/" target="_blank">SignalP 3.0</A>, <A href="http://www.cbs.dtu.dk/services/LipoP/" target="_blank">LipoP 1.0</A>, 
<A href="http://phobius.sbc.su.se/" target="_blank">Phobius</A>, <A href="http://www.predisi.de/" target="_blank">PrediSi</A>, 
<A href="http://www.cbs.dtu.dk/services/TMHMM/" target="_blank">TMHMM 2.0</A>, <A href="http://www.enzim.hu/hmmtop/" target="_blank">HMMTOP</A>, 
<A href="http://services.cbu.uib.no/tools/bomp" target="_blank">BOMP</A>, <A href="http://toolkit.tuebingen.mpg.de/hhomp" target="_blank">HHomp</A>, 
<A href="http://signalfind.org/tatfind.html" target="_blank">TaTFind 1.4</A>, <A href="http://www.cbs.dtu.dk/services/TatP/" target="_blank">TatP 1.0</A>, 
<A href="http://www.effectors.org/" target="_blank">EffectiveT3</A>, <A href="http://gecco.org.chemie.uni-frankfurt.de/T3SS_prediction/T3SS_prediction.html" target="_blank">T3SS_Prediction</A>, 
<A href="http://cello.life.nctu.edu.tw/" target="_blank">CELLO v.2.5</A>, <A href="http://www.psort.org/psortb/" target="_blank">PSORTbv.3.0.2</A>, 
<A href="http://signalfind.org/flafind.html" target="_blank">FlaFind</A> and <A href="http://biophysics.biol.uoa.gr/PRED-SIGNAL/" target="_blank">PRED-SIGNAL</A> in the prediction pipeline.<BR/><BR/>
    
<A name="sp"></A>
<H3 class="<%= @section["name"]%>">Consensus signal Peptide prediction</H3>

   <P><B>Lipoprotein signal peptides</B>
      <BR>'Best prediction' in LipoP 1.0 was used to identify <B>lipoprotein signal peptides</B> in proteins. Since +2 retention signals for inner or outer membrane localization of lipoproteins 
are species specific and there is not enough experimental evidence to for a better classifier yet, the sequence after SPII cleavage site is provided in the results for expert user 
interpretation.
      <BR><A href="http://www.cbs.dtu.dk/services/LipoP/LipoP1.0server.html#Output" target='_blank'>LipoP Output format</A></P><BR>
   
   <P><B>Twin-arginine translocation (TAT) signal peptides</B>
      <BR>Both TatP 1.0 and TatFind 1.4 were required to give a positive prediction to identify <B>TAT signal peptides</B>. 
TatP's MaxD score was used to confirm the TAT signal peptide's cleavage.
      <BR><A HREF="http://www.cbs.dtu.dk/services/TatP/output.php" target="_blank">TatP Output format</A></P><BR>
   
   <P><B>General signal peptides</B>
      <BR><B>General secretory pathway signal peptides</B> were identified using a consensus prediction of SignalP3.0-NN, SignalP3.0-HMM, Phobius and PrediSi. 
At least 3 of the above tools were required to have a positive prediction to confirm the consensus prediction. SignalP-NN's MaxD score and SignalP-HMM's 
cleavage probability were used to confirm the cleavage of general signal peptides.
      <BR><A HREF="http://www.cbs.dtu.dk/services/SignalP/output.php" target="_blank">SignalP Output format</A>, <A HREF='http://phobius.sbc.su.se/instructions.html' target="_blank">Phobius Instruction page</A>
      <BR>For Archaeal proteins, we replaced the tool PrediSi with PRED-SIGNAL and used all other tools in Gram-positive mode to 
predict general secretory pathway signal peptides</BR></P></BR>
   
   <P><B>Type III secretion system signal peptides in Gram-negative bacteria</B>
      <BR>T3SS_prediction and EffectiveT3 were used to identify <B>T3SS signal peptides</B>. To reduce the number of false positive T3SS signal peptide prediction, 
both EffectiveT3 and T3SS_prediction were required to be positive with their scores greater than 0.8.</P><BR> 

    <P><B>Prepilin/Flagellin signal peptide in Archaea</B>
       <BR>FlaFind was used to predict class III (type IV pilin-like) flagellin signal peptides in archaeal proteins.</BR>
    </P> 

<H3 class="<%= @section["name"]%>">Protein sorting rules for SCL annotation</H3>
   <B>For proteins from Gram-negative bacteria</B>

   <DIV STYLE ="padding:20px">

   <H5>Periplasmic proteins and lipoproteins</H5>
      Proteins with general secretory pathway signal peptide or TAT signal peptides without transmembrane domains were annotated as periplasmic proteins. 
Proteins with lipoprotein signal peptides and without transmembrane domains were annotated as outer/inner membrane lipoproteins.<BR/><BR/>

   <h5>Outer membrane &#946-barrel proteins</h5>
     Only proteins with a positive general secretory pathway signal peptide or with a TAT signal peptide were considered as candidates for outer membrane β-barrel proteins. 
A positive prediction from PSORTbv3.0 outer membrane or CELLOv2.5 outer membrane and a positive prediction from HHomp or BOMP were necessary to confirm the annotation as an outer membrane &#946-barrel protein.<BR/><BR/>

   <H5>Extracellular proteins</H5>
     Consensus T3SS signal peptide prediction or PSORTbv3.0 extracellular prediction were required for the annotation of extracellular proteins.<BR/><BR/>

   <H5>Cytoplasmic membrane proteins</H5>
     The consensus transmembrane helix (TMH) prediction module of ClubSub-P looks for helices predicted by at least two TMH prediction tools (TMHMM, Phobius, HMMTOP), with a length of at least 10 amino acids. 
Proteins with one or more consensus TMH even after signal peptide cleavage were annotated as cytoplasmic membrane proteins.<BR/><BR?>
   <H5>Cytoplasmic proteins</H5>
     Proteins without any TM domain or signal peptide or outer membrane β-barrel or extracellular prediciton were annotated as cytoplasmic proteins.<BR/><BR/>
   </DIV>
   
   <B>For archaeal proteins</B>

   <DIV STYLE ="padding:20px">
   <H5>Lipoproteins</H5>
     Proteins with a lipoprotein signal peptide and without any TMH were annotated as lipoprotein.<BR/> <BR/>
   <H5>Secreted/extracellular proteins</H5>
     Proteins with TAT or general signal peptides or with a positive PSORTb archaeal extracellular predictions were annotated as secreted/extracellular proteins, ingnoring only one transmembrane domains.</BR></BR>
   <H5>Cell wall proteins</H5>
     PSORTb archaeal cell wall prediction was used to annotate cell wall-binding proteins in ClubSub-P.</BR></BR> 
   
   <H5>Cytoplasmic membrane proteins</H5>
     The consensus TMH prediction module of ClubSub-P looks for helices predicted by at least two TMH prediction tools (TMHMM, Phobius, HMMTOP), with a length of at least 10 amino acids. 
Proteins with one or more consensus TMH even after signal peptide cleavage were annotated as cytoplasmic membrane proteins<BR/><BR/>
   <H5>Cytoplasmic proteins</H5>
     Proteins without any transmembrane domain or signal peptide or extracellular or cell wall prediction were annotated as cytoplasmic proteins.</BR></BR>

</DIV>
