<a href="#" onClick="openHelpWindow('/clubsubp/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= render(:partial => "links") %>

<%= form_tag({:action => :run, :job => 'clubsubp'}, {:multipart => true})%>


<%Clubproteinheaderinfo.find(:all, :conditions => ["gi=?", @gi]).each do |protein|%>
  <BR>
  <TABLE name='protein_datails' width='50%'>
    <TR>
      <TD bgcolor='#736F6E' colspan='2' align='center'><FONT COLOR='white'><B>About the protein</B></TD>
    </TR>
    <TR>
      <TD>Protein name</TD>
      <TD><%=protein.header%>&nbsp</TD>
    </TR>
    <TR>
      <TD>GI number</TD>
      <TD><%=protein.gi%> <A HREF='http://www.ncbi.nlm.nih.gov/protein/<%=protein.gi%>?report=fasta&log$=seqview' target='_blank'>FASTA</A></TD>
    </TR> 
    <TR>
      <TD>Belongs to cluster</TD>
      <TD><A HREF='<%= DOC_ROOTURL %>/clubsubp/cluster?name=<%=protein.cluster%>'>Cluster <%=protein.cluster%></A></TD>
    </TR>
    <TR>
      <TD><B>Protein subcellular localization (SCL)</B></TD>
      <TD><B><%subloc=Clubgiprediction.find(:first, :conditions => ["gi=?", protein.gi])%><%=subloc.subloc%></B></TD>
    </TR>
  </TABLE><BR>

  
  <%Clubtaxtree.find(:all, :conditions => ["accession=?", protein.accession]).each do |tax_tree|%>
    <P>
    <TABLE name='gi_details' align='center'>
      <TR>
        <TH width='10%' bgcolor='#A68B94'><B>Taxonomy</B></TH>
        <TD bgcolor='#E8E8E8' width='700px'>
          <%=tax_tree.superkingdom %><BR/>
          <%=tax_tree.phylum %><BR/>
          <%=tax_tree.taxclass %><BR/>
          <%=tax_tree.order %><BR/>
          <%=tax_tree.family %><BR/>
        </TD>  
      </TR>
    
      <TR>
        <TH bgcolor='#A68B94' width='10%'><B><BR>Organism</B></TH>
        <TD bgcolor='#E8E8E8'><A HREF='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%=tax_tree.taxon%>&lvl=3&lin=f&keep=1&srchmode=1&unlock'><BR><%=protein.organism%></A></TD>
      </TR>
      <TR>
        <TH bgcolor='#A68B94' width='10%'><B><BR>Reason</B></TH>
        <TD bgcolor='#E8E8E8'>
          <BR><%gi_comment=Clubresultsgicomment.find(:first, :conditions => ["gi=?", protein.gi])%><%=gi_comment.reasons%>
        </TD>
      </TR>

      <TR>
        <TH bgcolor='#A68B94' width='10%'><B>Signal peptides (SP)</B></TH>
        <TD bgcolor='#E8E8E8'>
          <BR><%=gi_comment.spfound%><BR/><%=gi_comment.spcleaved%><BR><BR>
          
          <%spprediction=Clubresultsgicomment.find(:first, :conditions => ["gi=?", protein.gi])%>
          <TABLE style='text-align:center;' BORDer=0 width='100%'>
            <TR bgcolor='#736F6E'>
              <TD><FONT COLOR='white'>Lipoprotein signal peptide</TD>
              <TD><FONT COLOR='white'>TAT signal peptide</TD>
              <TD><FONT COLOR='white'>General signal peptide</TD>
              <TD><FONT COLOR='white'>TypeIII signal peptide</TD>
              <TD><FONT COLOR='white'>Consensus prediction</TD>
              <TD><FONT COLOR='white'>Consensus SP cleavage site</TD>
            </TR>
            <TR bgcolor='#E8E8E8'>
              <TD><%=spprediction.lipop%></TD>
              <TD><%=spprediction.tatsp%></TD>
              <TD><%=spprediction.generalsp%></TD>
              <TD><%=spprediction.type3%></TD>
              <TD><%=spprediction.sp%></TD>
              <TD><%=spprediction.consensus_cs%></TD>
            </TR>
          </TABLE>
          <BR>      
   
          <DIV id="sp_table">
  <BUTTON type='button' onclick="clubsub_toggle('sp');clubsub_toggle('hide');clubsub_toggle_hide('show');"; style = "border: 1px solid #C2C2C2; background-color:#FFFFFF; float:left;"; id = 'show'>Show SP prediction details</BUTTON>
  <BUTTON type='button' onclick="clubsub_toggle_hide('sp');clubsub_toggle_hide('hide');clubsub_toggle('show');"; style = "border: 1px solid #C2C2C2; background-color:#FFFFFF; display:none; float:left;"; id='hide';>Hide SP prediction details</BUTTON>

	  </DIV>
         
          <DIV id='sp'; style='display:none';>
<!--
            <button type='button' onClick='toggle_sp_table()'; value='Hide SP_table'; style = "border: 1px solid #C9DBD8; background-color:#EBFAF8">Hide</button>
-->
            <a href="#" onClick="openHelpWindow('/clubsubp/help_ov#sp');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><BR>

            <%metascl=Clubmetascl.find(:first, :conditions => ["gi=?", protein.gi])%>
            <TABLE style='text-align:center;' BORDER=0 width='100%' bgcolor='white'>
              <TR>
                <TD bgcolor='#A68B94' rowspan='3' width='60px'><B>Lipoprotein SP</B></TD>
                <TD colspan='12' bgcolor='#CCCCCC'><B>LipoP 1.0</B></TD>
              </TR>
              <TR bgcolor='#E8E8E8'>
                <TD colspan='3'>Best prediction</TD>
                <TD colspan='3'>Margin</TD>
                <TD colspan='3'>Signal peptide ends</TD>
                <TD colspan='3'>Seq after SpII cleavage site</TD>
              </TR>
              <TR bgcolor='#F7ECD5'>
                <TD colspan='3'><%=metascl.lipop_bestprediction%></TD>
                <TD colspan='3'><%=metascl.lipopmargin%></TD>
                <TD colspan='3'><%=metascl.lipopspends%></TD>
                <TD colspan='3'><%=metascl.lipopaftercleavage%></TD>
              </TR>
              <TR bgcolor='white'><TD colspan='13'><BR></TD></TR>
              <TR bgcolor='#CCCCCC'>
                <TD  bgcolor='#A68B94' rowspan='3'><B>TAT SP</B></TD>
                <TD colspan='7' style='text-align:center;'><B>TatP 1.0 Server</B></TD>
                <TD style='text-align:center;' colspan='5'><B>TatFind 1.4</B></TD>
              </TR>
              <TR bgcolor='#E8E8E8'>
                <TD colspan='1'>Prediction</TD>
                <TD colspan='2'>MaxD score</TD>
                <TD colspan='2'>Signal peptide ends</TD>
                <TD colspan='2'>Comment</TD>
                <TD colspan='1'>Prediction</TD>
                <TD colspan='2'>Twin arginine pattern</TD>
                <TD colspan='2'>Rule</TD>
              </TR>
              <TR bgcolor='#F7ECD5'>
                <TD colspan='1'><%=metascl.tatpsp%></TD>
                <TD colspan='2'><%=metascl.tatpmaxdvalue%></TD>
                <TD colspan='2'><%=metascl.tatpspends%></TD>
                <TD colspan='2'><%=metascl.tatpcomment%></TD>
                <TD colspan='1'><%=metascl.tatfindprediction%></TD>
                <TD colspan='2'><%=metascl.tatfindtwinrrpattern%></TD>
                <TD colspan='2'><%=metascl.tatfindwhichrule%></TD>
              </TR>
              <TR bgcolor='white'><TD colspan='13'><BR></TD></TR>
              <TR bgcolor='#CCCCCC'>
                <TD rowspan='4'  bgcolor='#A68B94'><B>General SP</B></TD>
                <TD colspan='8'><B>SignalP 3.0</B></TD>
                <TD colspan='2' rowspan='2'><B>PrediSi server</B></TD>
                <TD colspan='2' rowspan='2'><B>Phobius</B></TD>
              </TR>
              <TR bgcolor='#CCCCCC'>
                <TD colspan='4'><B>SignalP-NN</B></TD>
                <TD colspan='4'><B>SignalP-HMM</B></TD>
              </TR>
              <TR bgcolor='#E8E8E8'>
                <TD>Prediction</TD>
<!--            <TD>MaxYscore</TD> -->
                <TD>MaxD score</TD>  
                <TD colspan='2'>Signal peptide ends</TD>
                <TD>Prediction</TD>
                <TD>Cleavage site probability</TD>
                <TD>Signal peptide probability</TD>
                <TD>Signal peptide ends</TD>
                <TD>Signal peptide</TD>
                <TD>Cleavage site</TD>
                <TD>Signal peptide</TD>
                <TD>Signal peptide ends</TD>
              </TR>
              <TR bgcolor='#F7ECD5'>
                <TD><%=metascl.signalpnnprediction%></TD>
<!--            <TD><%=metascl.signalpnnmaxyvalue%></TD> -->
                <TD><%=metascl.signalpnn_maxdvalue%></TD>
                <TD colspan='2'><%=metascl.signalpnnspends%></TD>
                <TD><%=metascl.signalphmm_prediction%></TD>
                <TD><%=metascl.signalphmmcsprob%></TD>
                <TD><%=metascl.signalphmmprob%></TD>
                <TD><%=metascl.signalphmm_spends%></TD>
                <TD><%=metascl.predisi_signalpeptide%></TD>
                <TD><%=metascl.prediscleavagesite%></TD>
                <TD><%=metascl.phobiussp%></TD>
                <TD><%=metascl.phobiusspends%></TD>
              </TR>
              <TR bgcolor='white'><TD colspan='13'><BR></TD></TR>
              <TR bgcolor='#CCCCCC'>
                <TD rowspan='3' bgcolor='#A68B94'><B>T3SS SP</B></TD>
                <TD colspan='6'><B>EffectiveT3</B></TD>
                <TD colspan='6'><B>T3SS_Prediction</B></TD>
              </TR>
              <TR bgcolor='#E8E8E8'>
                <TD colspan='3'>Score</TD>
                <TD colspan='3'>Prediction</TD>
                <TD colspan='3'>Score</TD>
                <TD colspan='3'>Prediction</TD>
              </TR>
              <TR bgcolor='#F7ECD5'>
                <TD colspan='3'><%=metascl.effectivet3_score%></TD>
                <TD colspan='3'><%=metascl.effectivet3_prediction%></TD>
                <TD colspan='3'><%=metascl.t3sspredictions_output%></TD>
                <TD colspan='3'><%=metascl.t3ssprediction%></TD>
              </TR>
            </TABLE>
          </DIV>
        </TD>
        <TR>
          <TH bgcolor='#CC3300' width='80px'><B><BR>Comment</B></TH>
          <TD bgcolor='#E8E8E8'><BR><%=gi_comment.comment%></TD>
        </TR>
      </TR>
    </TABLE>
    <BR>

     <%omp_display=Clubgioutextratmdisplay.find(:first, :conditions => ["gi=?", protein.gi])%>
     <%gicomments_display=Clubresultsgicomment.find(:first, :conditions => ["gi=?", protein.gi])%>
    <TABLE width='100%' style='text-align:center;'>
      <TR bgcolor='#CCCCCC' height='20px'>
        <TH rowspan='3' width='15%' style='text-align:center;'  bgcolor='#A68B94'><B>Outer membrane beta-barrel</B></TH>
        <TD colspan='2'><B>BOMP</B></TD>
        <TD><B>PSORTb v.3.0.2</B></TD>
	<TD><B>CELLO v.2.5</B></TD>
        <TD colspan='2'><B>HHomp</B></TD>
      </TR>
      <TR bgcolor='#E8E8E8'>
        <TD>Prediction</TD>
        <TD>Category</TD>
        <TD>Final SCL</TD>
	<TD>Final SCL</TD>
        <TD>Run</TD>
        <TD>Probability</TD>
      </TR>
      <TR bgcolor='#F7ECD5'>
        <TD><%=omp_display.bompprediction%></TD>
        <TD><%=omp_display.bompcategory%></TD>
        <TD><%=omp_display.psortbfinalscl%></TD>
	<TD><%=omp_display.cellofinalscl%></TD>
        <TD><%=omp_display.hhomprun%></TD>
        <TD><%=omp_display.hhompprobability%></TD>
      </TR>
    </TABLE>
    <BR/>

  <TABLE  width='100%' style='text-align:center;'>
      <TR bgcolor='#CCCCCC' height='20px'>
        <TH rowspan='2'  width='15%' style='text-align:center;'  bgcolor='#A68B94'><B>Extracellular</B></TH>
        <TD ><B>PSORTb v.3.0.2 Extracellular Score</B></TD>
        <TD ><B>Type III signal peptide</B></TD>
      </TR>
      <TR bgcolor='#F7ECD5'>
        <TD><%=omp_display.psortbextracellular%></TD>
        <%if(gi_comment.sp=~/Type3/)%>
          <TD>Yes</TD>
        <%else%>
          <TD>No</TD>
        <%end%>
      </TR>
    </TABLE>
    </BR>

    <TABLE width='100%' style='text-align:center;'>
      <TR bgcolor='#CCCCCC' height='20px'>
        <TH rowspan='3'  width='15%' style='text-align:center;'  bgcolor='#A68B94'><B>Cytoplasmic membrane</B></TH>
        <TD colspan='2'><B>TMHMM 2.0</B></TD>
        <TD colspan='2'><B>Phobius</B></TD>
        <TD colspan='2'><B>HMMTOP 2.1</B></TD>
        <TD colspan='2'><B>Consensus</B></TD>
      </TR>
      <TR bgcolor='#E8E8E8'>
        <TD>No. of TMHs <U>before</U> SP prediction</TD>
        <TD>Topology</TD>
        <TD>No. of TMHs <U>after</U> SP prediction</TD>
        <TD>Topology</TD>
        <TD>No. of TMHs <U>before</U> SP prediction</TD>
        <TD>Topology</TD>
        <TD>No. of TMHs <U>after</U> consensus SP prediction</TD>
        <TD>Topology</TD>
      </TR>
      <TR bgcolor='#F7ECD5'>
        <TD><%=omp_display.tmhmmtmhs%></TD>
        <TD><%=omp_display.tmhmmtopology%></TD>
        <TD><%=omp_display.phobiustmhs%></TD>
        <TD><%=omp_display.phobiustopology%></TD>
        <TD><%=omp_display.hmmtoptmhs%></TD>
        <TD><%=omp_display.hmmtoptopology%></TD>
        <TD><%=gicomments_display.no_consensus_TMHs%></TD>
        <TD><%=gicomments_display.consensus_TMHs%></TD>
      </TR>
    </TABLE>
    </BR>

    <%@all_tmhs=Array.new%>
    <%@all_tmhs= [omp_display.tmhmmtmhs, omp_display.phobiustmhs, omp_display.hmmtoptmhs, gicomments_display.no_consensus_TMHs]%>
    <%@all_topology=Array.new%>
    <%@all_topology=[omp_display.tmhmmtopology, omp_display.phobiustopology, omp_display.hmmtoptopology, gicomments_display.consensus_TMHs]%>
    <%@all_names=Array.new%>
    <%@all_names=['TMHMM 2.0', 'Phobius', 'HMMTOP 2.1', 'Consensus']%>

    <%display='No'%>
    <%for no_of_tmhs in @all_tmhs%>
      <%if (no_of_tmhs >= 1)%>
        <%display='Yes'%>
      <%end%>
    <%end%>

    <%if (display=~/Yes/)%>
      <TABLE><TR height='20px'><TD bgcolor='#CCCCCC' width='750px'><B><center>Transmembrane helix topology</center></B></TD></TR></TABLE>
      <TABLE>
      <%for tool_num in 0..3 do%>
          <TR height='20px'><TD bgcolor='#CCCCCC'><B><%=@all_names[tool_num]%></B></TD><TD style="padding-bottom:12px">
          <%omp_display.tmhmmtopology=~/.*-(\d+)$/%>
          <%$pd=$1%>
          <%@topo_split=Array.new%>
          <%@topo_split=@all_topology[tool_num].split(/\//)%>
          <DIV vertical-align=middle; style="width:650px;height:20px;background-image:url('/images/bg_black_line.gif');position:absolute;">
          <%for segment in @topo_split%>
            <%bgcolor='orange'%>
            <%tmhelix_nameit='TMHelix'%>
            <%if(@all_names[tool_num]=~/Consensus/)%>
              <%bgcolor='maroon'%>
            <%end%>

            <%if(segment=~/TMhelix|TMHelix|H-REGION/)%>
              <%if(segment=~/H-REGION/)%>
                <%bgcolor='green'%>
                <%tmhelix_nameit='Signal peptide - TMHelix region'%>
              <%end%>
              <%segment=~/.*-(\d+)-(\d+)/%>
              <%$start_1=$1%>
              <%$end_1=$2%>
              <%$left_start=($start_1.to_i / $pd.to_i.to_f)*100%>
              <%$tm_length= $end_1.to_i - $start_1.to_i%>
              <%$tm_width=($tm_length.to_i / $pd.to_i.to_f)*100%>
              <DIV style="position:absolute;top:-2px;left:<%=$left_start%>%;background-color:<%=bgcolor%>;height:18px;width:<%=$tm_width%>%;" onmouseover="return overlib('<%=tmhelix_nameit%>: <%=$start_1%> to <%=$end_1%>')" onmouseout="return nd();">&nbsp</DIV>
            <%end%>
          <%end%>
          </DIV>
          </TD></TR>
        <%end%>
      <%end%>
    </TABLE>
  <%end%>
<%end%>
