MARCOIL is a hidden Markov model-based program that predicts existence and location of potential coiled-coil domains in protein sequences. The external MARCOIL Homepage can be found 
<a target="_blank" href="http://bcf.isb-sib.ch/webmarcoil/webmarcoilC1.html"> here</a>.
