<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a> 
</div>
<div class="row">
Delorenzi M., Speed T. (2002) <b>An HMM model for coiled-coil domains and a comparison with PSSM-based predictions.</b>
Bioinformatics 18(4):617-625.
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/12016059">PMID: 12016059</a>
</div>
<br>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems. 
</div>