<a href="#" onClick="openHelpWindow('/marcoil/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<div class="row">
MARCOIL is a Hidden Markov Model-based program that predicts existence and location of potential coiled-coil domains in protein sequences. The external MARCOIL Homepage can be found 
<a target="_blank" href="http://bcf.isb-sib.ch/Delorenzi/Marcoil/index.html"> here</a> and the external server 
<a target="_blank" href="http://bcf.isb-sib.ch/webmarcoil/webmarcoilC1.html"> here</a>
</div>

<div class="spacer">&nbsp;</div>

<%= form_tag({:action => :run, :job => 'marcoil'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Enter sequence in FASTA format","input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
  <div class="formw">
    <span style="color: #008C50;">
      Predict coiled-coil regions in <a href="#" style="color: #008C50; font-size:8pt;" onClick="javascript:pasteExample();"> Bacillus subtilis flagellin</a>
    </span>
  </div>
</div>

<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>


<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
	<%= form_label("Matrix", "matrix") %>
	<%= form_select_single("matrix", @matrix_values, @matrix_labels, @matrix_values[0]) %>	
</div>
<div class="row">
       <%= form_label("Transition probability", "transprob") %>
       <%= form_radio_buttons("transprob", @transprob_values, @transprob_labels, @transprob_values[0], "&nbsp;&nbsp;") %>
</div>
<div class="row"> 
    <%= form_label("User-defined transition probability", "user_defined") %>
    <%= form_checkbox("is_userdefined",1,false,false,"") %>
</div>
<div class="row">
        <%= form_label("Parameter i", "numberiterations") %>
        <%= form_text_field("param_i", '0.0001') %>
</div>
<div class="row">
        <%= form_label("Parameter t", "numberiterations") %>
        <%= form_text_field("param_t", '0.01') %>
</div>
<div class="row">
        <%= form_label("Parameter r", "numberiterations") %>
        <%= form_text_field("param_r", '0.00001') %>
</div>


<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>


<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>	

