<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., S&ouml;ding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] <a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank" style="font-size: 8pt;">PMID: 27131380</a> 
</div> 
<div class="row">
Remmert M., Biegert A., Hauser A., and Söding J. (2011)
<b>HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment.</b>
Nat Methods 9(25):173-5 (<a target="_blank" style="font-size:8pt" href="http://wwwuser.gwdg.de/~compbiol/pdf/Preprint-2011-HHblits-inkl-Suppl2.pdf">Download pdf file</a>) 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/22198341">PMID: 22198341</a>
</div>
<div class="row">
S&ouml;ding J. (2005) <b>Protein homology detection by HMM-HMM comparison.</b>
Bioinformatics 21(7):951-960 (<a target="_blank" style="font-size:8pt" href="http://bioinformatics.oupjournals.org/cgi/content/abstract/bti125?ijkey=38Cp1qeK4zozg&keytype=ref">Download pdf file</a>)
 <a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/15531603">PMID: 15531603</a>
</div>
<div class="row">
S&ouml;ding J., Biegert A., Lupas AN. (2005)
<b>The HHpred interactive server for protein homology detection and structure prediction.</b>
Nucleic Acids Research 33, W244--W248 (Web Server issue). doi:10.1093/nar/gki40
(<a target="_blank" style="font-size:8pt" href="http://nar.oxfordjournals.org/cgi/reprint/33/suppl_2/W244?ijkey=FuurmQ3jgumZ6AU&keytype=ref">Download pdf file</a>) 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/15980461">PMID: 15980461</a>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
<a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#104;&#104;&#064;&#109;&#112;&#105;&#098;&#112;&#099;&#046;&#109;&#112;&#103;&#046;&#100;&#101;">Support for HH-suite software</a>
</div>
