<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
S&ouml;ding J. (2005) Protein homology detection by HMM-HMM comparison.<BR>
Bioinformatics <b>21</b>, 951-960. doi:10.1093/bioinformatics/bti125.<br>
<a target="_blank" href="http://bioinformatics.oupjournals.org/cgi/content/abstract/bti125?ijkey=38Cp1qeK4zozg&keytype=ref">Download pdf file</a>
</div>
<div class="row">
S&ouml;ding J, Biegert A, and Lupas AN. (2005)
The HHpred interactive server for protein homology detection and structure prediction.<BR>
Nucleic Acids Research 33, W244--W248 (Web Server issue). doi:10.1093/nar/gki40.<BR>
<a target="_blank" href="http://nar.oxfordjournals.org/cgi/reprint/33/suppl_2/W244?ijkey=FuurmQ3jgumZ6AU&keytype=ref">Download pdf file</a>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
The HHpred server was developed at the <a target="_blank" href="http://www.eb.tuebingen.mpg.de/departments/1-protein-evolution/department-1-protein-evolution">Department for Protein Evolution of the Max-Planck-Institute for Developmental Biology</a> in Tuebingen. In the meantime, its developers have moved to the Max Planck Institute for Biophysical Chemistry in G&ouml;ttingen (<a target="_blank" href="http://www.mpibpc.mpg.de/soeding">S&ouml;ding group</a>).<BR><BR>

<!--
We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to <a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/soeding.htm">soeding at lmb.uni-muenchen.de</a><BR>-->
Please inform us of problems, or send comments or 
feedback to <a target="_blank" href="/common/contact">us</a>.
</div>
