<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => "Results"}) %>

<%= render(:partial => "shared/resultsections", :locals => {:forward => false}) %>

<%= form_tag( "", {:id => @job.tool+"_form"}) %>

<% if @errors['hits'] %>
<div class="row">
	<p class="formerror"><%= @errors['hits'] %></p>
</div><div class="hr">&nbsp;</div>
<% end %>

<% if @hhcluster %>
	<a href="/hhcluster">Back to Galaxy of folds</a>
	<div class="spacer">&nbsp;</div>	
<% end %>

<div id="mergeali" style="display: none;">
	<div class="row">
		<div class="formw">		
			<input name="submitform" type="submit" class="feedbutton" value="Merge alignments" onClick="setAction('<%= @job.tool %>_form', '<%= url_for(:action => 'run', :job => 'rnaseh_mergeali', :parent => @job, :forward_controller => 'hhpred', :forward_action => 'results_hhmergeali', :increment_id => 'true') %>');" />		
		</div>
	</div>
	<div class="row">
		<a href="javascript:select()">Select all</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript:deselect()">Deselect all</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript:select_first()">Select the best ten</a>
	</div>
	<div class="hr">&nbsp;</div>
</div>

<div class="row">
	<%=  @job.results  %>
	
</div>

</form>
