REPPER is a server that detects and analyses regions with short gapless REPeats in protein sequences. 
It finds PERiodicities by Fourier Transform 
(<a href="#" onClick="openHelpWindow('/repper/help_results#ftwin');" onmouseover="return overlib('Help');" onmouseout="return nd();">FTwin</a>) and internal homology analysis 
(<a href="#" onClick="openHelpWindow('/repper/help_results#repwin');" onmouseover="return overlib('Help');" onmouseout="return nd();">REPwin</a>). The exact locations of the 
periodic patterns are traced by a sliding window. The output is complemented by coiled coil prediction 
(<a href="#" onClick="openHelpWindow('/repper/help_results#coils');" onmouseover="return overlib('Help');" onmouseout="return nd();">COILS</a>) and optionally by secondary 
structure prediction according to Jones 
(<a href="#" onClick="openHelpWindow('/repper/help_results#psipred');" onmouseover="return overlib('Help');" onmouseout="return nd();">PSIPRED</a>).