<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#click">Clicking on colored bars</a></li>
	<li><a href="#different">Different results</a></li>
	<li><a href="#alignment">Alignment looks bad</a></li>
	<li><a href="#error">Various Problems</a></li>
	<li><a href="#forever">Job is running forever</a></li>
	<li><a href="#message">Error messages</a></li>
	<li><a href="#green">Green bar</a></li>
	<li><a href="#linear">Nonlinear scale</a></li>
	<li><a href="#input_parameters">Input parameters</a></li>
	<li><a href="#results">Results</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>

<h2><%= @tool['title'] %> FAQs</h2>

<a name="click"></a>
<h3 class="<%= @section["name"] %>">When I click on a colored bar, nothing happens.</h3> 
<div class="row">
You probably missed the bar. In order not to mix up neighboring bars, you have to be rather exact when 
clicking.
</div>

<a name="different"></a>
<h3 class="<%= @section["name"] %>">I get different results when I click on the same bar.</h3>
<div class="row">
Most likely, you clicked on a different spot and therefore extracted another sequence fragment. 
Check the sequence fragment that is given in the "Periodicity Spectrum" window and see if it is the same 
for both cases.
</div>

<a name="alignment"></a>
<h3 class="<%= @section["name"] %>">The REPwin alignment looks misaligned and scrambled up. How can I get an orderly output?</h3>
<div class="row">
Probably your browser does not allow the page to use the fonts specified in its cascaded style sheets
and, in particular, the monospace font. To change this setting:
<br><i>Netscape/Mozilla</i>: Go to 'Edit' > 'Preferences' and choose 'Appearance' > 'Fonts'. 
Check 'Allow documents to use other fonts'.
<br><i>Mozilla Firefox</i>: Go to 'Edit' > 'Preferences' and choose 'General' > 'Fonts & Colors'
OR Go to 'Tools' > 'Options' and click on 'Fonts & Colors'. Uncheck 'Always use my:  Fonts / Colors'
<br><i>Explorer</i>: Go to 'Tools' > 'Internet Options', click on the tab General and choose 'Accessability'. 
Uncheck 'Ignore colors specified by Web pages' and 'Ignore font styles specified by Web pages'.
<br>If this still does not give the desired result, you may force your web browser to use
monospace font:
<br><i>Netscape/Mozilla</i>: As before, go to 'Edit' > 'Preferences' and choose 'Appearance' > 'Fonts'.
<b>Un</b>check 'Allow documents to use other fonts' and select monospace (typewriter) fonts such as Courrier
for "Serif", "Sans-Serif" and "Monospace" categories.
<br><i>Mozilla Firefox</i>: As before, go to 'Edit' > 'Preferences' and choose 'General' > 'Fonts & Colors'
OR Go to 'Tools' > 'Options' and click on 'Fonts & Colors'.
<b>Check</b> 'Always use my:  Fonts / Colors' and select a monospace or typewriter font
for "Serif", "Sans-serif" and "Monospace" styles.
<br><i>Explorer</i>: As before, go to 'Tools' > 'Internet Options', click on the tab General and choose 'Accessability'.
<b>Check</b> 'Ignore colors specified by Web pages' and 'Ignore font styles specified by Web pages'
and choose a monospace or typewriter font for ...
</div>

<a name="error"></a>
<h3 class="<%= @section["name"] %>">I don't see any graph / the mouseover does not work / there are some funny error messages.</h3>
<div class="row">
This website is optimized for Mozilla, Firefox, Netscape 7, and Opera 7 browsers. Most other environments 
work as well, but may show the graphics in a less favorable way. Occasionally reloading the page helps. 
MacOS below version 10.3 is not supported!
</div>

<a name="forever"></a>
<h3 class="<%= @section["name"] %>">My job has been running forever!</h3>
<div class="row">
If one of your threshold parameters is too low, the program produces a lot of "significant" data, which 
is very time-consuming. Try running your job again with higher threshold parameters. Another possibility 
is that something went wrong on our side. In this case just resubmit your job again.</div>

<a name="message"></a>
<h3 class="<%= @section["name"] %>">What to do if I get an error message, e.g. "Cannot open: No such file or directory at /var/web/cgi-bin/toolkit/ftwin..."?</h3>
<div class ="row">
The error is on our side and we would be grateful to know about it as soon as possible.
<a target="_blank" href="http://toolkit.tuebingen.mpg.de/common/contact">Please notify us</a>, 
including the job-ID and error text.
</div>

<a name="green"></a>
<h3 class="<%= @section["name"] %>">I have submitted a job and get a screen with a green bar that is not moving. How do I get the results?</h3>
<div class="row">
You are probably using an older version of Windows Explorer and the automatic procedure for checking if 
the job is finished does not work. Just press 'Check now' from time to time until your job is done and the 
results are shown.
</div>

<a name="linear"></a>
<h3 class="<%= @section["name"] %>">Why is the periodicity scale non-linear?</h3>
<div class="row">
The periodicity scale is reciprocal, so the harmonics of a periodicity (e.g. 15, 15/2, 15/3, 15/4,...) 
have the same distance from each other.
</div>

<a name="input_parameters"></a>
<h3 class="<%= @section["name"] %>">Where can I find help on the input parameters?</h3>
<div class="row">
Click the input parameter on the input page or 
click <a href="/repper/help_params" title="REPPER parameters">here</a>
for the comprehensive list.
</div>

<a name="results"></a>
<h3 class="<%= @section["name"] %>">Where do I find help to understand the results?</h3>
<div class="row">
Click <a href="/repper/help_results" title="REPPER parameters">here</a>
for help on REPPER results.
</div>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
We are committed to improve this service for you. Please inform us of problems, or send comments or 
feedback to <a target="_blank" href="http://toolkit.tuebingen.mpg.de/common/contact"></a>.
</div>
