<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input</a></li>
	<li><a href="#input_format">Input format</a></li>	
	<li><a href="#inputmode">Input mode</a></li>
	<li><a href="#windowsize">Window size</a></li>
	<li><a href="#periodicity">Periodicity range</a></li>
	<li><a href="#criteria">Criteria for periodicity search</a></li>
	<li><a href="#intensity">FTwin threshold</a></li>
	<li><a href="#repperthres">REPwin threshold</a></li>
	<li><a href="#coils_param">COILS Parameters</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
Enter single sequence or sequence alignment and choose its format from the dropdown menu.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="input_format"></a>
<h3 class="<%= @section["name"] %>">Input format</h3>
<div class="row">
	<p>
	Accepted formats are listed in the dropdown menu. 
	Format descriptions can be found <a href="/reformat/help_params#format">here</a>.	
	</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="inputmode"></a>
<h3 class="<%= @section["name"] %>">Input Mode</h3>
<div class="row">
Use input as given: Performs all calculations on the basis of a given sequence or a given sequence 
alignment in FASTA format. Either put in a sequence or sequence alignment of your choice.
</div><div class="row">
Run PSI-BLAST: Performs a PSI-BLAST run on the given sequence (two iterations, E-value for 
inclusion 0.0001). Hits are aligned and filtered to a minimum sequence identity of 40% with the query 
sequence and a minimum coverage of 20%. This alignment is then the basis for the input profile. 
In case you are not happy with the used PSI-BLAST parameters, run PSI-BLAST separately with the 
parameters of your choice, create a multiple alignment in FASTA format, and use this as REPPER input.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="windowsize"></a>
<h3 class="<%= @section["name"] %>">Window size (FTwin and REPwin)</h3>
<div class="row">
Size of the sliding window. Must be smaller than sequence length.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="periodicity"></a>
<h3 class="<%= @section["name"] %>">Periodicity range (FTwin)</h3>
<div class="row">
Periodicity range for Fourier Transform. Minimal periodicity must be at least 2, maximal periodicity 
should not exceed the window size (otherwise it is set to window size automatically).
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="criteria"></a>
<h3 class="<%= @section["name"] %>">Criteria for periodicity search (FTwin)</h3>
<div class="row">
A Fourier Transform cannot deal with amino acids. Amino acids are therefore represented by numbers. 
Depending on what one is looking for (e.g. repeat patterns of hydrophobic residues), those numbers 
represent a certain property (in this case hydrophobicity). The default values are set to the 
Kyte-Doolittle hydrophobicity scale, but you can also switch to an empirical set of binary hydrophobic 
values (standard binary) by clicking the button or you can manually put in values for your own purposes.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="intensity"></a>
<h3 class="<%= @section["name"] %>">FTwin threshold</h3>
<div class="row">
Refinement option. For each window, the FTwin output graph shows all periodicities above</div>
<div class="row">average+threshold*standard_deviation,</div>
<div class="row">while "average" is the average intensity of the W Fourier transform periodicities of the 
given window (W = window size), "threshold" is the parameter given by the user, and "standard_deviation" 
is the standard deviation of the intensities of the W Fourier tranform periodicities of the given window.
</div>
<div class="row">
Whether the threshold parameter is reasonable depends on the values that are attributed to the amino 
acids, but also on the window size. Decrease this value if you see too much in the FTwin graph, increase 
it if you see too little or nothing.
</div>
<div class="row">
<a href="/repper/help_ov#ftwin">FTwin Help Overview</a>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="repperthres"></a>
<h3 class="<%= @section["name"] %>">REPwin threshold</h3>
<div class="row">
Refinement option. The default value of 2 is reasonable for most applications. 
Decrease this value if you see too much in the REPwin graph, increase it if you see too little or nothing.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="coils_param"></a>
<h3 class="<%= @section["name"] %>">COILS Parameters</h3>
<div class="row">
Matrix: COILS compares an input sequence (or an input alignment) with a coiled-coil profile. 
The profile information is stored in a matrix. The MTIDK matrix is derived from myosins, paramyosins, 
tropomyosins, intermediate filaments type I - V, desmosomal proteins and kinesins, whereas the PDB 
matrix is derived from known coiled coils in the Protein Data Bank.</div>
<div class="row">
Weighting: Because coiled coils are generally fibrous, solvent-exposed structures, all but the internal 
a and d positions have a high likelihood of being occupied by hydrophilic residues. A program that gives 
equal weight to all positions is therefore going to be biased towards hydrophilic, charge-rich sequences. 
While this does not pose a problem for the vast majority of natural sequences, some highly charged 
sequences obtain high coiled-coil probabilities in the obvious absence of heptad periodicity and 
coiled-coil-forming potential. An extreme case is that of polyglutamate which obtains a 
coiled-coil-forming probability > 99%. To counter this problem, COILS contains a weighting option, 
which allows the user to assign the the same weight to the two hydrophobic positions a and d as to the 
five hydrophilic positions b, c, e, f and g. This leads to an only slightly worse performance of the 
program and permits the identification of false positives. It is recommended to run a weighted and and 
unweighted scan and to compare the outputs. A drop of more than 20-30% in the probability is a clear 
indication of a highly-charged false positive.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
We are committed to improve this service for you. Please inform us of problems, or send comments or 
feedback to <a target="_blank" href="http://www.eb.tuebin\gen.mpg.de/dept1/staff/Gruber.html">Markus Gruber</a>.
</div>
