<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input format</a></li>
	<li><a href="#bfit_model">HIER BITTE SCHREIBEN</a></li>
	<li><a href="#opti">HIER BITTE SCHREIBEN</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3>Input Format</h3>
<div class="row">
BITTE HIER SCHREIBEN!!!
</div>
<br/>
<a name="bfit_model"></a>
<h3>HIER BITTE UEBERSCHRIFT SCHREIBEN!!!!</h3>
<div class="row">
BITTE HIER SCHREIBEN!!!
</div>
<br/>
<a name="opti"></a>
<h3>HIER BITTE UEBERSCHRIFT SCHREIBEN!!!!</h3>
<div class="row">
BITTE HIER SCHREIBEN!!!
</div>


<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
