<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
bFit is a probabilistic method for robust superposition and comparison of protein structures. To do so, non-rigid displacements in
protein structures are modelled with outlier-tolerant probability distributions. 
</div>

