<a href="#" onClick="openHelpWindow('/bfit/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>

<h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'bfit'}, {:multipart => true})%>
<h3 class="<%= @section["name"] %>">Input</h3>
<!--<div class="row">
	<%= form_label("Paste input sequence", "input") %>
	<%= form_text_area("sequence_input") %>
</div>-->
<div class="row">
        <%= form_label("Upload pdb file 1", "input") %>
        <%= form_file("pdb_file1") %>
</div>

<div class="row">
	<%= form_label("Upload pdb file 2", "input") %>
	<%= form_file("pdb_file2") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
  <%= form_label("Model", "bfit_model") %>
  <%= form_radio_buttons("model", @model_values, @model_labels, @model_values[1], "&nbsp;") %>
</div>

<div class="row">
  <%= form_label("Optimization", "opti") %>
  <%= form_radio_buttons("optimization", @optimization_values, @optimization_labels, @optimization_values[0], "&nbsp;") %>
</div>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>
