<!-- Example call:
   render(:partial => "shared/jalview", :locals => {:file_extension => ".j.align"})
-->
<!-- <APPLET codebase="/applets/jalview/" ARCHIVE="jalview.jar" CODE="jalview.ButtonAlignApplet.class" width=70 height=35>
  <PARAM NAME="input"  value="<%= @job.url_for_job_dir_abs %>/<%= @job.jobid + file_extension %>">
  <PARAM NAME="type"   value="URL">
  <PARAM NAME="format" value="FASTA">
</APPLET> --> 
<APPLET codebase="/applets/jalview/" code="jalview.bin.JalviewLite" archive="jalviewApplet.jar"  width="110" height="35">
  <PARAM NAME="label" value="JalView"/>
  <PARAM NAME="file" value="<%= @job.url_for_job_dir_abs %>/<%= @job.jobid + file_extension %>"/>
<% if defined?(userDefinedColour) && !userDefinedColour.nil? %>
  <PARAM NAME="userDefinedColour" value="<%= userDefinedColour %>"/>
<% else %>
  <PARAM NAME="userDefinedColour" value="D,E=blue; K,R=red; H=orange; M,I,V,L=green;F,W,Y=228B22; N,Q=E066FF; C=yellow; P=D3D3D3"/>
<% end %>
  <PARAM NAME="nojmol" value="true"/>
</APPLET> 
