  <div id="jobsection" class="<%= @section["name"] %>">
    <ul>
      <% sections = @job.config['resultsections'] %>
		<% @cur_section = nil %>
      <% sections.each do |section| %>
      <% if (section['name'] == params[:action]) then @cur_section = section end %>
      <li <%= section['name'] == params[:action] ? 'class="current"' : '' %>>
			<%= link_to(section['title'], {:action => section['name'], :jobid => @job.jobid}, {:onmouseover => "return overlib('#{section['title_long']}');", :onmouseout => "return nd();"}) %>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div id="resultactions" class="<%= @section["name"] %>">
    <ul>
      <% sections = nil %>
      <% if !@cur_section.nil? then sections = @cur_section['forwardsections'] end %>
      <% if !sections.nil? %> 
      	<% sections.each do |section| %>
      		<li><a href="javascript:appearForward('<%= section['name'] %>');" onmouseover="return overlib('<%= section['title_long'] %>');" onmouseout="return nd();"><%= section['title'] %></a></li>
 	   	<% end %>
 	   <% end %>
 	   
 	  <!-- addition -->
 	  <% if !@cur_section.nil? then sections = @cur_section['forwardhhmsections'] end %>
 	  <% if !sections.nil? %>
 	    <% sections.each do |section| %>
 	      <li><a href="javascript:appearForwardHHM('<%= section['name'] %>');" onmouseover="return overlib('<%= section['title_long']%>');" onmouseout="return nd();"><%= section['title'] %></a></li>
 	    <% end %>
 	  <% end %>
 	  <!-- addition end-->
 	  
 	   <% if defined?(export_to) && !export_to.nil? %>
      <li><a href="<%= url_for({:action => 'export_'+export_to+'_to_file', :jobid => @job}) %>" onmouseover="return overlib('Export to file');" onmouseout="return nd();">Save</a></li>
      <li><a target="_blank" href="<%= url_for({:action => 'export_'+export_to+'_to_browser', :jobid => @job}) %>" onmouseover="return overlib('Export to new browser window');" onmouseout="return nd();">Export</a></li>
      <% elsif defined?(export_action) && !export_action.nil? %>
      <li><a href="#" onclick="javascript:setAction('<%= @job.tool %>_form', '<%= url_for({:action => 'run', :jobid => @job, :jobaction => export_action, :forward_controller => @job.tool, :forward_action => 'export_to_file'}) %>'); <%= @job.tool %>_form.submit();" onmouseover="return overlib('Export to file');" onmouseout="return nd();">Save</a></li>
      <li><a href="#" onclick="javascript:setTarget('<%= @job.tool %>_form', '_blanc'); setAction('<%= @job.tool %>_form', '<%= url_for({:action => 'run', :jobid => @job, :jobaction => export_action, :forward_controller => @job.tool, :forward_action => 'export_to_browser'}) %>'); <%= @job.tool %>_form.submit(); setTarget('<%= @job.tool %>_form', '_self');" onmouseover="return overlib('Export to new browser window');" onmouseout="return nd();">Export</a></li>
      <% elsif !defined?(export) || export.nil? || export %>
      <li><a href="<%= url_for({:action => :export_to_file, :jobid => @job}) %>" onmouseover="return overlib('Export to file');" onmouseout="return nd();">Save</a></li>
      <li><a target="_blank" href="<%= url_for({:action => :export_to_browser, :jobid => @job}) %>" onmouseover="return overlib('Export to new browser window');" onmouseout="return nd();">Export</a></li>
      <% end %>
      
    </ul>
  </div>
