<h3 class="<%= @section["name"] %>">Save Options</h3>
<div class="row">
	<input name="gv" type="submit" value="Save Parameters" onClick="setAction('parms', '/hhblits/save_params');" />
	<input name="sv" type="submit" value="Load Parameters" onClick="setAction('parms', '/hhblits/load_params');" />
	<input name="sdv" type="submit" value="Load Default Parameters" onClick="setAction('parms', '/hhblits/load_default_params');" />
</div>
