<!-- Isotope tool overview -->
<!-- <script  src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"  type="text/javascript" > --> 

<h2>Tool Map</h2>

<div style="font-size: 2px;" >&nbsp; </div>




<div  id="sorts" class="button-group"> 
  <button class="button" data-sort-by="symbol">section</button>
  <button class="button" data-sort-by="name">name</button>
</div>
<div style="font-size: 5px;" >&nbsp; </div>
<div id="filters" class="button-group">  <button class="button is-checked all-iso" data-filter="*">All tools</button>
  <button class="button search-iso" data-filter=".search-iso">Search</button>
  <button class="button alignment-iso" data-filter=".alignment-iso">Alignment</button>
  <button class="button sequence-iso" data-filter=".seqanal-iso">Sequence Analysis</button>
  <button class="button secondary-iso" data-filter=".secstruct-iso">2ary Structure</button>
  <button class="button tertiary-iso" data-filter=".tertstruct-iso">3ary Structure</button>
  <button class="button classification-iso" data-filter=".classification-iso">Classification</button>
  <button class="button utils-iso" data-filter=".utils-iso">Utils</button>
</div>

<!-- Search Tools -->
<div class="isotope">


<% @tools.each do |tool| %>


 <% if tool['name'] != "dataa2" and tool['name'] != "phylip" and tool['name'] != "hamppred" and tool['name'] != "rnasehpred" and tool['name'] != "peaks" and tool['name'] != "ancient_dict" %>
<a href="/<%= tool['name'] -%>">
<div class="element-item <%= tool['section']%>-iso " data-category="<%= tool['section']%>-iso">
 
     <div class="name" id="<%= tool['name'] %>" style="font-size: 9px; font-weight: bold;"><%= tool["title"] -%></div>
     <% if tool['name'] != "sixframe" %>
     <div class="first" style="display: none; text-transform: capitalize;"><%= tool['name'] -%></div>
     <% end %>
     <div class="first" style="display: none; text-transform: capitalize;">6frame</div>
     <p class="symbol" hidden><%= tool['section']%>-iso</p>

    <span class="tooltiptext"><%= render(:partial => tool['name']+"/tooltip") %></span>
    
  </div></a>
<% end %>
<% end %>


<a href="/phylip"><div class="element-item classification-iso" data-category="classification-iso">

     <div class="name" style="font-size: 8px; font-weight: bold;">PHYLIP-NEIGHBOR</div>
     <div class="first" style="display: none; text-transform: capitalize;">phylip</div>
     <p class="symbol" hidden>classification-iso</p>
    <span class="tooltiptext"><%= render(:partial => "phylip/tooltip") %> </span>
  </div></a>


<a href="/hhpred"><div class="element-item tertstruct-iso" data-category="tertstruct-iso">

     <div class="name" style="font-size: 9px; font-weight: bold;">HHpred</div>
     <div class="first" style="display: none; text-transform: capitalize;">hhpred</div>
     <p class="symbol" hidden>tertstruct-iso</p>
    <span class="tooltiptext"><%= render(:partial => "hhpred/tooltip") %> </span>
  </div></a>

<a href="/pdbalert"><div class="element-item tertstruct-iso" data-category="tertstruct-iso">

     <div class="name" style="font-size: 9px; font-weight: bold;">PDBalert</div>
     <div class="first" style="display: none; text-transform: capitalize;">pdbalert</div>
     <p class="symbol" hidden>tertstruct-iso</p>
     <span class="tooltiptext"><%= render(:partial => "pdbalert/tooltip") %></span>
  </div></a>




</div>



<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "isotope.pkgd.min.js" %>


<script type="text/javascript">
// external js: isotope.pkgd.js

$( document ).ready( function() {

  // init Isotope
  var $container = $('.isotope').isotope({
    itemSelector: '.element-item',
    layoutMode: 'fitRows',
    getSortData: {
      name: '.first',
      symbol: '.symbol',
      number: '.number parseInt',
      category: '[data-category]',
      weight: function( itemElem ) {
        var weight = $( itemElem ).find('.weight').text();
        return parseFloat( weight.replace( /[\(\)]/g, '') );
      }
    }
  });

  // filter functions
  var filterFns = {
    // show if number is greater than 50
    numberGreaterThan50: function() {
      var number = $(this).find('.number').text();
      return parseInt( number, 10 ) > 50;
    },
    // show if name ends with -ium
    ium: function() {
      var name = $(this).find('.name').text();
      return name.match( /ium$/ );
    }
  };



  // bind filter button click
  $('#filters').on( 'click', 'button', function() {
    var filterValue = $( this ).attr('data-filter');
    // use filterFn if matches value
    filterValue = filterFns[ filterValue ] || filterValue;
    $container.isotope({ filter: filterValue });
  });

  // bind sort button click
  $('#sorts').on( 'click', 'button', function() {
    var sortByValue = $(this).attr('data-sort-by');
    $container.isotope({ sortBy: sortByValue });
  });

  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  
  
  $( "[data-sort-by='symbol']" ).trigger("click");

});


</script>



