
<style>

.updates{
height: 250px;
width: 729px;
background-color: #F8F8F8;
overflow-y:scroll;
float:left;
overflow-x: hidden;
border:0px solid black;
}

</style>
<div class="hr" style="margin-bottom: 10px; color: #000; border-bottom: 1px solid #E6F2F2;">&nbsp;</div>
<br>
<div class="updates">
<p class="message" align="justify">
<h2>Recent Updates</h2>


<h3>December, 2016</h3>
<p class="message" align="justify">We are currently refactoring our tools to use NCBI accession.version identifiers instead of GI (see <a href='https://www.ncbi.nlm.nih.gov/news/10-17-2016-gi-numbers-removed' target="_blank">announcement from NCBI</a>).</p>


<h3>November, 2016</h3> 
<p class="message" align="justify"><a href=https://toolkit.tuebingen.mpg.de/hhblits>HHblits</a>: we now offer <a href="https://github.com/soedinglab/hh-suite.git" target="_blank">HHblits v3.0.0</a> and the new <a href="https://uniclust.mmseqs.com/" target="_blank"> Uniclust30 database</a>.</p>


<h3>October, 2016</h3> 
<p class="message" align="justify"> We no longer offer legacy BLAST tools ProtBLAST and PSI-BLAST. Please use <a href=https://toolkit.tuebingen.mpg.de/prot_blastp>ProtBLAST+</a> and <a href=https://toolkit.tuebingen.mpg.de/psi_blastp>PSI-BLAST+</a> instead.</p>


<h3>July, 2016</h3> 
<p class="message" align="justify"> <a href=https://xfam.wordpress.com/2016/07/01/pfam-30-0-is-available>PfamA 30.0</a> and <a href=ftp://ftp.ncbi.nih.gov/pub/mmdb/cdd/cdd.info>CDD 3.15</a> are now available for HHpred.</p>

<h3>June, 2016</h3>
<p class="message" align="justify"> We now offer the nr50 database with many different tools (e.g. HMMER3, ProtBLAST+, CLANS).</p>

<h3>May, 2016</h3> 
<p class="message" align="justify"> Our new <a href=http://nar.oxfordjournals.org/content/early/2016/04/29/nar.gkw348.long target="_blank">manuscript </a> on the Toolkit has been published in Nucleic Acids Research.</p>

<h3>February, 2016</h3> 
<p class="message" align="justify"> PfamA 29.0 database is now also available for HHpred. </p>


<h3>January, 2016</h3>  
<p class="message" align="justify"> BLAST+ has been updated to version 2.3.0 and MODELLER to version
9.16. FRpred uses the BioJS Tree Viewer for displaying UPGMA dendrograms and the multiple sequence alignment
tool GLProbs has been added to our alignment section.</p>
<p class="message" align="justify"> HHpred bugfix: probability cut-off is working again. New PatternSearch feature: found patterns are highlighted also in the export file.</p>
<h3>December, 2015</h3>  
<p class="message" align="justiy"> ANCESCON and AlignmentViewer now use the BioJS Tree Viewer and
the BioJS MSA Viewer instead of the Archaeopteryx Tree Viewer applet and instead of the JalView applet,
respectively. Now, these tools are also fully functional in the Chrome browser.</p>
<p class="message" align="justify"> PSI-BLAST+ and ProtBLAST+ now use BLAST+ 2.2.31. </p>
<h3>August, 2015</h3>  
<p class="message" align="justify"> HMMER3 now uses hmmer 3.1b2 instead of hmmer 3.0.</p>

<p class="message" align="justify"> Added new tools PSI-BLAST+ and ProtBLAST+, which are similar to tools PSI-BLAST and ProtBLAST,
respectively. The new tools use BLAST+ programs, while tools PSI-BLAST and ProtBLAST continue to use
legacy BLAST.</p>
<h3>July, 2015</h3> 
<p class="message" align="justify"> MAFFT, TCoffee, Modeller, Muscle, and Phylip-Neighbor were
updated to their latest versions. </p> 
<h3>May, 2015</h3>  
<p class="message" align="justify"> To improve the user experience of our toolkit in browsers not
supporting Java applets, the tools Modeller and bFit now use JSmol for displaying PDB structures. </p>

<h3>November, 2014</h3>
<p class="message" align="justify"> SCOP 1.75 databases were replaced by <a href=http://scop.berkeley.edu/ver=2.04 target="_blank">SCOPe 2.04</a> databases.</p> 
<h3>June, 2013</h3>
 <p class="message" align="justify"> The signal peptide identification protocol Predisi has been added to <a href=quick2_d>Quick2D</a></b>.</p> 
<h3>April, 2013</h3>
 <p class="message" align="justify"> The sequence alignment tool <a href=msaprobs>MSAProbs</a> has been added to our library of programs</b>.</p> 
<h3>April, 2013</h3>
<p class="message" align="justify"> <a href=clustalw>Clustal Omega</a> has been made default for the Clustal alignment protocol.</p> 
</p>
</div>
<div class="hr" style="margin-bottom: 10px; color: #000; border-bottom: 1px solid #E6F2F2;">&nbsp;</div>
