
<style>

.updates{
height: 250px;
width: 725px;
background-color:#e1e1e1;
overflow-y:scroll;
float:left;
overflow-x: hidden;
border:1px solid black;
}

</style>
<div class="updates">
<p class="message" align="justify">
<h2>Recent Updates</h2>
<h3>December, 2015</h3>  
<p class="message" align="jusity">  ANCESCON and AlignmentViewer now use the BioJS Tree Viewer and
the BioJS MSA Viewer instead of the Archaeopteryx Tree Viewer applet and instead of the JalView applet,
respectively. Now, these tools are also fully functional in the Chrome browser.</p>
<p class="message" align="jusity"> PSI-BLAST+ and ProtBLAST+ now use BLAST+ 2.2.31. </p>
<h3>August, 2015</h3>  
<p class="message" align="jusity"> HMMER3 now uses hmmer 3.1b2 instead of hmmer 3.0.</p>

<p class="message" align="jusity"> Added new tools PSI-BLAST+ and ProtBLAST+, which are similar to tools PSI-BLAST and ProtBLAST,
respectively. The new tools use BLAST+ programs, while tools PSI-BLAST and ProtBLAST continue to use
legacy BLAST.</p>
<h3>July, 2015</h3> 
<p class="message" align="jusity"> MAFFT, TCoffee, Modeller, Muscle, and Phylip-Neighbor were
updated to their latest versions. </p> 
<h3>May, 2015</h3>  
<p class="message" align="jusity"> To improve user experience of our toolkit in browsers not
supporting Java applets, tools Modeller and bFit now use JSmol for displaying PDB structures. </p>

<h3>November, 2014</h3>
<p class="message" align="jusity"> scop 1.75 databases were replaced by <a href=http://scop.berkeley.edu/ver=2.04>SCOPe 2.04</a> databases.</p> 
<h3>June, 2013</h3>
 <p class="message" align="jusity"> The signal peptide identification protocol Predisi has been added to <a href=quick2_d>Quick2D</a></b>.</p> 
<h3>April, 2013</h3>
 <p class="message" align="jusity"> The sequence alignment tool <a href=msaprobs>MSAProbs</a> has been added to our library of programs</b>.</p> 
<h3>April, 2013</h3>
<p class="message" align="jusity"> <a href=clustalw>Clustal Omega</a> has been made default for the clustal alignment protocol </b>.</p> 
</p>
</div>