<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input format</a></li>
	<li><a href="#database">Select database</a></li>
	<li><a href="#seq">or enter FASTA sequences</a></li></ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input format</h3>
<div class="row">
<pre>
Prosite grammar:

Example:
G[VLIM](2)x(3,10)W{A}Dxx[ST]

A prosite pattern is described using the following conventions:

-> The standard IUPAC one-letter codes for the amino acids are used. 
-> The symbol 'x' is used for a position where any amino acid is accepted. 
-> Ambiguities are indicated by listing the acceptable amino acids for a given position, 
   between square parentheses '[ ]'. For example: [ALT] stands for Ala or Leu or Thr. 
-> Ambiguities are also indicated by listing between a pair of curly brackets '{ }' the 
   amino acids that are not accepted at a given position. For example: {AM} stands for any 
   amino acid except Ala and Met. 
-> Repetition of an element of the pattern can be indicated by following that element with 
   a numerical value or a numerical range between parenthesis. 
   Examples: x(3) corresponds to xxx, x(2,4) corresponds to xx or xxx or xxxx. 
-> When a pattern is restricted to either the N- or C-terminal of a sequence, 
   that pattern either starts with a '<' symbol or respectively ends with a '>' symbol. 
   In some rare cases (e.g. PS00267 or PS00539), '>' can also occur inside square brackets for the 
   C-terminal element. 'F[GSTV]PRL[G>]' means that either 'F[GSTV]PRLG' or 'F[GSTV]PRL>' are considered.

(<a href="http://www.expasy.org/prosite/prosuser.html#convent35" target="_blank">Prosite user manual</a>)

Regular expression:

Example:
G[VLIM]{2}.{3,10}W[^A]D..[ST]

-> A character class, defined by square parentheses '[ ]', matches a single amino acid out 
   of all the possibilities offered by the character class.
   For example: [ALT] stands for Ala or Leu or Thr
-> A caret '^' immediately after the opening '[' negates the character class.
   For example: [^ALT] stands for all amino acid except Ala and Leu and Thr
-> A dot '.' matches any amino acid.
-> A pair of curly brackets '{}' repeats the previous item exactly n times '{n}' 
   or between n and m times '{n,m}'.
   For example: A{3} correspond to AAA, .{2,4} corresponds to .. or ... or ....
-> A caret '^' match the start of the sequence.
-> A dollar '$' match the end of the sequence. 

</pre>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="database"></a>
<h3 class="<%= @section["name"] %>">Select database</h3>
<div class="row">
The selected databases are used in the pattern search. You may press CTRL to select multiple databases.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="seq"></a>
<h3 class="<%= @section["name"] %>">FASTA sequences</h3>
<div class="row">
Here you can enter your own sequences in which the pattern will be searched.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>