HHrepID, a method for the de novo
identification of repeats in protein sequences. It is able to detect the
sequence signature of structural repeats in many proteins that have not yet
been known to possess internal sequence symmetry, such as TIM barrels and
outer membrane beta-barrels.  HHrepID uses HMM-HMM comparison to exploit
evolutionary information in the form of multiple sequence alignments of
homologs. In contrast to HHrep, the new method
(1) generates a multiple alignment of repeats; (2) utilizes the transitive
nature of homology through a novel merging procedure with fully probabilistic
treatment of alignments; (3) improves alignment quality through an algorithm
that maximizes the expected accuracy; (4) is able to identify different
repeats within complicated architectures or multiple domains through automatic
domain boundary detection, (5) has improved
sensitivity through a new approach to assess statistical significance.
