<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
	Reference: Biegert A, S&ouml;ding J: HHrepID: de novo protein repeat identification by probabilistic consistency
	<em>Bioinformatics 2008</em>
	<strong>24(6)</strong>, 807-814.
	<a target="_blank" href="http://bioinformatics.oxfordjournals.org/cgi/reprint/24/6/807.pdf">(download pdf)</a>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h2>
<div class="row">
<!--We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to
<a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/soeding.htm">soeding at lmb.uni-muenchen.de</a>-->
Please inform us of problems, or send comments or 
feedback to <a target="_blank" href="/common/contact">us</a>.
</div>
