<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., S&ouml;ding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a> 
</div>
<div class="row">
Biegert A., S&ouml;ding J. (2008) <b>HHrepID: de novo protein repeat identification by probabilistic consistency.</b> Bioinformatics 24(6):807-814.<br>
<a target="_blank" href="http://bioinformatics.oxfordjournals.org/cgi/reprint/24/6/807.pdf">(download pdf)</a> 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/18245125">PMID: 18245125</a>
</div>
<br>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
<a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#104;&#104;&#064;&#109;&#112;&#105;&#098;&#112;&#099;&#046;&#109;&#112;&#103;&#046;&#100;&#101;">Support for HH-suite software</a>
</div>


