<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
HHrepID is a novel automated procedure for
  the de novo identification of repeats in protein sequences. It is able
  to detect the sequence signature of structural repeats in many proteins that
  have not yet been known to possess internal sequence symmetry, such as TIM
  barrels and outer membrane beta-barrels.  HHrepID uses HMM-HMM comparison
  to exploit evolutionary information in the form of the multiple sequence
  alignment of homologs, but in contrast to HHrep,
  the new method has several novel characteristics: (1) automated generation of
  a multiple alignment of repeats; (2) utilization of the transitive nature of
  homology through a novel merging procedure based on the fully probabilistic
  treatment of alignments; (3) superior alignment quality through an algorithm
  that maximizes the expected accuracy of an alignment; (4) the ability to
  identify different repeats within complicated architectures or multiple
  domains through automatic domain boundary detection, (5) new statistical
  treatment yielding improved sensitivity.
</div>

