A clustering is performed based on all against all BLAST similarities and the detected groups are returned. Only BLAST similarities better
than a specified cutoff are used to perform the cluster analysis.<br/> Alternatively, the results can be displayed in a more interactive manner using the program CLANS (available for download <a target="_blank" href="ftp://ftp.tuebingen.mpg.de/pub/protevo/CLANS/"> HERE </a>)
