<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
Frickey, T. and Lupas A. N. (2004) CLANS: a Java application for visualizing protein families based on pairwise similarity. Bioinformatics, 20(18), 3702-3704. 
<BR>
<a target="_blank" href="http://bioinformatics.oxfordjournals.org/content/20/18/3702.long">Download pdf file</a>
</div>
<BR>

