<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., S&ouml;ding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank" style="font-size: 8pt;">PMID: 27131380</font></a> 
</div> 
<div class="row">
Frickey T., Lupas AN. (2004) <b>CLANS: a Java application for visualizing protein families based on pairwise similarity.</b> Bioinformatics 20(18):3702-3704. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/15284097">PMID: 15284097</a>
</div>
<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems.
</div>


