<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#searchtool">Select search tool</a></li>
	<li><a href="#input">Input format</a></li>
	<li><a href="#database">Database</a></li>
	<li><a href="#matrix">Matrix</a></li>
	<li><a href="#numiterations">Number of iterations</a></li>
	<li><a href="#evalue">E-value</a></li>
	<li><a href="#evaluefirst">E-value for inclusion in first iteration</a></li>
	<li><a href="#filter">Filter for low complexety regions</a></li>
	<li><a href="#ungappedalignment">Perform ungapped alignment</a></li>
	<li><a href="#">&nbsp;</a></li>
	<li><a href="#cutoff">Cutoff</a></li>
	<li><a href="#minseq">Min. sequences</a></li>
	<li><a href="#clusterby">Cluster by ...</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="searchtool"></a>
<h3 class="<%= @section["name"] %>">Select search tool</h3>
<div class="row">
Choose wether to use BLASTP or PSIBLAST to calculate the pairwise sequence similarities
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input format</h3>
<div class="row">
<p>
A sequence in FASTA format begins with a single-line description, followed by lines of sequence data. The description line is distinguished from the sequence data by a greater-than (">") symbol in the first column. It is recommended that all lines of text be shorter than 80 characters in length. An example sequence in FASTA
format is:
</p>
<pre>
>gi|532319|pir|TVFV2E|TVFV2E envelope protein
ELRLRYCAPAGFALLKCNDADYDGFKTNCSNVSVVHCTNLMNTTVTTGLLLNGSYSENRT
QIWQKHRTSNDSALILLNKHYNLTVTCKRPGNKTVLPVTIMAGLVFHSQKYNLRLRQAWC
HFPSNWKGAWKEVKEEIVNLPKERYRGTNDPKRIFFQRQWGDPETANLWFNCHGEFFYCK
MDWFLNYLNNLTVDADHNECKNTSGTKSGNKRAPGPCVQRTYVACHIRSVIIWLETISKK
TYAPPREGHLECTSTVTGMTVELNYIPKNRTNVTLSPQIESIWAAELDRYKLVEITPIGF
APTEVRRYTGGHERQKRVPFVXXXXXXXXXXXXXXXXXXXXXXVQSQHLLAGILQQQKNL
LAAVEAQQQMLKLTIWGVK
</pre>
<p>
Sequences are expected to be represented in the standard IUB/IUPAC amino acid acid codes, with these exceptions: lower-case letters are accepted and are mapped into upper-case; a single hyphen or dash can be used to represent a gap of indeterminate length; and in amino acid sequences, U and * are acceptable letters (see below). Before submitting a request, any numerical digits in the query sequence should either be removed or replaced by appropriate letter codes (e.g., X for unknown amino acid residue).
The amino acid codes supported are:
</p>
<pre>
    A  alanine                         P  proline
    B  aspartate or asparagine         Q  glutamine
    C  cystine                         R  arginine
    D  aspartate                       S  serine
    E  glutamate                       T  threonine
    F  phenylalanine                   U  selenocysteine
    G  glycine                         V  valine
    H  histidine                       W  tryptophan
    I  isoleucine                      Y  tyrosine
    K  lysine                          Z  glutamate or glutamine
    L  leucine                         X  any
    M  methionine                      *  translation stop
    N  asparagine                      -  gap of indeterminate length
</pre>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="database"></a>
<h3 class="<%= @section["name"] %>">Database</h3>
<div class="row">
<p>
The selected databases are used by Clustering to perform the search. You may press CTRL to select multiple databases.
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="matrix"></a>
<h3 class="<%= @section["name"] %>">Matrix</h3>
<div class="row">
Specify an alternate scoring matrix for PSIBLAST. 
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="numiterations"></a>
<h3 class="<%= @section["name"] %>">Number of iterations</h3>
<div class="row">
Specify the maximum number of rounds of search.
After each successive round the search alignment is updated.(PSIBLAST only)
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="evalue"></a>
<h3 class="<%= @section["name"] %>">E-value</h3>
<div class="row">
The statistical significance threshold for reporting matches against database sequences; the default value is 10, meaning that 10 
matches are expected to be found merely by chance, according to the stochastic model of Karlin and Altschul (1990). If the statistical 
significance ascribed to a match is greater than the e-value threshold, the match will not be reported. Lower e-value thresholds are 
more stringent, leading to fewer chance matches being reported. Increasing the threshold shows less stringent matches. Fractional 
values are acceptable.  
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="evaluefirst"></a>
<h3 class="<%= @section["name"] %>">E-value for inclusion in first iteration</h3>
<div class="row">
The E-vlaue for which sequences should be added to the evolving profile (relevant only for PSIBLAST and if multiple rounds of searching are performed)
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="filter"></a>
<h3 class="<%= @section["name"] %>">Filter for low complexety regions</h3>
<div class="row">
Mask off segments of the query sequence that have low compositional complexity, as determined by the SEG program of Wootton & Federhen 
(Computers and Chemistry, 1993) or, for BLASTN, by the DUST program of Tatusov and Lipman (in preparation). Filtering can eliminate 
statistically significant but biologically uninteresting reports from the blast output (e.g., hits against common acidic-, basic- or 
proline-rich regions), leaving the more biologically interesting regions of the query sequence available for specific matching against 
database sequences. <br/>
Filtering is only applied to the query sequence (or its translation products), not to database sequences. Default filtering is DUST 
for BLASTN, SEG for other programs. <br/> 
It is not unusual for nothing at all to be masked by SEG, when applied to sequences in  SWISS-PROT, so filtering should not be expected 
to always yield an effect. Furthermore, in some cases, sequences are masked in their entirety, indicating that the statistical 
significance of any matches reported against the unfiltered query sequence should be suspect.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="ungappedalignment"></a>
<h3 class="<%= @section["name"] %>">Perform ungapped alignment</h3>
<div class="row">
Set BLAST/PSIBLAST paratemer changing the alignment behaviour of these programs.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<div class="spacer">&nbsp;</div>
<a name="cutoffselection"></a>
<h2>Cutoff Selection Parameters</h2>
<div class="row"></div>
<div class="spacer">&nbsp;</div>

<a name="cutoff"></a>
<h3 class="<%= @section["name"] %>">Cutoff</h3>
<div class="row">
The P-vlaue cutoff. Only hits with P-values better than specified will be used in further calculations.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="minseq"></a>
<h3 class="<%= @section["name"] %>">Min. sequences</h3>
<div class="row">
Determines the minimal number of sequences necessary for a "cluster" to be regarded as such.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="clusterby"></a>
<h3 class="<%= @section["name"] %>">Cluster by ...</h3>
<div class="row">
choose the clustering methodology: linkage; convex or network.<br/>
Linkage: performs a linkage clustering (you specify the linkage number)<br/>
Convex: adds sequences to clusters depending on their average "attraction" (proportional to -log P-value). Will fail if a cluster is not "convex", i.e. the majority of sequences do not share an above average pairwise similarity.(one parameter "X": the average attraction of a sequence be to a cluster has to be greater than the average global attraction+("X"*STDEV) for it to be added to a cluster)<br/>
Network: A neural net approach. Each sequence is represented by a neuron and emits a number to all other neurons. The input weights are proportional to -log P-value. in the first round each sequence emits it's own sequence numbers. in consecutive rounds, each sequence emits the number which had the largest input weight. This process iterates until no further neurons change their emission number (i.e. the cluster assignment has converged)<br/><br/>
alternative:<br/>
View in CLANS. This creates a CLANS file and allows viewing of the results in a more interactive fashion in an java applet (and provides all of the above analyses. You can download a working version of CLANS <a href="http://protevo.eb.tuebingen.mpg.de/miscpages/clans" target="_blank">here</a>)
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>