<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
A clustering is performed based on all against all BLAST similarities and the detected groups are returned. Only BLAST similarities better than a specified cutoff are used to perform the cluster analysis.
</div>
<%= render(:partial => "clans/references_and_contact") %>
