<a href="#" onClick="openHelpWindow('/sixframe/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'sixframe'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Paste nucleotide sequence in FASTA format", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
  <div class="formw">
    <span style="color: #008C50;">
     <a href="#" style="color: #008C50;" onClick="javascript:pasteExample();">Paste nucleotide sample.</a>
    </span>
  </div>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
	<%= form_label("Include nucleic acid sequence in output","showseqs") %>
	<%= form_checkbox("showseqs", "1",false) %>
</div>

<div class="row">
	<%= form_label("Print amino acids in relation to nucleic sequence","showseqs") %>
	<%= form_checkbox("relative", "1", false) %>
</div>

<div class="row">
	<%= form_label("Codon table","codontable") %>
	<%= form_select_single("mode",@codon_values,@codon_labels,@codon_values[0]) %>
</div>

<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>
<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>
