Remote homology detection method based on iterative HMM-HMM comparison. HHblits can build high-quality MSAs starting from single sequences or from MSAs. It transforms these into a query HMM and iteratively searches through uniprot20 or nr20 databases by adding significantly similar sequences from the previous search to the updated query HMM for the next search iteration. Compared to PSI-BLAST, HHblits is faster, up to twice as sensitive and produces more accurate alignments.

<br>The HHblits software is part of the open source package <a href="ftp://toolkit.genzentrum.lmu.de/pub/HH-suite/" target="_self">HHsuite</a>.