<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
Remmert M., Biegert A., Hauser A., Söding J. (2011) <b>HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment.</b></br> Nat Method 9(2):173-5.</br><a href="http://www.ncbi.nlm.nih.gov/pubmed/22198341" target="_blank"><font size="-6">PMID: 22198341</font></a>
</div>
</br>
<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
<p style="font-size:10pt; text-align:justify">
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:10pt">contact</a> us in case of any problems or feedback you may have!
</div>
