<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
Remmert M., Biegert A., Hauser A., and Söding J.
HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment.<BR>
Nat Methods, <a target="_blank" href="http://www.soeding.genzentrum.lmu.de/assets/Uploads/Preprint-2011-HHblits-inkl-Suppl2.pdf ">Download pdf file</a><BR>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to
<a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/remmert.htm">remmert at lmb.uni-muenchen.de</a>
or
<a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/soeding.htm">soeding at lmb.uni-muenchen.de</a>
</div>
