<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'align'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhblits_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhpred"}, :name => "forward_alignment") %>

<div class="row">

  <%= form_label("Alignment format", "") %>
  <%= form_select_single("format", ["/hhblits/fullalign/#{@job.jobid}?mode=fas", "/hhblits/fullalign/#{@job.jobid}?mode=a3m"], ['FASTA', 'A3M'], "/hhblits/fullalign/#{@job.jobid}?mode=#{@mode}", 1, "location.href=this.options[this.selectedIndex].value") %>
  <%= form_hidden_field("hhblits_format", @mode) %>
</div>
  <div id="applet">
   <!-- <APPLET codebase="/applets/jalview/" ARCHIVE="jalview.jar" CODE="jalview.ButtonAlignApplet.class" width=70 height=35>
      <PARAM NAME="input"  value="<%= @job.url_for_job_dir_abs %>/<%= @job.jobid %>.fas">
      <PARAM NAME="type"   value="URL">
      <PARAM NAME="format" value="FASTA">
    </APPLET> 
    <APPLET codebase="/applets/jalview/" code="jalview.bin.JalviewLite" archive="jalviewApplet.jar"  width="110" height="35"  >
        <PARAM NAME="label"  value="JalView">
        <PARAM NAME="file"  value="<%= @job.url_for_job_dir_abs %>/<%= @job.jobid %>.full.fas">
        <PARAM name="userDefinedColour" value="D,E=blue; K,R=red; H=orange; M,I,V,L=green;F,W,Y=228B22; N,Q=E066FF; C=yellow; P=D3D3D3">
    </APPLET>

    <strong><span style="position: relative; top: -16px;"><a href="#" onclick="openHelpWindow('/hhblits/help_results#alignment');" style="font-weight:normal;">complete alignment with inserts</a>&nbsp;&nbsp;&nbsp;&nbsp;</span></strong>
 -->
  <div class="hr">&nbsp;</div>

  <input name="submitform" type="submit" class="button" value="Start HHblits with this alignment" onclick="change_resubmit_form_to_hhblits();"/>
  <input name="submitform" type="submit" class="button" value="Start HHpred with this alignment" />
  <input name="resetform" type="reset" class="button" value="Undo all changes" />
  <br/>
</div>



<div class="spacer">&nbsp;</div>

<div class="row">
  <%= text_area_tag("result_textbox_to_file", @job.render_file(@resfile), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
</div>

</form>
