<ul id="helpindex" class="<%= @section['theme'] %>">
<li><a href="#general">General remarks</a></li>
<li><a href="#alignments">Query-template alignments</a></li>
<li><a href="#references">References</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

<h2><%= @tool['title'] %> - Histogram view</h2> 
<p> 

<div class="row">
<a name="General"></a>
<h3 class="<%= @section["name"] %>">General remarks</h3>
Except for the query-template alignments, the histogram view is the same as the alignment view. 
The histogram view consists of 1. A <i>bar graph</i> summarizing the positions and color-coded significances 
of the database matches with more than 40% probability.  2. A tabular <i>hit list</i> with probabilities, 
E-values, scores, and match regions in query and templates.  3. The pairwise <i>query-templates alignments</i> 
of the profile HMMs, depicted as histograms over the amino acid distributions in the columns of the underlying 
multiple alignments.  The first two sections are described in detail on the 
<a href="#" title="HHblits help on results" onclick="openHelpWindow('help_results');">Results</a> page of this 
help.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<div class="row">
<a name="alignments"></a>
<h3 class="<%= @section["name"] %>">Histogram view of aligned query and template profiles</h3>

A typical histogram view of two aligned profiles looks like this:
<p><br>

<pre>
No 4 <a href="" style="margin: 5px 10px 10px 10px;" ><img src="/images/hhpred/logo_alignments.jpg" alt="Alignments" title="show query-template alignments" border="0" align="middle" height="30"></a><a href="" style="margin: 5px 10px 10px 10px;" ><img src="/images/hhpred/logo_template_ali.png" title="Show template alignment" border="0" align="middle" /></a>
<input style="margin: 0px 5px; padding: 0px;" type="checkbox" name="hit_checkbox153" id="hit_checkbox153" value="77" onclick="javascript:change(77, 1)"/>>cl|VALYOFEBE|7|329 cDNA, FLJ96874, highly similar to Homo sapiens zinc finger protein 2 (A1-5) (ZNF2). [Mus musculus]|Q3UT31 [Homo sapiens]|B4DRR6|B4DF82|B2RE18 [Ailuropoda melanoleuca]|D2HFZ8 [Arvicola amphibius]|D2E448 [Nematostella vectensis]|A7RXS4.
    Probab=100.00  E-value=0  Score=434.08  Aligned_cols=143  Identities=66%  Similarity=1.248  Sum_probs=74.9
  <map name="8616249_4">
  <area shape="rect" coords="50,95,770,140" href="#" onmouseover="imgOn('hitimage4','/images/hhblits/histo_tt.png');" onmouseout="imgOff('hitimage4','/images/hhblits/histo.png');" >
  <area shape="rect" coords="50,315,770,360" href="#" onmouseover="imgOn('hitimage4','/images/hhblits/histo_tt.png');" onmouseout="imgOff('hitimage4','/images/hhblits/histo.png');" >
  </map>
  <img name="hitimage4" src="/images/hhblits/histo.png" border="0" alt="hhpred profile 4" usemap="#8616249_4" />

</pre>

<br><br>
The black bar in the middle shows the column score between the query and template 
amino acid distributions with <b>|</b>, <b>+</b>, <b>.</b>, <b>-</b>, <b>=</b> 
indicating scores from 'very good' to 'very bad'.
(See the <a href="#" title="HHblits help on results" onclick="openHelpWindow('help_results');">Results</a>
page for a more detailed explanations).
Gaps in either the query or target are marked by a blank field in this middle line.

<br><br>
The colored histogram bars report direcly the proportion of the most abundant amino acids in the corresponding 
column of the underlying multiple alignment. (Remember that HHblits relies on HMM-HMM comparison and that both 
query and templates HMM are derived from an alignment of homologs.) As an example, the first column shown from 
the query alignment contains approximately 60% threonine (T) and 30% arginine (R). The other residues are below 
10% each and are not shown. Therefore, badly conserved columns which contain a lot of residues with proportions 
of less than 10% have a low total height whereas well conserved columns assume the maximum height. The residues 
are colored according to their general physico-chemical properties: 
cysteines in yellow, aliphatic hydrophobics (V, L, I, M) in green, aromatic amino acids (Y, F, W) in dark green, 
small amino acids (G, A, S, T) in light grey, negatively charged (D, E) in blue, polar (N, Q) in magenta, 
histidines in orange, positively charged (K, L) in red, prolines in grey. 

<br><br>
The histogram view is very useful to grasp the character of similarity between two profile HMMs that HHblits 
has detected. In a single glance, one can often tell apart false positives that are due to merely similar amino 
acid composition from real homologs with their conserved motifs. Functional motifs or structurally important 
amino acids can often be quickly spotted due to the expected high conservation of the involved residues. 
In this context, note the aligned, highly conserved cysteines of the zinc finger motif.
</div>

<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<%= render(:partial => "hhblits/references_and_contact") %>
