<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => "Results"}) %>
<%= render(:partial => "shared/resultsections", :locals => {:forward => false}) %>

<%= form_tag( "", {:id => @job.tool+"_form"}) %>

<% if @errors['hits'] %>
<div class="row">
  <p class="formerror"><%= @errors['hits'] %></p>
</div><div class="hr">&nbsp;</div>
<% end %>

<div id="forward" style="display: none;">
  <input name="hits" id="hits" type="hidden" value=""/>

  <div class="row">
    <%= form_label("Forward results to") %>
    <%= form_select_single("destination", @fw_values, @fw_labels, @fw_values[1], 1, "toggle_seqlen('destination');") %>
  </div>

  <div class="row">
    <%= form_label("Select hits to forward") %>
    <div class="formw">
      <input name="includehits" type="radio" value="selected" checked="checked" />&nbsp;selected hits<br/>
      <input name="submitform" type="submit" class="feedbutton" onClick="extract_selected(); setFwAction('<%= @job.tool %>_form', 'destination');" value="Forward hits" />

      <input name="includehits" type="radio" value="byevalue" />&nbsp;hits with e-value better than&nbsp;
      <input name="hitsevalue" type="text" value="0.001" />
    </div>
  </div>
  <div class="hr">&nbsp;</div>
      <a href="javascript:select()">Select all</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:deselect()">Deselect all</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:select_first(10)">Select the best ten</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:select_first(20)">Select the best twenty</a>
    <br/><br/>
</div>
<div class="row">
  <%=  @job.results.join  %>
</div>

</form>
