<script src="https://use.fontawesome.com/084cb96765.js"></script>
<style>
.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
</style>
<div class="row">
  <p style="color: #C33; text-align: center; font-size:9pt;">We now offer <a style="font-size:9pt;"
href="https://github.com/soedinglab/hh-suite.git" target="_blank"><font color="#C33">HHblits v3.0.0</font></a> and
the new <a
style="font-size:9pt;"href="https://uniclust.mmseqs.com/"
target="_blank"><font color="#C33"> Uniclust30 database</font></a>.</p>
</div>

<a href="#" onClick="openHelpWindow('/hhblits/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>
<h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'hhblits'}, {:multipart => true, :id => 'parms', :onreset => "return resetDisplayValues('#{params['informat'] || @informat_values[0]}');" })%> 
<h3 class="<%= @section["name"] %>">Input</h3>

<% if @parent_job.nil? || @parent_job.params['mode'].nil?  -%>
<div class="row">
  <%= form_label("Paste protein sequence or MSA", "input") %>
  <%= form_text_area("sequence_input") %>
</div>

<div class="row">
  <div class="formw">
    <span style="color: #008C50;">
    Search with pancreatitis induced protein<a href="#" onClick="javascript:pasteExample();" style="color:#008C50"> PIP49.</a>
     </span>
  </div>
</div>


<div class="row">
  <%= form_label("or upload a local file") %>
  <%= form_file("sequence_file") %>
</div>
<div class="row">
	<%= form_label("Select alignment format", "format") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0], 1, "adjustMatchModeValues();") %>	
</div>
<div id='match_mode_selection' class="row">
  <%= form_label("Match state assignment", "match_mode") %>
  <% disable = false
     # Have @error_params to be considered? That if statement should not be necessary otherwise.
     if ((params['informat'] && (params['informat'] == "a2m" || params['informat'] == "a3m")) || (@error_params['informat'] && (@error_params['informat'] == "a2m" || @error_params['informat'] == "a3m"))) then disable = true end
  %>
  <div class="formw">
    <%= form_select_single("match_mode", @match_mode_values, @match_mode_labels, '50', 1, "", disable, false) %> (For A2M/A3M format the match assignment of the input is used.)
  </div>
</div>

<div class="spacer">&nbsp;</div>
<div class="row">
  <%= form_submit_buttons %>

<%else%>
<%= form_hidden_field("sequence_input") %>
<%= form_hidden_field("sequence_file", "") %>
<%= form_hidden_field("informat") %>

<div class="row">
    <strong>Using query a3m MSA from job <%= @parent_job.jobid %> as input!</strong>
    <%= form_hidden_field("mode", "querymsa") %>
    <%= form_submit_buttons %>


<%end%>
</div>

<h3 class="<%= @section["name"] %>">Search Options</h3>

<div class="row">
  <%= form_label("Select HMM database", "databases") %>
  <div class="formw">
    <table cellspacing="0">
    <tr align="center"><td><b>Standard</b></td></tr>
    <tr><td>
    <%= form_select_single("hhblits_dbs", @dbvalues, @dblabels, @default_db, 5, "", false, true) %>
    </td></tr>
    </table>
  </div>	
</div>

<div class="row">
  <%= form_label("Max. iterations", "maxit") %>
  <%= form_select_single("maxit", @maxit, @maxit, '1') %>	
</div>
<div class="row">
  <%= form_label("Alignment mode", "alignmode") %>
  <%= form_radio_buttons("alignmode", ['local', 'global'], ['local', 'global'], "local", "&nbsp;") %>	
</div>
<div class="row">
  <%= form_label("Realign with MAC", "realign") %>
  <%= form_checkbox("realign", '1', @realign) %>	
</div>

<div class="row">
  <%= form_label("MAC realignment threshold<br><small>(0.0:global, >=0.1:local)</small>", "mact") %>
  <%= form_select_single("mact", @mactval, @mactval, '0.35') %>	
</div>

<div class="spacer">&nbsp;</div>
<h3 class="<%= @section["name"] %>">
  More options
  <span id="show_more_options" style="font-size: 10px; display: <%= @show_more_options ? 'none' : 'true' %>"><a style="margin-left: 10px; font-weight: normal;" on_click="show_hide_more_options();" href="javascript:show_hide_more_options();">Show</a></span>
  <span id="hide_more_options" style="font-size: 10px; display: <%= @show_more_options ? 'true' : 'none' %>"><a style="margin-left: 10px; font-weight: normal;" on_click="show_hide_more_options();" href="javascript:show_hide_more_options();">Hide</a></span>
</h3>

<%= hidden_field_tag("more_options_on", (@show_more_options ? "true" : "false") ) %>
<div style="display:<%= @show_more_options ? 'true' : 'none' %>;" id="more_options">    

  <div class="row">
    <%= form_label("Disable most filters<br><small>(more sensitive, but slow!)</small>", "no_filter") %>
    <%= form_checkbox("nofilter", '1', false) %>
  </div>

  <div class="row">
    <%= form_label("E-value inclusion threshold", "E_hhblits") %>
    <%= form_select_single("EvalHHblits", @EvalHHblits, @EvalHHblits, '1e-3') %>
  </div>

  <div class="row">
    <%= form_label("Min. coverage of hits included", "cov_min") %>
    <%= form_select_single("cov_min", @cov_minval, @cov_minval, '0') %>
  </div>
  
  <div class="hr">&nbsp;</div>

  <div class="row">
    <%= form_label("Show sequences per HMM", "maxseq") %>
    <%= form_select_single("maxseq", @maxseqval, @maxseqval, '1') %>	
  </div>
  <div class="row">
    <%= form_label("Width of alignments", "width") %>
    <%= form_text_field("width", '80', 'columns') %>	
  </div>

  <div class="row">
    <%= form_label("Min. probability in hitlist", "minprobab") %>
    <%= form_text_field("Pmin", '20', '%') %>	
  </div>
  <div class="row">
    <%= form_label("Max. number of hits in hitlist", "maxlines") %>
    <%= form_text_field("maxlines", '100') %>	
  </div>

  <div class="spacer">&nbsp;</div>
  
</div>

<% if @user %>
  <%= render :partial => "shared/save_params"%>
<% end %>

<%= render(:partial => "shared/joboptions") %>

</form>

<div class="hr">&nbsp;</div>

<ul class="fa-ul">
  <li><a href="#" class="icon fa-angle-double-right" title="About HHblits" onclick="openHelpWindow('/hhblits/help_ov');">About HHblits</a></li>
  <li><a target="_blank" class="icon fa-angle-double-right" href="https://github.com/soedinglab/hh-suite.git" title="Download HH-suite at github">Download HH-suite at github</a></li>
  <li><a target="_blank" class="icon fa-angle-double-right" href="http://wwwuser.gwdg.de/~compbiol/pdf/Preprint-2011-HHblits-inkl-Suppl2.pdf" title="HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment">Author Manuscript: HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment</a></li>
  <li><a target="_blank" class="icon fa-angle-double-right" href="http://www.mpibpc.mpg.de/de/soeding">S&ouml;ding group at Max Planck Institute for Biophysical Chemistry in G&ouml;ttingen</a></li>
</ul>
<%= render(:partial => "references_and_contact") %>

