
<div class="row">
<font size="2" color="#FF0000">Open-source HH-suite 2.0 available with better performance and new functionality! Download <a href="ftp://toolkit.genzentrum.lmu.de/pub/HH-suite/">here</a></font> 
</div>
<a href="#" onClick="openHelpWindow('/hhblits/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a>
<h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'hhblits'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>

<div class="row">
  <%= form_label("Paste protein sequence or multiple alignment", "input") %>
  <%= form_text_area("sequence_input") %>
</div>
<div class="row">
  <%= form_label("or upload a local file") %>
  <%= form_file("sequence_file") %>
</div>
<div class="row">
	<%= form_label("Select alignment format", "format") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0], 1, "change_format();") %>	
</div>
<div class="row">
  <%= form_label("Match state assignment", "match_modus") %>
  <% disable = false %>
  <% if ((params['informat'] && (params['informat'] == "a2m" || params['informat'] == "a3m")) || (@error_params['informat'] && (@error_params['informat'] == "a2m" || @error_params['informat'] == "a3m"))) then disable = true end %>
  <div class="formw">
    <%= form_select_single("match_modus", @match_modus, @match_modus, '50', 1, "", disable, false) %> (For A2M/A3M format the match assignment of the input is used.)     
  </div>
</div>

<div class="spacer">&nbsp;</div>
<div class="row">
  <%= form_submit_buttons %>
</div>

<h3 class="<%= @section["name"] %>">Search Options</h3>

<div class="row">
  <%= form_label("Select HMM database", "databases") %>
  <div class="formw">
    <table cellspacing="0">
    <tr align="center"><td><b>Standard</b></td></tr>
    <tr><td>
    <%= form_select_single("hhblits_dbs", @dbvalues, @dblabels, @default_db, 5, "", false, true) %>
    </td></tr>
    </table>
  </div>	
</div>

<div class="row">
  <%= form_label("Max. iterations", "maxit") %>
  <%= form_select_single("maxit", @maxit, @maxit, '1') %>	
</div>
<div class="row">
  <%= form_label("Alignment mode", "alignmode") %>
  <%= form_radio_buttons("alignmode", ['local', 'global'], ['local', 'global'], "local", "&nbsp;") %>	
</div>
<div class="row">
  <%= form_label("Realign with MAC", "realign") %>
  <%= form_checkbox("realign", '1', true) %>	
</div>

<div class="row">
  <%= form_label("MAC realignment threshold (0.0:global, >=0.1:local)", "mact") %>
  <%= form_select_single("mact", @mactval, @mactval, '0.5') %>	
</div>

<div class="spacer">&nbsp;</div>
<h3 class="<%= @section["name"] %>">
  More options
  <span id="show_more_options" style="font-size: 10px; display: <%= @show_more_options ? 'none' : 'true' %>"><a style="margin-left: 10px; font-weight: normal;" on_click="show_hide_more_options();" href="javascript:show_hide_more_options();">Show</a></span>
  <span id="hide_more_options" style="font-size: 10px; display: <%= @show_more_options ? 'true' : 'none' %>"><a style="margin-left: 10px; font-weight: normal;" on_click="show_hide_more_options();" href="javascript:show_hide_more_options();">Hide</a></span>
</h3>

<%= hidden_field_tag("more_options_on", (@show_more_options ? "true" : "false") ) %>
<div style="display:<%= @show_more_options ? 'true' : 'none' %>;" id="more_options">    

  <div class="row">
    <%= form_label("Disable most filters (more sensitive, but slow!)", "no_filter") %>
    <%= form_checkbox("nofilter", '1', false) %>
  </div>

  <div class="row">
    <%= form_label("E-value inclusion threshold for HHblits", "E_hhblits") %>
    <%= form_select_single("EvalHHblits", @EvalHHblits, @EvalHHblits, '1e-3') %>
  </div>

  <div class="row">
    <%= form_label("Min. coverage of hits included in evolving profile", "cov_min") %>
    <%= form_select_single("cov_min", @cov_minval, @cov_minval, '0') %>
  </div>
  
  <div class="hr">&nbsp;</div>

  <div class="row">
    <%= form_label("Show sequences per HMM", "maxseq") %>
    <%= form_select_single("maxseq", @maxseqval, @maxseqval, '1') %>	
  </div>
  <div class="row">
    <%= form_label("Width of alignments", "width") %>
    <%= form_text_field("width", '80', 'columns') %>	
  </div>

  <div class="row">
    <%= form_label("Min. probability in hitlist", "minprobab") %>
    <%= form_text_field("Pmin", '20', '%') %>	
  </div>
  <div class="row">
    <%= form_label("Max. number of hits in hitlist", "maxlines") %>
    <%= form_text_field("maxlines", '100') %>	
  </div>

  <div class="spacer">&nbsp;</div>
  
</div>

<%= render(:partial => "shared/joboptions") %>

</form>

<div class="hr">&nbsp;</div>
<ul class="arrow-marker">
	.
  <li><a target="_blank" href="http://www.soeding.genzentrum.lmu.de/assets/Uploads/Preprint-2011-HHblits-inkl-Suppl2.pdf" title="HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment"><B>Author Manuscript: HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment</B></a></li>
  <li><a href="#" title="About HHblits" onclick="openHelpWindow('/hhblits/help_ov');">About HHblits</a></li>
  <li><a target="_blank" href="ftp://toolkit.genzentrum.lmu.de/pub/HH-suite/" title="Download HHsuite 2.0"><B>Download HHsuite 2.0</B></a></li>
  <li><a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/index.htm">S&ouml;ding group at Gene Center in Munich</a></li>
</ul>
<div class="hr">&nbsp;</div>
<div class="row">
  Please send feedback to: (toolkit) AT lmb.uni-muenchen.de
</div>
