NEIGHBOR is a program of the 
<A href="http://evolution.genetics.washington.edu/phylip.html"  target="blank">PHYLIP</A> package for 
inferring phylogenies. Based on a sequence alignment (DNA or Protein) this tool computes two phylogenetic 
trees, using  Neighbor Joining and UPGMA. Trees are displayed in PostScript and ASCII format. 
Additionally bootstrapping in conjunction with consensus tree evaluation can be enabled.