<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
This tool provides quick and easy access to standard distance based phylogenetic methods. 
NEIGHBOR is a module of the PHYLIP package and can be used for the computation of unrooted Neighbor-Joining 
and rooted UPGMA (Average Linkage clustering) trees assuming a molecular clock in the latter case. 
DNA or protein alignments are preprocessed with 
<a href=http://evolution.genetics.washington.edu/phylip/doc/dnadist.html target="blanc">DNADIST</a> or  
<a href=http://evolution.genetics.washington.edu/phylip/doc/protdist.html target="blanc">PROTDIST</a>. 
For bootstrapping the program 
<a href=http://evolution.genetics.washington.edu/phylip/doc/seqboot.html target="blanc">SEQBOOT</a> is used 
for resampling and 
<a href=http://evolution.genetics.washington.edu/phylip/doc/consense.html target="blanc">CONSENSE</a> is 
employed to evaluate a consensus tree.
</div>

