<a name="references"></a>
<h3 class="utils">References</h3>
<div class="row">
Agarval V., Remmert M., Biegert A., and S&ouml;ding J. (2008) 
PDBalert: automatic, recurrent remote homology tracking and protein structure prediction<br/>
BMC Structural Biology 2008, 8:51. doi:10.1186/1472-6807-8-51<br />
<a target="_blank" href="http://www.biomedcentral.com/1472-6807/8/51">Download pdf file</a>
</div>
<div class="row">
S&ouml;ding J. (2005) Protein homology detection by HMM-HMM comparison.<br/>
Bioinformatics <b>21</b>, 951-960. doi:10.1093/bioinformatics/bti125.<br/>
<a target="_blank" href="http://bioinformatics.oupjournals.org/cgi/content/abstract/bti125?ijkey=38Cp1qeK4zozg&keytype=ref">Download pdf file</a>
</div>
<div class="row">
S&ouml;ding J, Biegert A, and Lupas AN. (2005)
The HHpred interactive server for protein homology detection and structure prediction.<br/>
Nucleic Acids Research 33, W244--W248 (Web Server issue). doi:10.1093/nar/gki40.<br/>
<a target="_blank" href="http://nar.oxfordjournals.org/cgi/reprint/33/suppl_2/W244?ijkey=FuurmQ3jgumZ6AU&keytype=ref">Download pdf file</a>
</div>
<br/>

<a name="contact"></a>
<h3 class="utils">Contact</h3>
<div class="row">
The PDBalert system was developed at the Gene Center of the University of Munich (<a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/">S&ouml;ding lab</a>).<br/><br/>

We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to <a target="_blank" href="http://www.lmb.uni-muenchen.de/soeding/soeding.htm">soeding at lmb.uni-muenchen.de</a><br/>
</div>
