<ul id="helpindex" class="darkred">
<li><a href="#about">What is PDBalert?</a></li>
<li><a href="#use">How is it useful?</a></li>
<li><a href="#references">References</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

<h2>About PDBalert</h2> 

<a name="about"></a>
<%= render(:partial => "pdbalert/info") %>
<br /><br />

<%= render(:partial => "pdbalert/references_and_contact") %>
