<h2><%= @page_title %></h2> 
<br />
<a href="/user/login">Login required</a> <a href="/user/signup">(New users, register here)</a>
<%= render(:partial => "pdbalert/info") %>
<br />
<%= render(:partial => "pdbalert/references_and_contact") %>
