<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
MUSCLE is a multiple alignment program for protein sequences. MUSCLE stands for multiple sequence comparison by log-expectation.
[MUSCLE 3.8.31; <a href="http://www.drive5.com/muscle/index.htm" target="_blank">http://www.drive5.com/muscle/</a>]
</div>

