<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a> 
<br>
<br>
Fischer JD., Mayer CE., Söding J. (2008)<b> Prediction of Protein Functional Residues From Sequence by 
Probability Density Estimation.</b> Bioinformatics 24:613-620. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/18174181">PMID: 18174181</a>
<br>
<br>
Mihalek I., Res I., Lichtarge O. (2004) <b>A Family of Evolution-Entropy Hybrid Methods for Ranking Protein
Residues by Importance.</b> J Mol Biol 336:1265-1282. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/15037084">PMID: 15037084</a>
<br>
<br>
Hannenhalli SS., Russel, RB. (2000) <b>Analysis and Prediction of Functional Sub-types from Protein Sequence
Alignments.</b> J Mol Biol 303(1):61-76. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/11021970">PMID: 11021970</a>
<br>
<br>
Altschul S., Madden T., Schaffer A., Zhang J., Zhang Z., Miller W., Lipman D. (1997) <b>Gapped BLAST and PSI-BLAST: 
a New Generation of Protein Database Search Programs.</b> Nucl Acids Res 25:3389-3402. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/9254694">PMID: 9254694</a>
<br>
<br>
Kabsch W., Sander C. (1983) <b>Dictionary of Protein Secondary Structure: Pattern Recognition of Hydrogen-Bonded
and Geometrical Features.</b> Biopolymers 22:2577-2637. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/6667333">PMID: 6667333</a>
<br>
<br>
Adamczak R., Porollo A., Meller J. (2004) <b>Accurate Predicition of Solvent Accessibility Using Neural Networks-Based Regression.</b> 
Proteins 56:753-767. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/15281128">PMID: 15281128</a>
</div>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems. 
</div>
