<APPLET id="treeview" codebase="/applets/ATV/" ARCHIVE="ATVapplet.jar" CODE="forester.atv_awt.ATVapplet.class" WIDTH = 1 HEIGHT = 1>
	<PARAM NAME="url_of_tree_to_load" VALUE="<%= DOC_ROOTURL %><%= @tree %>">	
</applet>