<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Ali2D which takes a sequence alignment as input, performs PSIPRED and MEMSAT2 on each of the 
sequences and finally plots information about secondary structure, transmembrane regions and amino acids 
on the alignemnt.
</div>

