<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Tool Description for the incredible GDpred Tool, which can be used for almost every computation. It was designed to fit especially your personal needs and makes your life tremendiously easier. If you are not able to use this tool, try our mirrored page <a href="http://www.google.de">Mirror</a>
</div>

