SamCC measures local parameters of (a)symmetric, parallel, and antiparallel four-helical coiled-coils. Briefly, SamCC divides coiled-coil bundle into layers (slices), brings each layer into an idealized state (expected from equations), then performing final calculations on the resulting idealized structure.
