<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., S&ouml;ding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank" style="font-size: 8pt;">PMID: 27131380</font></a> 
</div> 
<div class="row"> 
Dunin-Horkawicz S., Lupas AN. (2010) <b>Measuring the conformational space of square four-helical bundles with the program samCC.</b> 170(2):226-35. doi: 10.1016/j.jsb.2010.01.023. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/20139000" target="_blank" style="font-size: 8pt;">PMID: 20139000</font></a> 
</div> 
<br>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems. 
</div>