Quick2D gives you an overview of secondary structure features like alpha-helices, extended beta-sheets, coiled coils, transmembrane helices and disorder regions. Predictions by PSIPRED, JNET, Prof(Rost), Prof(Ouali), Coils, MEMSAT2, HMMTOP, DISOPRED2 and VSL2.
