<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Quick2D gives you an overview of secondary structure features like alpha-helices, extended beta-sheets, coiled coils, transmembrane helices and disorder regions. Predictions by PSIPRED, JNET, Prof(Rost), Prof(Ouali), Coils, HMMTOP and DISOPRED2.
</div>

