<a href="#" onClick="openHelpWindow('/quick2_d/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'quick2_d'}, {:multipart => true})%> 

<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Paste protein sequence or multiple alignment", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>	
<div class="row">
	<%= form_label("Select input format", "format") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0]) %>	
</div><div class="spacer">&nbsp;</div>

<div class="row">
	<%= form_submit_snail_buttons("Runtime ~5 min for N=100 sequences of length L=200.") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>
<div class="row">
	<%= form_label("Do PSI-BLAST Search", "psiblast_search") %>
	<%= form_checkbox("psiblast_chk", '1', true) %>
</div>
<div class="spacer">&nbsp;</div>


<h3 class="<%= @section["name"] %>">Prediction Methods</h3>
<div class="row">
	<%= form_label("PSIPRED") %>
	<div class="formw">	
		<table><tr>
			<td align="left" valign="top">
				<%= form_checkbox("psipred_chk", '1', true, true) %>
			</td><td> 
				D. T. Jones (1999) 
				Protein secondary structure prediction based on position-specific scoring matrices. 
				<em>Journal of Molecular Biology</em> <b>292</b>, 195-202.
			</td>
		</tr></table>
	</div>
</div>
<div class="spacer">&nbsp;</div>		
	
<div class="row">
	<%= form_label("JNET") %>	
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("jnet_chk", '1', true, true) %>
		</td><td>
			J. A. Cuff and G. J. Barton (1999) 
			Application of enhanced multiple sequence alignment 
			profiles to improve protein secondary structure prediction. 
			<em>Proteins</em> <b>40</b>, 502-511.	
		</td>
		</tr></table>
	</div>
</div>
<div class="spacer">&nbsp;</div>		
	
<div class="row">
	<div class="label">
		<%= form_label("Prof") %>	
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("profouali_chk", '1', true, true) %>
		</td><td>		   
  			M. Ouali and R. D. King (2000) Cascaded multiple classifiers for   
  			secondary structure prediction. 
			<em>Protein Science</em> <b>9</b>, 1162-1176. 
		</td>
		</tr></table>
	</div>
</div>
<div class="spacer">&nbsp;</div>			
<div class="row">
	<div class="label">
		<%= form_label("Prof") %>	
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("profrost_chk", '1', true, true) %>
		</td><td>		   
  			B. Rost (2001)
  			Protein secondarystructure prediction continues to rise. 
  			<em>Journal of Structural Biology</em> <b>134</b>, 204-218.
		</td>
		</tr></table>
	</div>
</div>
<div class="spacer">&nbsp;</div>	

<div class="row">
	<div class="label">
		<%= form_label("Coils") %>	
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("coils_chk", '1', true, true) %>
		</td><td>			
			A. N. Lupas, M. Van Dyke and J. Stock (1991)
			Predicting Coiled Coils from Protein Sequences.
			<em>Science</em> <b>252</b>, 1162-1164.
		</td>
		</tr></table>
	</div>
</div>
<div class="spacer">&nbsp;</div>	
	

<div class="row">	<div class="label">
		<%= form_label("HMMTOP") %>
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("hmmtop_chk", '1', true, true) %>
		</td><td>			
			G. E. Tusn&aacute;dy and I. Simon (1998) 
			Principles Governing Amino Acid Composition of Integral Membrane Proteins: 
			Applications to Topology Prediction. 
			<em>Journal of Molecular Biology</em> <b>283</b>, 489-506.
		</td>
		</tr></table>
	</div>			
</div>
<div class="spacer">&nbsp;</div>		

<div class="row">
	<div class="label">
		<%= form_label("MEMSAT-SVM") %>	
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("memsatsvm_chk", '1', true, true) %>
		</td><td>			
			Timothy Nugent, David T. Jones (2009)
			Transmembrane protein topology prediction using support vector machines
			<em>BMC Bioinformatics 2009</em>
		</td>
		</tr></table>
	</div>
</div>
<div class="spacer">&nbsp;</div>	
			
<div class="row">	<div class="label">
		<%= form_label("DISOPRED2") %>
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("disopred2_chk", '1', true, true) %>
		</td><td>			
			J. J. Ward, J. S. Sodhi, L. J. McGuffin, B. F. Buxton and D. T. Jones (2004) 
			Prediction and Functional Analysis of Native Disorder in Proteins
			from the Three Kingdoms of Life.
			<em>Journal of Molecular Biology</em> <b>337(3)</b>, 635-45.
		</td>
		</tr></table>
	</div>			
</div>
<div class="spacer">&nbsp;</div>


<div class="row">
	<div class="label">
		<%= form_label("IUPRED") %>
	</div>
	<div class="formw">			
		<table><tr><td align="left" valign="top">
			<%= form_checkbox("iupred_chk", '1', true, true) %>
		</td><td>			
			Zsuzsanna Doszt&aacute;, Veronika Csizm&oacute;k, P&eacute;ter Tompa and Istv&aacute;n Simon (2005) 
			The Pairwise Energy Content Estimated from Amino Acid Composition Discriminates 
			between Folded and Intrinsically Unstructured Proteins
			<em>J. Mol. Biol.</em> <b>347</b>, 827-839.
		</td>
		</tr></table>
	</div>			
</div>
<div class="spacer">&nbsp;</div>


<%= render(:partial => "shared/joboptions") %>

</form>