This server compares a single sequence (COILS) or a sequence alignment (PCOILS) to a database of known coiled-coils and derives a similarity score. The program then calculates the probability that the sequence will adopt a coiled-coil conformation. The external COILS server at ISREC can be found
<a target="_blank" href="http://www.ch.embnet.org/software/COILS_form.html">here</a>.
