PCOILS compares a single sequence or a sequence alignment to a database of known coiled-coils and derives a 
similarity score. The program then calculates the probability that the sequence will adopt a coiled-coil 
conformation. The older COILS version can be found 
<a target="_blank" href="http://www.ch.embnet.org/software/COILS_form.html">here</a>.