<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a> 
</div> 
<div class="row">
Lupas A., Van Dyke M., Stock J. (1991) <b>Predicting Coiled Coils from Protein Sequences.</b> Science 252:1162-1164. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/2031185">PMID: 2031185</a>
</div>
<div class="row">
Lupas A. (1996) <b>Prediction and Analysis of Coiled-Coil Structures.</b> Methods Enzymol 266:513-525. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/8743703">PMID: 8743703</a>
</div>
<div class="row">
Parry DA. (1982) <b>Coiled-Coils in Alpha-Helix-Containing Proteins: Analysis of the Residue Types within the
Heptad<br> Repeat and the Use of These Data in the Prediction of Coiled-Coils in Other Proteins.</b> Biosci Rep 2(12):1017-24. 
<a target="_blank" style="font-size:8pt" href="http://www.ncbi.nlm.nih.gov/pubmed/7165792">PMID: 7165792</a>
</div>
<br>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems. 
</div>
