<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#output">COILS Output</a></li>
	<li><a href="#error">Various Problems</a></li>
	<li><a href="#forever">Job is running forever</a></li>
	<li><a href="#message">Error messages</a></li>
	<li><a href="#input_parameters">Input parameters</a></li>
	<li><a href="#results">Results</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>

<h2><%= @tool['title'] %> FAQs</h2>

<a name="output"></a>
<h3 class="<%= @section["name"] %>">The <%= @tool['title'] %> output is slightly different from the server I usually use</h3>
<div class="row">
This version of <%= @tool['title'] %> allows not only single sequences as input, but also sequence alignments. 
Even single sequences are treated as a one-line alignment and pseudocounts are added when creating the 
input profile. These pseudocounts were not added in the former versions of <%= @tool['title'] %>.
</div>

<a name="error"></a>
<h3 class="<%= @section["name"] %>">I don't see any graph / there are some funny error messages.</h3>
<div class="row">
This website is optimized for Mozilla, Firefox, Netscape 7, and Opera 7 browsers. Most other environments 
work as well, but may show the graphics in a less favorable way. Occasionally reloading the page helps. 
MacOS below version 10.3 is not supported!
</div>

<a name="forever"></a>
<h3 class="<%= @section["name"] %>">My job has been running forever!</h3>
<div class="row">
Maybe something went wrong on our side. In this case just resubmit your job again and 
<a target="_blank" href="http://toolkit.tuebingen.mpg.de/common/contact">contact us</a> if the 
problem persists.</div>

<a name="message"></a>
<h3 class="<%= @section["name"] %>">What to do if I get an error message, e.g. "Cannot open: No such file or directory at 
/var/web/cgi-bin/toolkit/ftwin..."?</h3>
<div class ="row">
The error is on our side and we would be grateful to know about it as soon as possible.
<a target="_blank" href="http://toolkit.tuebingen.mpg.de/common/contact">Please notify us</a>, 
including the job-ID and error text.
</div>

<a name="input_parameters"></a>
<h3 class="<%= @section["name"] %>">Where can I find help on the input parameters?</h3>
<div class="row">
Click the input parameter on the input page or 
click <a href="/pcoils/help_params" title="<%= @tool['title'] %> parameters">here</a>
for the comprehensive list.
</div>

<a name="results"></a>
<h3 class="<%= @section["name"] %>">Where do I find help to understand the results?</h3>
<div class="row">
Click <a href="/pcoils/help_results" title="<%= @tool['title'] %> results">here</a>
for help on COILS results.
</div>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
We are committed to improve this service for you. Please inform us of problems, or send comments or 
feedback: <a target="_blank" href="http://toolkit.tuebingen.mpg.de/common/contact">TOOLKIT</a>
</div>


