<script src="https://use.fontawesome.com/084cb96765.js"></script>
<style>
.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
</style>
<a href="#" onClick="openHelpWindow('/pcoils/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<div class="spacer">&nbsp;</div>

<div class="row">
This server compares a single sequence (COILS) or a sequence alignment (PCOILS) to a database of known coiled-coils and
derives a similarity score.
</div>

<div class="spacer">&nbsp;</div>

<%= form_tag({:action => :run, :job => 'pcoils'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Paste protein sequence or MSA", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
  <div class="formw">
    <span style="color: #008C50;">
      Predict coiled-coil regions in<a href="#" style="color: #008C50" onClick="javascript:pasteExample();"> human Myosin.</a>
    </span>
  </div>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>
<div class="row">
	<%= form_label("Select alignment format", "input_format") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0]) %>	
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
	<%= form_label("Input mode", "inputmode") %>
	<%= form_radio_buttons("inputmode", @inputmode_values, @inputmode_labels, @inputmode_values[0], "&nbsp;&nbsp;","toogleSelectiveDisabled('psipred','inputmode_0')") %>	
</div>
<div class="row">
	<%= form_label("Weighting", "weighting") %>
	<%= form_radio_buttons("weighting", @weighting_values, @weighting_labels, @weighting_values[0], "&nbsp;&nbsp;") %>	
</div>
<div class="row">
	<%= form_label("Matrix", "matrix") %>
	<%= form_radio_buttons("matrix", @matrix_values, @matrix_labels, @matrix_values[0], "&nbsp;&nbsp;") %>	
</div>
<div class="row">
	<%= form_label("Run PSIPRED","run_psipred") %>
	<%= form_checkbox("psipred", 1, false, false,"") %>	
</div>


<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>

</form>

<div class="hr">&nbsp;</div>
<div class="row">
        <ul class="fa-ul">
	  <li><a target="_blank" class="icon fa-angle-double-right" href="ftp://ftp.tuebingen.mpg.de/pub/protevo/PCOILS/">Downloads</a></li>
	  <li><a target="_blank" class="icon fa-angle-double-right" href="http://www.ch.embnet.org/software/COILS_form.html">External COILS server at ISREC</a></li>
        </ul>
</div>

<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>
