<div title="<%= title_helper %>" class="memo">
  <%= head_helper :notice => false, :message => false %>
  <p><%= message_helper 'now_logged_in' %></p>
  
  <br/>
      
  <%= link_helper 'welcome_logout', :action => 'logout' %>
</div>
