<br/>
<div class="row" style="font-size: 14px;">
<strong>
Signup successful! 
<br/><br/>
Please check your email account to verify your account registration and 
<U>confirm the registration</U>.
</strong>
</div>
