<div title="<%= title_helper %>" class="form">

  <%= head_helper %>

<p class="message" align="justify" style="border: 2px solid red; background-color: #FFEE00; font-weight: bold; padding: 7px;">
  Please note that from now on you login with your email-address instead of your username!
</p>

  <div class="form-padding">
    <% form_tag_helper do %>

    <br/>

      <table>
        <%= form_input :text_field, "login", :size => 30 %><br/>
        <%= form_input :password_field, "password", :size => 30 %><br/>
      </table>
      
      	<br/>

      <div class="button-bar">
        <%= button_helper 'login' %> &nbsp;&nbsp;
        <%= link_helper 'login_signup', :action => 'signup' %> &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_helper 'login_forgot_password', :action => 'forgot_password' %>      </div>
    <% end %>
  </div>
</div>
                                                                                
