<h2>About <%= @tool['title'] %></h2> 
<div class="row">
<%= @tool['title'] %> is a utility that extracts all GI-numbers from a given file.
 Each sequence has to be new line separated. eg.:<br><br>
Sequence 1<br>
Sequence 2<br>
Sequence 3<br> 
...<br>
</div>

