Dear <%= @params['name'] %>,

You had uploaded sequences to PDBalert system (<%= DOC_ROOTURL %>/pdbalert ). However, you have not used the service for a year. 
If you would like to continue using this service, please log in at <%= DOC_ROOTURL %>/user/login/ and check which sequences you want to keep, otherwise, we will asuume that you no longer use this service. We would then delete your sequences from PDBalert within 3 months. 

Thank you!
Your PDBalert Team
