Dear <%= @params['name'] %>,

PDBalert (<%= DOC_ROOTURL %>/pdbalert ) found matches to one or more of your sequences among the PDB structures released recently. You have not yet accessed the results of these searches within the last 3 months. 
Please login at <%= DOC_ROOTURL %>/user/login/ and view the results, otherwise, we will assume that you no longer use this service. We would then delete all your sequences from PDBalert.

Thank you!
Your PDBalert Team

<%= render(:partial => "shared/noreply") %>