Blammer is a tool to convert BLAST or PSIBLAST output files into multiple alignments. Although BLAST can output the HSP's in multiple alignment format the resulting alignments are frequently excessively gapped. Blammer remedies this by realigning gapped regions using a global multiple alignment program.