Sensitive protein homology detection and classification of outer membrane proteins (OMP) by HMM-HMM-comparison. 
HHomp builds a profile HMM from a query sequence and compares it with a database of HMMs representing outer
membrane proteins. The output is a list of closest homologs with alignments. 