Sensitive protein homology detection and classification of outer membrane proteins (OMP) by HMM-HMM-comparison.

<br>The software can be downloaded <a href="ftp://toolkit.lmb.uni-muenchen.de/HHomp/">here</a>