Sensitive protein homology detection and classification of outer membrane proteins (OMP) by HMM-HMM-comparison.

<br>The software can be downloaded <a href="http://wwwuser.gwdg.de/~compbiol/data/hhomp">here</a>