<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
Remmert M, Linke D, Lupas AN, S&ouml;ding J (2009)
HHomp - prediction and classification of outer membrane proteins.<BR>
Nucleic Acids Research 37, W446--W451 (Web Server issue). doi:10.1093/nar/gkp325<BR>
<a target="_blank" href="http://nar.oxfordjournals.org/cgi/content/full/37/suppl_2/W446">Download pdf file</a>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
<!--We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to <b>remmert at lmb.uni-muenchen.de</b>-->
Please inform us of problems, or send comments or 
feedback to <a target="_blank" href="/common/contact">us</a>.
</div>
