<div class="hr"></div> 
<a name="references"></a> 
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3> 
<div class="row"> 
Alva V., Nam SZ., S&ouml;ding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank" style="font-size: 8pt;">PMID: 27131380</font></a> 
</div>
<div class="row">
Remmert M., Linke D., Lupas AN., S&ouml;ding J. (2009) <b>HHomp - prediction and classification of outer membrane proteins.</b>
Nucl Acid Res 37(Web Server issue):W446-51. (<a target="_blank" href="http://nar.oxfordjournals.org/cgi/content/full/37/suppl_2/W446">Download pdf file</a>) 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/19429691" target="_blank" style="font-size: 8pt;">PMID: 19429691</a>
</div>
<a name="contact"></a> 
<h3 class="<%= @section["name"] %>">Contact</h3> 
<div class="row"> 
<a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#104;&#104;&#064;&#109;&#112;&#105;&#098;&#112;&#099;&#046;&#109;&#112;&#103;&#046;&#100;&#101;">Support for HH-suite software</a>
</div>