<ul id="helpindex" class="<%= @section['theme'] %>">
<li><a href="#hhomp">The HHomp server</a></li>
<li><a href="#HMM-HMM">HMM-HMM comparison</a></li>
<li><a href="#references">References</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

<h2>About <%= @tool['title'] %></h2>

<a name="hhomp"></a>
<h3 class="<%= @section["name"] %>">HHomp server for outer membrane protein prediction and classification</h3>

<div class="row">
HHomp is a sensitive protein homology detection and classification method of outer membrane proteins (OMP). It uses HMM-HMM-comparison
and an integrated beta-barrel prediction method. The output is a list of closest homologs with alignments.
HHomp builds a profile HMM from a query sequence and compares it with a database of HMMs representing outer
membrane proteins. The HHomp database is built from over 22000 sequences which are found by a homology search detection
(<a target="_blank" href="/hhsenser/help_ov">HHsenser</a>) based on outer membrane proteins with known structure.
The visual clustering software <a target="_blank" href="/clans/help_ov">CLANS</a> is used to identify clusters with different structure and function.
</div
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="HMM-HMM"></a>
<h3 class="<%= @section["name"] %>">What is HMM-HMM comparison and why is it so powerful?</h3>
<div class="row">
When searching for remote homologs, it is wise to make use of as
much information about the query and database proteins as possible
in order to better distinguish true from false positives and to
produce optimal alignments. This is the reason why sequence-sequence
comparison is inferior to profile-sequence comparison. Sequence profiles
contain for each column of a multiple alignment the frequencies of the
20 amino acids. They therefore contain detailed information about the
conservation of each residue position, i.e. how important each position
is for defining other members of the protein family, and about the
preferred amino acids. Profile Hidden Markov Models (<strong>HMMs</strong>)
are similar to simple sequence profiles, but in addition to the
amino acid frequencies in the columns of a multiple sequence alignment
they contain information about the frequency of inserts and deletions
at each column. Using profile HMMs in place of simple sequence profiles
should therefore further improve sensitivity.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<%= render(:partial => "hhomp/references_and_contact") %>
