<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Query Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'queryalign'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhomp_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhomp"}) %>
<%= form_jalview_buttons("complete alignment with inserts",
    			 "reduced alignment: 50 most distinct sequences without inserts",
			 20, 0,
			 ".fas", ".reduced.fas",
			 "alignment", "hhomp") %>
	<div class="row">
	<input name="submitform" type="submit" class="feedbutton" value="Restart HHomp with this alignment" /> 
   	<input name="resetform" type="reset" class="feedbutton" value="Undo all changes" />
   	<strong>You may edit the template alignment below and submit it to HHomp&nbsp;&nbsp;</strong>
   	<br/>
	</div>

	<div class="spacer">&nbsp;</div>	




	<div class="row">
		<%= text_area_tag("result_textbox_to_file", @job.render_file(@job.jobid+".fas"), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
	</div>	
	

</form>
