<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Query Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'queryalign'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhomp_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhomp"}) %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">





<script type="text/javascript" language="javascript">

            var w = false; 
            var w2 = false; 

            function OpenWindow_JobID() {

              if (!w || w.closed){

               params  = 'width='+screen.width;
               params += ',height='+screen.height;
               params += ',top=0,left=0'
               params += ',fullscreen=yes';
               params += ',scrollbars=yes';
                            

                w = window.open('/hhomp/popup_full','<%= @job.url_for_job_dir %>/<%= @job.jobid %>',params);
                w.myVar = jobid;

                } else {

                w.focus();

              }

             }


             function OpenWindow_JobID2() {

              if (!w2 || w2.closed){

               params  = 'width='+screen.width;
               params += ',height='+screen.height;
               params += ',top=0,left=0'
               params += ',fullscreen=yes';
               params += ',scrollbars=yes';
                            

                w2 = window.open('/hhomp/popup_reduced','<%= @job.url_for_job_dir %>/<%= @job.jobid %>'+'2',params);
                w2.myVar = jobid;

                } else {

                w2.focus();

              }

             }

            function popupTransfer() {
              var jobid = '<%= @job.url_for_job_dir %>/<%= @job.jobid %>';
              return jobid;


            }


</script>


 <table cellpadding="0" cellspacing="0" border="0" width="700" align="center"> <tr> <th align="left">complete alignment with inserts <input name="submitform" class="checkbutton" type="button" onClick="OpenWindow_JobID();" value="View Full Alignment"/></th> <th align="right">reduced alignment: 50 most distinct seqs without inserts </th><th align="right"><input name="submitform" class="checkbutton" type="button" onClick="OpenWindow_JobID2();" value="View Reduced Alignment" align="right"/>
</th> </tr> </table>
	<div class="row">
	<input name="submitform" type="submit" class="feedbutton" value="Restart HHomp with this alignment" /> 
   	<input name="resetform" type="reset" class="feedbutton" value="Undo all changes" />
   	<strong>You may edit the template alignment below and submit it to HHomp&nbsp;&nbsp;</strong>
   	<br/>
	</div>

	<div class="spacer">&nbsp;</div>	




	<div class="row">
		<%= text_area_tag("result_textbox_to_file", @job.render_file(@job.jobid+".fas"), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
	</div>	
	

</form>
