Your job <%= @params['jobid'] %> at the MPI Bioinformatics Toolkit is complete.

You can use the following link to view the results:
<%= DOC_ROOTURL %>/<%= @params['controller'] %>/results/<%= @params['jobid'] %>