HHcluster is a tool that allows users to explore the galaxy of protein folds. The
galaxy was constructed by an all-against-all HMM-HMM comparison of all protein
domains in SCOP 1.75 filtered by 20% sequence identity and a subsequent
clustering step with CLANS.
