<h2><%= @tool['title'] %> Overview</h2> 
<div class="row">
Search with an amino acid sequence against protein databases for locally similar sequences. Similar to Protein BLAST+ but more sensitive. PSI-BLAST+ first performs a BLAST+ search and builds an alignment from the best local hits. This alignment is then used as a query for the next round of search. After each successive round the search alignment is updated.
</div>
