<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input format</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input Format</h3> 

<div class='row'>
  daTAA2 requires a protein sequence in FASTA or raw sequence
  format as input. Furthermore, the user needs to specify one of
  the offered precompiled HMMs by which the sequence will be
  annotated.
</div>
