<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input Sequence(s) Or Alignment</a></li>
	<li><a href="#formats">Format Descriptions</a></li>
	<li><a href="#numprefix">Add Number Prefix To Sequence Names</a></li>
	<li><a href="#character">Character Transformation</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>


<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input Sequence(s) Or Alignment</h3>
<div class="row">

<table border="1">
<tr><td><b>Valid Input Formats</b></td><td><b>Output Formats</b></td><td><b>Short Identifier</b></td><td><b>Description</b></td></tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#a2m">A2M</a></td>
  <td>FastA alignment format with inserts '<b>.</b>' and gaps '<b>-</b>'.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#a3m">A3M</a></td>
  <td>	FastA alignment with inserts '<b>.</b>' removed.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#clu">CLUSTAL</a></td>
  <td>Sequence format of ClustalW and ClustalX.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"></td><td><a href="#emb">EMBL</a></td>
  <td>Contains one or more unaligned sequences.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#fas">FASTA</a></td>
  <td>Contains one or more sequences which may be aligned.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"></td><td><a href="#gbk">GBK</a></td>
  <td>GenBank format, contains one ore more unaligned sequences.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#meg">MEGA</a></td>
  <td>Format for aligned sequences in interleaved (block-wise) or noninterleaved (continuous) mode.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#msf">GCG MSF</a></td>
  <td>	GCG's MSF format for multiple sequence alignments.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#nex">PAUP NEXUS</a></td>
  <td>Block format for multiple sequence alignment in interleaved or sequential mode.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#phy">PHYLIP</a></td>
  <td>Format for multiple sequence alignment in interleaved or sequential mode.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#pir">PIR/NBRF</a></td>
  <td>Multiple sequence alignment format.</td>
</tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#sto">STOCKHOLM</a></td>
  <td>Multiple sequence alignment format.</td></tr>
<tr>
  <td align="center"><b>X</b></td>
  <td align="center"><b>X</b></td><td><a href="#tre">TREECON</a></td>
  <td>Sequential multiple sequence alignment format. </td>
</tr>
<tr>
  <td align="center"></td>
  <td align="center"><b>X</b></td><td><a href="#fas">UFASTA</a></td>
  <td>Unaligned FastA, removes gaps <b>-</b> and inserts '<b>.</b>' or '<b>*</b>'  .</td>
</tr>

</table>


</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="formats"></a>
<h3 class="<%= @section["name"] %>">Format Descriptions</h3>
<div class="row">
<p>Specifies the format of your file/data.</p><br>
<div class="hr">&nbsp;</div>

<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
<a name="a2m"></a>
<p><b>A2M Format</b></p><div class="spacer">&nbsp;</div>
<p>A2M format is derived from aligned FASTA format. It looks very similar, but it distinguishes between match/delete columns and insert columns. This information is used to specify how an alignment is transformed into an HMM. The match/delete columns use upper case letters for residues and the '-' symbol for deletions (gaps). The insert columns use lower case letters for the inserted residues. Gaps aligned to inserted residues are written as '.'</p><br>
<p>An example multiple alignment in A2M format looks like this:</p><br>
<pre>
>d1a1x__ b.63.1.1 (-) p13-MTCP1 {Human (Homo sapiens)}
PPDHLWVHQEGIYRDEYQRTWVAVVEE..E..T..SF.........LR..........ARVQQIQVPLG.......DAARPSHLLTS.....QLPLMWQLYP
>gi|6678257|ref|NP_033363.1|:(7-103) T-cell lymphoma breakpoint 1 [Mus musculus]
HPNRLWIWEKHVYLDEFRRSWLPVVIK..S..N..EK.........FQ..........VILRQEDVTLG.......EAMSPSQLVPY.....ELPLMWQLYP
>gi|7305557|ref|NP_038800.1|:(8-103) T-cell leukemia/lymphoma 1B, 3 [Mus musculus]
PPRFLVCTRDDIYEDENGRQWVVAKVE..T..S..RSpygsrietcIT..........VHLQHMTTIPQ.......EPTPQQPINNN.....SLPTMWRLES
>gi|11415028|ref|NP_068801.1|:(2-106) T-cell lymphoma-1; T-cell lymphoma-1A [Homo sapiens]
HPDRLWAWEKFVYLDEKQHAWLPLTIEikD..R..LQ.........LR..........VLLRREDVVLG.......RPMTPTQIGPS.....LLPIMWQLYP
>gi|7305561|ref|NP_038804.1|:(7-103) T-cell leukemia/lymphoma 1B, 5 [Mus musculus]
----------GIYEDEHHRVWIAVNVE..T..S..HS.........SHgnrietcvt.VHLQHMTTLPQ.......EPTPQQPINNN.....SLPTMWRLES
>gi|7305553|ref|NP_038801.1|:(5-103) T-cell leukemia/lymphoma 1B, 1 [Mus musculus]
LPVYLVSVRLGIYEDEHHRVWIVANVE..TshS..SH.........GN..........RRRTHVTVHLW.......KLIPQQVIPFNplnydFLPTTWKLES
>gi|27668591|ref|XP_234504.1|:(7-103) similar to Chain A, Crystal Structure Of Murine Tcl1
-PDRLWLWEKHVYLDEFRRSWLPIVIK..S..N..GK.........FQ..........VIMRQKDVILG.......DSMTPSQLVPY.....ELPLMWQLYP
>gi|27668589|ref|XP_234503.1|:(9-91) similar to T-cell leukemia/lymphoma 1B, 5;
-PHILTLRTHGIYEDEHHRLWVVLDLQ..A..ShlSF.........SN..........RLLIYLTVYLQqgvafplESTPPSPMNLN.....GLPRRWTLRT
>gi|7305559|ref|NP_038802.1|:(8-102) T-cell leukemia/lymphoma 1B, 4 [Mus musculus] 
PPCFLVCTRDDIYEDEHGRQWVAAKVE..T..S..SH.........SPycskietcvtVHLWQMTTLFQ.......EPSPDSLKTFN.....FLPRTWRLES
>gi|7305555|ref|NP_038803.1|:(9-102) T-cell leukemia/lymphoma 1B, 2 [Mus musculus]
---------PGFYEDEHHRLWMVAKLE..T..C..SH.........SPycnkietcvtVHLWQMTRYPQ.......EPAPYNPMNYN.....FLPMTWRLAS
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="a3m"></a>
<p><b>A3M Format</b></p><div class="spacer">&nbsp;</div>
<p>The A3M format is a condensed version of A2M format. It is obtained by omitting all '.' symbols from A2M format. Hence residues emitted by Match states of the HMM are in upper case, residues emitted by Insert states are in lower case and deletions are written '-'.
A3M is not an official format. Likewise, the name A3M is our personal invention for this very practical and space-efficient format which we use to store the HHsearch alignments internally.</p><br>
<p>An example multiple alignment in A3M format looks like this:</p><br>
<pre>
>d1a1x__ b.63.1.1 (-) p13-MTCP1 {Human (Homo sapiens)}
PPDHLWVHQEGIYRDEYQRTWVAVVEEETSFLRARVQQIQVPLGDAARPSHLLTSQLPLMWQLYP
>gi|6678257|ref|NP_033363.1|:(7-103) T-cell lymphoma breakpoint 1 [Mus musculus]
HPNRLWIWEKHVYLDEFRRSWLPVVIKSNEKFQVILRQEDVTLGEAMSPSQLVPYELPLMWQLYP
>gi|7305557|ref|NP_038800.1|:(8-103) T-cell leukemia/lymphoma 1B, 3 [Mus musculus]
PPRFLVCTRDDIYEDENGRQWVVAKVETSRSpygsrietcITVHLQHMTTIPQEPTPQQPINNNSLPTMWRLES
>gi|11415028|ref|NP_068801.1|:(2-106) T-cell lymphoma-1; T-cell lymphoma-1A [Homo sapiens]
HPDRLWAWEKFVYLDEKQHAWLPLTIEikDRLQLRVLLRREDVVLGRPMTPTQIGPSLLPIMWQLYP
>gi|7305561|ref|NP_038804.1|:(7-103) T-cell leukemia/lymphoma 1B, 5 [Mus musculus]
----------GIYEDEHHRVWIAVNVETSHSSHgnrietcvtVHLQHMTTLPQEPTPQQPINNNSLPTMWRLES
>gi|7305553|ref|NP_038801.1|:(5-103) T-cell leukemia/lymphoma 1B, 1 [Mus musculus]
LPVYLVSVRLGIYEDEHHRVWIVANVETshSSHGNRRRTHVTVHLWKLIPQQVIPFNplnydFLPTTWKLES
>gi|27668591|ref|XP_234504.1|:(7-103) similar to Chain A, Crystal Structure Of Murine Tcl1
-PDRLWLWEKHVYLDEFRRSWLPIVIKSNGKFQVIMRQKDVILGDSMTPSQLVPYELPLMWQLYP
>gi|27668589|ref|XP_234503.1|:(9-91) similar to T-cell leukemia/lymphoma 1B, 5;
-PHILTLRTHGIYEDEHHRLWVVLDLQAShlSFSNRLLIYLTVYLQqgvafplESTPPSPMNLNGLPRRWTLRT
>gi|7305559|ref|NP_038802.1|:(8-102) T-cell leukemia/lymphoma 1B, 4 [Mus musculus] 
PPCFLVCTRDDIYEDEHGRQWVAAKVETSSHSPycskietcvtVHLWQMTTLFQEPSPDSLKTFNFLPRTWRLES
>gi|7305555|ref|NP_038803.1|:(9-102) T-cell leukemia/lymphoma 1B, 2 [Mus musculus]
---------PGFYEDEHHRLWMVAKLETCSHSPycnkietcvtVHLWQMTRYPQEPAPYNPMNYNFLPMTWRLAS
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="fas"></a>
<p><b>FASTA Format</b></p><div class="spacer">&nbsp;</div>
<p>A sequence file in FASTA format can contain several sequences.
One sequence in FASTA format begins with a single-line description, followed by lines of sequence data. The description line must begin with a greater-than (">") symbol in the first column.
The FASTA format is sometimes also referred to as the "Pearson" format (after the author of the FASTA program).</p><br>
<p>An example multiple alignment in FASTA format looks like this:</p><br>
<pre>
>d1a1x__ b.63.1.1 (-) p13-MTCP1 {Human (Homo sapiens)}
PPDHLWVHQEGIYRDEYQRTWVAVVEE--E--T--SF---------LR----------ARVQQIQVPLG-------DAARPSHLLTS-----QLPLMWQLYP
>gi|6678257|ref|NP_033363.1|:(7-103) T-cell lymphoma breakpoint 1 [Mus musculus]
HPNRLWIWEKHVYLDEFRRSWLPVVIK--S--N--EK---------FQ----------VILRQEDVTLG-------EAMSPSQLVPY-----ELPLMWQLYP
>gi|7305557|ref|NP_038800.1|:(8-103) T-cell leukemia/lymphoma 1B, 3 [Mus musculus]
PPRFLVCTRDDIYEDENGRQWVVAKVE--T--S--RSpygsrietcIT----------VHLQHMTTIPQ-------EPTPQQPINNN-----SLPTMWRLES
>gi|11415028|ref|NP_068801.1|:(2-106) T-cell lymphoma-1; T-cell lymphoma-1A [Homo sapiens]
HPDRLWAWEKFVYLDEKQHAWLPLTIEikD--R--LQ---------LR----------VLLRREDVVLG-------RPMTPTQIGPS-----LLPIMWQLYP
>gi|7305561|ref|NP_038804.1|:(7-103) T-cell leukemia/lymphoma 1B, 5 [Mus musculus]
----------GIYEDEHHRVWIAVNVE--T--S--HS---------SHgnrietcvt-VHLQHMTTLPQ-------EPTPQQPINNN-----SLPTMWRLES
>gi|7305553|ref|NP_038801.1|:(5-103) T-cell leukemia/lymphoma 1B, 1 [Mus musculus]
LPVYLVSVRLGIYEDEHHRVWIVANVE--TshS--SH---------GN----------RRRTHVTVHLW-------KLIPQQVIPFNplnydFLPTTWKLES
>gi|27668591|ref|XP_234504.1|:(7-103) similar to Chain A, Crystal Structure Of Murine Tcl1
-PDRLWLWEKHVYLDEFRRSWLPIVIK--S--N--GK---------FQ----------VIMRQKDVILG-------DSMTPSQLVPY-----ELPLMWQLYP
>gi|27668589|ref|XP_234503.1|:(9-91) similar to T-cell leukemia/lymphoma 1B, 5;
-PHILTLRTHGIYEDEHHRLWVVLDLQ--A--ShlSF---------SN----------RLLIYLTVYLQqgvafplESTPPSPMNLN-----GLPRRWTLRT
>gi|7305559|ref|NP_038802.1|:(8-102) T-cell leukemia/lymphoma 1B, 4 [Mus musculus] 
PPCFLVCTRDDIYEDEHGRQWVAAKVE--T--S--SH---------SPycskietcvtVHLWQMTTLFQ-------EPSPDSLKTFN-----FLPRTWRLES
>gi|7305555|ref|NP_038803.1|:(9-102) T-cell leukemia/lymphoma 1B, 2 [Mus musculus]
---------PGFYEDEHHRLWMVAKLE--T--C--SH---------SPycnkietcvtVHLWQMTRYPQ-------EPAPYNPMNYN-----FLPMTWRLAS
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="clu"></a>
<p><b>CLUSTAL Format</b></p><div class="spacer">&nbsp;</div>
<p>The first line must begin with CLUSTAL, the rest of the line is ignored. The sequences come in blocks with the sequence name, cut to a constant number of characters, followed by some whitespace and the sequence residues and gaps (-). The number of alignment columns per sequence line is arbitrary but constant within a block. Thus the whole alignment may be written in one long block. At the end of each block is an optional line indicating the conservation of each alignment column, followed by an obligatory empty line that separates the block from the next. Capital and lower case characters may be used for the amino acids.</p><br>
<p>An example multiple alignment in CLUSTAL format looks like this:</p><br>
<pre>
CLUSTAL X (1.83) multiple sequence alignment


d1a1x__                             PPDHLWVHQEGIYRDEYQRTWVAVVEE--E--T--SF---------LR----------AR
gi|6678257|ref|NP_033363.1|__7      HPNRLWIWEKHVYLDEFRRSWLPVVIK--S--N--EK---------FQ----------VI
gi|7305557|ref|NP_038800.1|__8      PPRFLVCTRDDIYEDENGRQWVVAKVE--T--S--RSPYGSRIETCIT----------VH
gi|11415028|ref|NP_068801.1|__      HPDRLWAWEKFVYLDEKQHAWLPLTIEIKD--R--LQ---------LR----------VL
gi|7305561|ref|NP_038804.1|__7      ----------GIYEDEHHRVWIAVNVE--T--S--HS---------SHGNRIETCVT-VH
gi|7305553|ref|NP_038801.1|__5      LPVYLVSVRLGIYEDEHHRVWIVANVE--TSHS--SH---------GN----------RR
gi|27668591|ref|XP_234504.1|__      -PDRLWLWEKHVYLDEFRRSWLPIVIK--S--N--GK---------FQ----------VI
gi|27668589|ref|XP_234503.1|__      -PHILTLRTHGIYEDEHHRLWVVLDLQ--A--SHLSF---------SN----------RL
gi|7305559|ref|NP_038802.1|__8      PPCFLVCTRDDIYEDEHGRQWVAAKVE--T--S--SH---------SPYCSKIETCVTVH
gi|7305555|ref|NP_038803.1|__9      ---------PGFYEDEHHRLWMVAKLE--T--C--SH---------SPYCNKIETCVTVH
                                               .* **  : *:    :                       

d1a1x__                             VQQIQVPLG-------DAARPSHLLTS-----QLPLMWQLYP
gi|6678257|ref|NP_033363.1|__7      LRQEDVTLG-------EAMSPSQLVPY-----ELPLMWQLYP
gi|7305557|ref|NP_038800.1|__8      LQHMTTIPQ-------EPTPQQPINNN-----SLPTMWRLES
gi|11415028|ref|NP_068801.1|__      LRREDVVLG-------RPMTPTQIGPS-----LLPIMWQLYP
gi|7305561|ref|NP_038804.1|__7      LQHMTTLPQ-------EPTPQQPINNN-----SLPTMWRLES
gi|7305553|ref|NP_038801.1|__5      RTHVTVHLW-------KLIPQQVIPFNPLNYDFLPTTWKLES
gi|27668591|ref|XP_234504.1|__      MRQKDVILG-------DSMTPSQLVPY-----ELPLMWQLYP
gi|27668589|ref|XP_234503.1|__      LIYLTVYLQQGVAFPLESTPPSPMNLN-----GLPRRWTLRT
gi|7305559|ref|NP_038802.1|__8      LWQMTTLFQ-------EPSPDSLKTFN-----FLPRTWRLES
gi|7305555|ref|NP_038803.1|__9      LWQMTRYPQ-------EPAPYNPMNYN-----FLPMTWRLAS
                                                                     **  * * .
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="emb"></a>
<p><b>EMBL Format</b></p><div class="spacer">&nbsp;</div>
<p>A sequence file in EMBL format can contain several sequences. One sequence entry starts with an identifier line "ID", followed by further annotation lines. The start of the sequence is marked by a line starting with "SQ" and the end of the sequence is marked by two slashes ("//").</p><br>
<p>An example sequence in EMBL format looks like this:</p><br>
<pre>
ID   AA03518    standard; DNA; FUN; 237 BP.
XX
AC   U03518;
XX
DE   Aspergillus awamori internal transcribed spacer 1 (ITS1) and 18S
DE   rRNA and 5.8S rRNA genes, partial sequence.
XX
SQ   Sequence 237 BP; 41 A; 77 C; 67 G; 52 T; 0 other;
     aacctgcgga aggatcatta ccgagtgcgg gtcctttggg cccaacctcc catccgtgtc        60
     tattgtaccc tgttgcttcg gcgggcccgc cgcttgtcgg ccgccggggg ggcgcctctg       120
     ccccccgggc ccgtgcccgc cggagacccc aacacgaaca ctgtctgaaa gcgtgcagtc       180
     tgagttgatt gaatgcaatc agttaaaact ttcaacaatg gatctcttgg ttccggc          237
//
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="msf"></a>
<p><b>GCG MSF Format</b></p><div class="spacer">&nbsp;</div>
<p>MSF is the multiple sequence alignment format of the GCG sequence analysis package.</p>
  <ul>
    <li>Names should contain up to 13 characters and no blanks.</li>
    <li>Please use the same names for the same protein in all rows.</li>
    <li>All sequences must have the same length.</li>
    <li>To mark insertions, please use a point '.'.</li>
  </ul>
<p>An example multiple sequence alignment in GCG MSF format looks like this:</p><br>
<pre>
MSF of: x.hssp from:    1 to:  46
x.msf  MSF:  46  Type: P 11-Oct-93  21:17:4  Check: 5859  ..
Name: Andr_Human     Len:  46  Check:   750  Weight:  1.00
Name: Prgr_Rabit     Len:  46  Check:  3980  Weight:  1.00
//
Andr_Mouse   RQLVHVVKWA KALPGFRNLH VDDQMAVIQY SWMGLMVFAM GWRSFT 
Prgr_Rabit   .QLLSVVKWS KSLPGFRNLH IDDQITLIQY SWMSLMVFGL GWRSYK
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="gbk"></a>
<p><b>GENBANK Format</b></p><div class="spacer">&nbsp;</div>
<p>A sequence file in GenBank format can contain several sequences. One sequence in GenBank format starts with a line containing the word LOCUS and a number of annotation lines. The start of the sequence is marked by a line containing "ORIGIN" and the end of the sequence is marked by two slashes ("//"). A GenBank fils usually has the extension ".gbk".</p><br> 
<p>An example sequence in GenBank format looks like this:</p><br>
<pre>
LOCUS       AAU03518      237 bp    DNA             PLN       04-FEB-1995
DEFINITION  Aspergillus awamori internal transcribed spacer 1 (ITS1) and 18S
            rRNA and 5.8S rRNA genes, partial sequence.
ACCESSION   U03518
BASE COUNT       41 a     77 c     67 g     52 t
ORIGIN      
        1 aacctgcgga aggatcatta ccgagtgcgg gtcctttggg cccaacctcc catccgtgtc
       61 tattgtaccc tgttgcttcg gcgggcccgc cgcttgtcgg ccgccggggg ggcgcctctg
      121 ccccccgggc ccgtgcccgc cggagacccc aacacgaaca ctgtctgaaa gcgtgcagtc
      181 tgagttgatt gaatgcaatc agttaaaact ttcaacaatg gatctcttgg ttccggc
//
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="meg"></a>
<p><b>MEGA Format</b></p><div class="spacer">&nbsp;</div>
<p>MEGA is used by the <a href="http://www.megasoftware.net/index.html">MEGA -  Molecular Evolutionary Genetics Analysis</a> package.
The format for multiple sequence alignments can have different flavors, see examples below.</p><br>
<p>An example multiple sequence alignment in noninterleaved MEGA format looks like this:</p><br>
<pre>
 #mega
  TITLE: Noninterleaved sequence data

  #mouse      AATTTTTACCCCGGGGGG
              AGGGGGGACCCCGGGGGG
  #human      AACCCTTACCCCGGGGGG
              AGGGGGGACCCCGGGGGG
  #cat        AATTTTTACA " This is a comment " AAGGGGGG
              AGGGGGGACCCCGGGGGG

</pre>
<p>Another example in noninterleaved MEGA format looks like this:</p><br>
<pre>
 #mega
  TITLE: Noninterleaved sequence data

  #mouse      
  AATTTTTACCCCGGGGGG
  AGGGGGGACCCCGGGGGG
  #human      
  AACCCTTACCCCGGGGGG
  AGGGGGGACCCCGGGGGG
  #cat        
  AATTTTTACA " This is a comment "AAGGGGGG
  AGGGGGGACCCCGGGGGG

</pre>
<p>Interleaved MEGA format looks like this:</p><br>
<pre>
  #mega
  TITLE: Interleaved sequence data

  #mouse      AATTTTTACCCCGGGGGG
  #human      AACCCTTACCCCGGGGGG
  #cat        AATTTTTACAAAGGGGGG

  #mouse      AGGGGGGACCCCGG
  #human      AGGGG" This is a comment " GGACCCCGG
  #cat        AGGGGGGACCCCGG

</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="nex"></a>
<p><b>PAUP NEXUS Format</b></p><div class="spacer">&nbsp;</div>
<p></p>NEXUS is a block format for multiple sequence alignments of the PAUP package. The format has different flavors for the data block, see examples below.<br>
<p>An example in NEXUS format looks like this:</p><br>
<pre>
begin data;
dimensions ntax=5 nchar=4;
matrix
char1 ACGT
char2 AGCT
char3 CGAT
char4 GGAT
char5 GCAT
;
endblock;

</pre>
<p>Another example in NEXUS format looks like this:</p><br>
<pre>
begin data;
dimensions ntax=5 nchar=4;
matrix char1 ACGT char2 AGCT
char3 CGAT char4 GGAT char5 GCAT;
endblock;

</pre>
<p>Another example in NEXUS format looks like this:</p><br>
<pre>
begin data;
dimensions ntax=5 nchar=4;
matrix 
char1 
AC
GT 
char2 
AG
CT
char3 
CG
AT 
char4 
GG
AT 
char5 
GC
AT
;
endblock;

</pre><p>Interleaved NEXUS format looks like this:</p><br>
<pre>
begin data;
dimensions ntax=4 nchar=20;
format datatype=dna gap=- interleave;
matrix
   One   ATGCTATCCG [1-10]
   Two   ATCCTAGCCG
   Three CTGCTAGCCG 
   Four  CTGAA---CG
   One   TCATGACCTA [11-20]
   Two   T--AGACGGA
   Three TGGAGTCCTA
   Four  ACATAAGTCA
;
endblock;
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="phy"></a>
<p><b>PHYLIP Format</b></p><div class="spacer">&nbsp;</div>
<p> This is the default format for the PHYLIP suite of phylogeny programs. 
Each sequence starts on a new line, has a ten-character species name that must be blank-filled to be of that length, followed immediately by the species data in the one-letter code. 
The sequences must either be in the "interleaved" or "sequential" formats.</p><br>

<p>An example file in interleaved PHYLIP format looks like this:</p><br>
<pre>
4 131
IXI_234   TSPASIRPPA GPSSRPAMVS SRRTRPSPPG PRRPTGRPCC SAAPRRPQAT
IXI_235   TSPASIRPPA GPSSR----- ----RPSPPG PRRPTGRPCC SAAPRRPQAT
IXI_236   TSPASIRPPA GPSSRPAMVS SR--RPSPPP PRRPPGRPCC SAAPPRPQAT
IXI_237   TSPASLRPPA GPSSRPAMVS SRR-RPSPPG PRRPT----C SAAPRRPQAT

          GGWKTCSGTC TTSTSTRHRG RSGWSARTTT AACLRASRKS MRAACSRSAG
          GGWKTCSGTC TTSTSTRHRG RSGW------ ----RASRKS MRAACSRSAG
          GGWKTCSGTC TTSTSTRHRG RSGWSARTTT AACLRASRKS MRAACSR--G
          GGYKTCSGTC TTSTSTRHRG RSGYSARTTT AACLRASRKS MRAACSR--G

          SRPNRFAPTL MSSCITSTTG PPAWAGDRSH E
          SRPNRFAPTL MSSCITSTTG PPAWAGDRSH E
          SRPPRFAPPL MSSCITSTTG PPPPAGDRSH E
          SRPNRFAPTL MSSCLTSTTG PPAYAGDRSH E

</pre>
<p>Another example file in non-interleaved PHYLIP format looks like this:</p><br>
<pre>
1 148 YF
CaM2      ADQLTEEQIA EFKEAFSLFD KDGDGTITTK ELGTVMRSLG QNPTEAELQD
          MINEVDADGN ---------- ----GTIDFP EFLTMMEAFR VFDKDGNGYI
          SAAELRHVMT NLGEKLTDEE VDEMIREADI DGDGQVNYEE FVQMMTAK
CaM3      ---------- ---------- ---------- ---------- ----------
          --------AD ---------- ----QLTEEQ IAEEIREAFR VFDKDGNGYI
          SAAELRHVMT NLGEKLTDEE VDEMIREADI DGDGQVNYEE FVQMMTAK
CaM1      ADQLTEEQIA EFKEAFSLFD KDGDGTITTK ELGTVMRSLG QNPTEAELQD
          MINEVDADGN GTIDFPEFLT MMARKMKDTD SEEEIREAFR VFDKDGNGYI
          SAAELRHVMT NLGEKLTDEE VDEMIREADI DGDGQVNYEE FVQMMTAK

</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="pir"></a>
<p><b>PIR/NBRF Format</b></p><div class="spacer">&nbsp;</div>
<p>Also known as nbrf format this entry starts with a greater than (>) sign followed by the type of sequence (D for nucleotide, P for protein, F for fragment) and the number 1 and separated from the sequence identifier by a semi-colon (;). The sequence description is displayed on the next line with the base (character) count separated from the description by a comma (,). The sequence appears on subsequent lines as five blocks of ten characters and the endpoint is denoted by an asterisk (*) immediately after the final sequence character. It is also acceptable to have no whitespace on the sequence lines. (PIR/NBRF files usually have the extension ".pir")</p><br>
<p>An example file in PIR format looks like this:</p><br>
<pre>
>D1;BT006818
Homo sapiens calmodulin 1 (phosphorylase kinase, delta) mRNA, complete cds., 450 bases
 atggctgatc agctgaccga agaacagatt gctgaattca aggaagcctt
 ctccctattt gataaagatg gcgatggcac catcacaaca aaggaacttg
 gaactgtcat gaggtcactg ggtcagaacc caacagaagc tgaattgcag
 gatatgatca atgaagtgga tgctgatggt aatggcacca ttgacttccc
 cgaatttttg actatgatgg ctagaaaaat gaaagataca gatagtgaag
 aagaaatccg tgaggcattc cgagtctttg acaaggatgg caatggttat
 atcagtgcag cagaactacg tcacgtcatg acaaacttag gagaaaaact
 aacagatgaa gaagtagatg aaatgatcag agaagcagat attgatggag
 acggacaagt caactatgaa gaattcgtac agatgatgac tgcaaaatag*

>P1;CALM_HUMAN 
Calmodulin (CaM)., 148 bases 
ADQLTEEQIA EFKEAFSLFD KDGDGTITTK ELGTVMRSLG QNPTEAELQD
MINEVDADGN GTIDFPEFLT MMARKMKDTD SEEEIREAFR VFDKDGNGYI 
SAAELRHVMT NLGEKLTDEE VDEMIREADI DGDGQVNYEE FVQMMTAK* 
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="tre"></a>
<p><b>TREECON Format</b></p><div class="spacer">&nbsp;</div>
<p> A very simple format with the length of the sequence displayed at the top of the entry, followed by the sequence identifier on the next line down. The sequence line is immediately below this with no line breaks.</p><br>
<p>An example file in TREECON format looks like this:</p><br>
<pre>
34
BT006818
atggctgatcagctgaccgaagaacagattgct

27
CALM_HUMAN 
ADQLTEEQIAEFKEAFSLFDKDGDGT
</pre>
<div class="hr">&nbsp;</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="sto"></a>
<p><b>STOCKHOLM Format</b></p><div class="spacer">&nbsp;</div>
<p>Stockholm format is similar to Clustal format, but offers a number of markups to include annotation and additional information referring to the alignment, its columns, or sequences. It was developed by Sean Eddy for Pfam and the HMMer software package. Each alignment may be separated into an arbitrary number of blocks with an arbitrary number of alignment columns contained per line. Gaps may be written '-' or '.'. The line starting with #=GC RF is an example of an optional markup line that contains one character per alignment columns. In this case it indicates which are the match/delete columns (as opposed to insert columns).</p><br>
<p>An example multiple sequence alignment in Stockholm format looks like this:</p><br>
<pre>
# STOCKHOLM 1.0

#=GC RF                          XXXXXXXXXXXXXXXXXXXXXXXXXXX--X--X--XX---------XX----------XXXXXXXXXXX
d1a1x__                          PPDHLWVHQEGIYRDEYQRTWVAVVEE--E--T--SF---------LR----------ARVQQIQVPLG
gi|6678257|ref|NP_033363.1|:(7-1 HPNRLWIWEKHVYLDEFRRSWLPVVIK--S--N--EK---------FQ----------VILRQEDVTLG
gi|7305557|ref|NP_038800.1|:(8-1 PPRFLVCTRDDIYEDENGRQWVVAKVE--T--S--RSpygsrietcIT----------VHLQHMTTIPQ
gi|11415028|ref|NP_068801.1|:(2- HPDRLWAWEKFVYLDEKQHAWLPLTIEikD--R--LQ---------LR----------VLLRREDVVLG
gi|7305561|ref|NP_038804.1|:(7-1 ----------GIYEDEHHRVWIAVNVE--T--S--HS---------SHgnrietcvt-VHLQHMTTLPQ
gi|7305553|ref|NP_038801.1|:(5-1 LPVYLVSVRLGIYEDEHHRVWIVANVE--TshS--SH---------GN----------RRRTHVTVHLW
gi|27668591|ref|XP_234504.1|:(7- -PDRLWLWEKHVYLDEFRRSWLPIVIK--S--N--GK---------FQ----------VIMRQKDVILG
gi|27668589|ref|XP_234503.1|:(9- -PHILTLRTHGIYEDEHHRLWVVLDLQ--A--ShlSF---------SN----------RLLIYLTVYLQ
gi|7305559|ref|NP_038802.1|:(8-1 PPCFLVCTRDDIYEDEHGRQWVAAKVE--T--S--SH---------SPycskietcvtVHLWQMTTLFQ
gi|7305555|ref|NP_038803.1|:(9-1 ---------PGFYEDEHHRLWMVAKLE--T--C--SH---------SPycnkietcvtVHLWQMTRYPQ

#=GC RF                          -------XXXXXXXXXXX-----XXXXXXXXXX
d1a1x__                          -------DAARPSHLLTS-----QLPLMWQLYP
gi|6678257|ref|NP_033363.1|:(7-1 -------EAMSPSQLVPY-----ELPLMWQLYP
gi|7305557|ref|NP_038800.1|:(8-1 -------EPTPQQPINNN-----SLPTMWRLES
gi|11415028|ref|NP_068801.1|:(2- -------RPMTPTQIGPS-----LLPIMWQLYP
gi|7305561|ref|NP_038804.1|:(7-1 -------EPTPQQPINNN-----SLPTMWRLES
gi|7305553|ref|NP_038801.1|:(5-1 -------KLIPQQVIPFNplnydFLPTTWKLES
gi|27668591|ref|XP_234504.1|:(7- -------DSMTPSQLVPY-----ELPLMWQLYP
gi|27668589|ref|XP_234503.1|:(9- qgvafplESTPPSPMNLN-----GLPRRWTLRT
gi|7305559|ref|NP_038802.1|:(8-1 -------EPSPDSLKTFN-----FLPRTWRLES
gi|7305555|ref|NP_038803.1|:(9-1 -------EPAPYNPMNYN-----FLPMTWRLAS
//
</pre>
<div class="hr">&nbsp;</div>

</div>


<a name="numprefix"></a>
<h3 class="<%= @section["name"] %>">Add Number Prefix To Sequence Names</h3>
<div class="row">
Adds a prefix consisiting of a  number and a '|' symbol to each sequence. Forces unambiguity of sequence names.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="character"></a>
<h3 class="<%= @section["name"] %>">Character Transformation</h3>
<div class="row">
Changes sequence letters to upper or lower case.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
