<a href="#" onClick="openHelpWindow('/reformat/help_ov');" onmouseover="return overlib('Help');" onmouseout="return nd();"><img src="/images/helpbutton.gif" border="0" style="float: right; padding-top: 2px;"></a><h2><%= @page_title %></h2>

<%= form_tag({:action => :run, :job => 'reformat'}, {:multipart => true})%> 
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
	<%= form_label("Enter protein sequence or MSA", "input") %>
	<%= form_text_area("sequence_input") %>
</div>
<div class="row">
	<%= form_label("Examples") %>
	<div class="formw">
		<strong>TPR    </strong> <a href="#" onClick="javascript:pasteTPR();">paste</a>&nbsp;&nbsp;
		<strong>OMPW</strong> <a href="#" onClick="javascript:pasteOMPW();">paste</a>
	</div>
</div>
<div class="row">
	<%= form_label("or upload a local file") %>
	<%= form_file("sequence_file") %>
</div>

<div class="spacer">&nbsp;</div>

<h3 class="<%= @section["name"] %>">Options</h3>

<div class="row">
        <%= form_label("Input format", "formats") %>
	<%= form_select_single("informat", @informat_values, @informat_labels, @informat_values[0],5) %>
</div>

<div class="row">
        <%= form_label("Output format", "formats") %>
        <%= form_select_single("outformat", @outformat_values, @outformat_labels, @outformat_values[0],5) %>
</div>
<div class="row">
        <%= form_label("Add number prefix to sequence names", "numprefix") %>
        <%= form_checkbox("numprefix","num",false) %>
</div>

<div class="row">
        <%= form_label("Character transformation", "character") %>
        <%= form_radio_buttons("character",@character_values,@character_labels,@character_values[0]) %>
</div>


<div class="spacer">&nbsp;</div>

<%= render(:partial => "shared/joboptions") %>

<div class="row">
	<%= form_submit_buttons %>
</div>
</form>
<div class="row">&nbsp;</div>
<%= render(:partial => "references_and_contact") %>