<h3>Blocked</h3>
<div class="row">
	Because of toolkit overload your ip address currently is blocked.
	<br/><br/>
	<strong><a href="mailto:<%= TOOLKIT_MAIL %>"><%= TOOLKIT_MAIL %></a></strong>
</div>
