<h3>Disclaimer</h3>
<div class="row">
Dr. Johannes Söding
<br/><br/>
Gene Center Munich
Department of Chemistry and Biochemistry<br/>
Ludwig-Maximilians-Universität München<br/>
Feodor-Lynen-Str. 25<br/>
81377 Munich, Germany
<br/><br/>
Phone: (+49) 89-2180-76742<br/>
soeding (AT) lmb.uni-muenchen.de
<br/><br/>
This server is intended for research purposes only, not for clinical or commercial use. It is a non-profit service to the academic and nonacademic scientific community. The responsibility of the Gene Center is limited to applying best efforts in providing a useful service. The Gene Center of the  LMU Munich can not be held liable in any way for the service provided here.
<br/><br/>
These pages may provide links to information provided by external services which are not in any way under our control. We cannot, therefore, be held responsible for the content or accuracy of external pages.
</div>
