<ul id="helpindex" class="std">
	<li><a href="#job_submisson">Job submission</a></li>
	<li><a href="#job_management">Job management</a></li>
	<li><a href="#Interconnectivity">Interconnectivity</a></li>		
	<li><a href="#user_databases">User databases</a></li>
</ul>


<h2>Welcome to the MPI Bioinformatics Toolkit</h2>

<br/>

The MPI Bioinformatics Toolkit is a platform that integrates a great variety of 
tools for protein sequence analysis. Many tools are developed in-house, and serveral
public tools are offered with extended functionality. 
<br/>
The toolkit includes, among others: NucleotideBLAST, ProteinBLAST, PSI-BLAST, fastHMMER, HHsenser;
ClustalW, MUSCLE, Mafft, ProbCons; HHrep, PCOILS, REPPER; Quick2D; HHpred, Modeller;
CLANS, ANCESCON, PHYLIP; Reformat, RetrieveSeq, gi2promoter. For a short descrition of the tools, click the section tabs.  

<a name="job_submisson"></a>
<h3>Job submission</h3> 
<div class="row">
Each tool has a separate input page with a web form in which the user can input sequence data,
upload sequence files, and specify options. All tools that take alignments
as input accept the most widely used formats (FASTA, CLUSTAL, Stockholm and
A3M). You may also choose your own job-names to organize your work.  
Snail symbols inside the submit buttons inform you about tools that
typically run for more than 10 minutes. 
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="job_management"></a>
<h3>Job management</h3> 
<div class="row">
Located on the left of the screen is a sidebar pane that holds a status
and section-coded list of all recent jobs in the current session. You can click
on previously submitted jobs to check their status and view their results.
<br/>
In general a session will last until the web browser is closed. However,
because of different session implementations by the various browser types, jobs
may occasionally disappear from the joblist. Therefore, noting down the job ids is
recommended. Anonymous job results are stored <strong>two 
weeks</strong>, whereas jobs of logged-in users are stored at least <strong>two months</strong>.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

  
<a name="Interconnectivity"></a>
<h3>Interconnectivity</h3> 
<div class="row">
Most of the tools in the Toolkit are
interconnected, allowing job results of one tool to be forwarded as input to
others. For example, you could run PSI-BLAST, parse out a multiple alignment of selected
hits and send the results to a cluster analysis tool. 
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

  
<a name="user_databases"></a>
<h3>User databases</h3> 
<div class="row">
You may upload customized databases which are then accessible throughout the whole toolkit (upload once, use many times).
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

 <div class="hr" style="margin-bottom: 20px;">&nbsp;</div>
  <div class="row">
    Reference:
	Biegert A, Mayer C, Remmert M, S&ouml;ding J and Lupas A. The 
MPI Toolkit for protein sequence analysis <em>Nucleic Acids Res.</em> 
<strong>34</strong>, W335-339
    <a 
href="http://nar.oxfordjournals.org/cgi/reprint/34/suppl_2/W335">(download 
pdf)</a>
  </div>