<h3 class="<%= @section["name"] %>">Permission denied</h3>
<div class="row">
	You don't have permissions to view this page.
	<br/><br/>
	<strong><a href="mailto:<%= TOOLKIT_MAIL %>"><%= TOOLKIT_MAIL %></a></strong>
</div>
