<%= javascript_include_tag "raphael.js" %>
<%= javascript_include_tag "morris.js" %>
<h3>Statistics</h3>

</br>

<div id="bar-example" style="height: 350px; width:800px; "></div>

</br>
<br><br><br><br>
        <%chart_stats =" "%>
        <% sum_int=0; sum_ext=0; sum_user=0 %>
        <%(Stat.find(:all).map{|r| r.toolname}).uniq.sort.each do |n| %>
        <% visits_int=0; visits_ext=0; visits_user=0%>
        <% Stat.find(:all, :conditions => ["toolname=?", n]).each do |e| %>
        <% visits_int += e.visits_int; visits_ext += e.visits_ext; visits_user += e.visits_user%>
        <% end %>
        <% sum_int+=visits_int; sum_ext+=visits_ext; sum_user+=visits_user %>
		<%chart_stats << "{ y: \'#{n}\', a: #{visits_int}, b: #{visits_ext}, c: #{visits_user} }," %>  
        <% end %>
        

<% if is_internal?(request.remote_ip) %>
<p>(Only the 50 most recent days are reported.)</p>
<div class="hr">&nbsp;</div>
<div class="row">	

	<h4>Total</h4>
	<% sum_int=0; sum_ext=0; sum_user=0 %>
	<table style="text-align:center;" border="1" cellspacing="0" cellpadding="2">
		<tr><td><b>Toolname</b></td><td><b>Job count of our department</b></td><td><b>Job count of external users</b></td><td><b>Job count of logged users</b></td></tr>
		<%(Stat.find(:all).map{|r| r.toolname}).uniq.sort.each do |n| %>
		<% visits_int=0; visits_ext=0; visits_user=0%>
		<% Stat.find(:all, :conditions => ["toolname=?", n]).each do |e| %>
		<% visits_int += e.visits_int; visits_ext += e.visits_ext; visits_user += e.visits_user%>
		<% end %>
		<% sum_int+=visits_int; sum_ext+=visits_ext; sum_user+=visits_user %>
		<tr><td><%= n %></td><td><%= visits_int %></td><td><%= visits_ext %></td><td><%= visits_user %></td></tr>	
		<% end %>

		<tr><td><strong>SUM</strong></td><td><strong><%= sum_int %></strong></td><td><strong><%= sum_ext %></strong></td><td><strong><%= sum_user %></strong></td></tr>	
			
	</table>
	<div class="hr">&nbsp;</div>

	<% limit=50; count=0 %>			
	<%(Stat.find(:all).map{|r| r.day}).uniq.sort.reverse_each do |d| %>
	<% count+=1; if( count>limit ) then break end %>
	<h4><%= d %></h4>	
	
	<table style="text-align:center;" border="1" cellspacing="0" cellpadding="2">
		<tr><td><b>Toolname</b></td><td><b>Job count of our department</b></td><td><b>Job count of external users</b></td><td><b>Job count of logged users</b></td></tr>
		<% sum_int=0; sum_ext=0; sum_user=0 %>			
		<% (Stat.find(:all, :conditions => ["day=?", d])).sort{|x,y| x.toolname <=> y.toolname}.each do |e| %>
		<% sum_int+=e.visits_int; sum_ext+=e.visits_ext; sum_user+=e.visits_user %>		
		<tr><td><%= e.toolname %></td><td><%= e.visits_int %></td><td><%= e.visits_ext %></td><td><%= e.visits_user %></td></tr>
		<% end %>
		<tr><td><strong>SUM</strong></td><td><strong><%= sum_int %></strong></td><td><strong><%= sum_ext %></strong></td><td><strong><%= sum_user %></strong></td></tr>	
	
	</table>
	<div class="hr">&nbsp;</div>	
	<% end %>

	<% currentyear=Time.now.strftime("%Y").to_i %>
	<% (0..5).each do |count| %>
	<% year = currentyear - count %>
	<h4><%= year %></h4>	
	<% sum_int=0; sum_ext=0; sum_user=0 %>
	<table style="text-align:center;" border="1" cellspacing="0" cellpadding="2">
		<tr><td><b>Toolname</b></td><td><b>Job count of our department</b></td><td><b>Job count of external users</b></td><td><b>Job count of logged users</b></td></tr>

		<% (Stat.find(:all, :conditions => ["day like ?", year.to_s + '%']).map{|r| r.toolname}).uniq.sort.each do |n| %>
		<% visits_int=0; visits_ext=0; visits_user=0%>
		<% Stat.find(:all, :conditions => ["day like ? and toolname=?", year.to_s + '%', n]).each do |e| %>
		<% visits_int += e.visits_int; visits_ext += e.visits_ext; visits_user += e.visits_user%>
		<% end %>
		<% sum_int+=visits_int; sum_ext+=visits_ext; sum_user+=visits_user %>
		<tr><td><%= n %></td><td><%= visits_int %></td><td><%= visits_ext %></td><td><%= visits_user %></td></tr>	
		<% end %>

		<tr><td><strong>SUM</strong></td><td><strong><%= sum_int %></strong></td><td><strong><%= sum_ext %></strong></td><td><strong><%= sum_user %></strong></td></tr>
	</table>
	<div class="hr">&nbsp;</div>	
	<% end %>

	<h4>Summary</h4>	
	<% sum_int=0; sum_ext=0; sum_user=0 %>
	<table style="text-align:center;" border="1" cellspacing="0" cellpadding="2">
		<tr><td><b>Year</b></td><td><b>Job count of our department</b></td><td><b>Job count of external users</b></td><td><b>Job count of logged users</b></td></tr>
		<% currentyear=Time.now.strftime("%Y").to_i %>
		<% (2008..currentyear).reverse_each do |year| %>
		<% visits_int=0; visits_ext=0; visits_user=0%>
		<% Stat.find(:all, :conditions => ["day like ?", year.to_s + '%']).each do |e| %>
		<% visits_int += e.visits_int; visits_ext += e.visits_ext; visits_user += e.visits_user%>
		<% sum_int+=e.visits_int; sum_ext+=e.visits_ext; sum_user+=e.visits_user %>
		<% end %>
		<tr><td><%= year %></td><td><%= visits_int %></td><td><%= visits_ext %></td><td><%= visits_user %></td></tr>	
		<% end %>

		<tr><td><strong>SUM</strong></td><td><strong><%= sum_int %></strong></td><td><strong><%= sum_ext %></strong></td><td><strong><%= sum_user %></strong></td></tr>
	</table>
	<div class="hr">&nbsp;</div>

	Updates, comments or errors, please mail to: 
	<strong><a href="mailto:mpi-toolkit@tuebingen.mpg.de">mpi-toolkit@tuebingen.mpg.de</a></strong>
</div>
<%else%>
</br>
<p>(This page is restricted to requests from 10.153.*)  </p>

<%end%>



<script>
Morris.Bar({
  element: 'bar-example',
  data: [
    <%= chart_stats%>
  ],
  ykeys: ['a', 'b','c'],
  xkey: 'y',
  labels: ['Jobs at our department', 'Jobs external users ', 'Jobs of logged in users'],
  stacked:true,
  barColors:['green','darkblue', 'darkred'],
  hideHover: 'auto',

});

</script>
