<h3>Please support us</h3>
<div class="row">
<p><b>Dear Toolkit User,<p>
<p align="right">December 7, 2015<p>
<br> 

<p align="justify">our scientific advisory board has questioned the value of the MPI Bioinformatics Toolkit and recommended that we wind it down. They consider it a low-impact effort, because most programs in it can be used on the command line. We think that this assessment misses the point. Our goal is to make advanced, interconnected bioinformatic analyses available to all scientists, including the many who do not have the time, knowledge, or inclination to set up their own servers. <br><br>If you agree, we would greatly appreciate a message or letter of support to <a href="mailto:mpi-toolkit@tuebingen.mpg.de">mpi-toolkit@tuebingen.mpg.de</a>.</p>

<br>
<p align="justify">
We would also be interested to get feedback on services that you would find useful to be added. Please also spread the word. </p>

<br>
<b>Many thanks!</b><br>

<b>The Bionformatics Toolkit team at the MPI for Developmental Biology, T&uuml;bingen</b>	
</div>
