
<h3>Tool Version Information</h3>
</br>

<div class="hr">&nbsp;</div>
<div class="row">	
	<table id="versions" class="tablesorter"   style="text-align:center;" border="1" cellspacing="0" cellpadding="2">
	<thead>
        <tr><th><b>Toolname  <%= image_tag("up-down-arrow.png") %></b></th><th><b>Version  <%= image_tag("up-down-arrow.png") %> </b></th><th><b>Updated  <%= image_tag("up-down-arrow.png") %></b></th></tr>
	</thead>
	<tbody>
      <% @tools.each do |tool| %>
        <tr><td><%= tool['title'] %></td><td><%=tool['version']%></td><td><%=tool['updated']%></td></tr>   
        <%end%>   
	</tbody>   	  
    </table>
    <div class="hr">&nbsp;</div>
	
		
	Updates, comments or errors, please mail to: 
	
<%if LOCATION == "Munich" %>
    <strong><a href="mailto:toolkit@lmb.uni-muenchen.de">toolkit@lmb.uni-muenchen.de</a></strong>
<%else%>
    <strong><a href="mailto:mpi-toolkit@tuebingen.mpg.de">mpi-toolkit@tuebingen.mpg.de</a></strong>
<%end%>


<script type="text/javascript">

jQuery("#versions").tablesorter({sortList:[[0,0],[0,1]], widgets: ['zebra']});

</script>


</div>
