Sensitive protein homology detection and structure prediction by HMM-HMM-comparison. HHpred builds a 
profile HMM from a query sequence and compares it with a database of HMMs representing annotated protein 
families (e.g. PFAM, SMART, CDD, COGs, KOGs) or domains with known structure (PDB, SCOP). The output is a 
list of closest homologs with alignments. 
<a href="#" onclick="openHelpWindow('/hhpred/help_ov');">Learn more about HHpred...</a>