Sensitive protein homology detection and structure prediction by HMM-HMM-comparison. Starting from a query sequence, HHpred builds a multiple sequence alignment
 using HHblits and turns it into a profile HMM. This is then compared it with a database of HMMs representing proteins with known structure (e.g. PDB, SCOP) or annotated protein
  families (e.g. PFAM, SMART, CDD, COGs, KOGs). The output is a list of closest homologs with alignments. 
  HHpred can also build 3d homology models using the identified templates in the PDB database. It can optimize template picking and query-template alignments for 
  homology modeling. 
<br>The HHblits software is part of the open source package <a href="http://wwwuser.gwdg.de/~compbiol/data/" target="_self">HHsuite</a>.