<div class="hr">&nbsp;</div>
<a name="references"></a>
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3>
<div class="row">
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a>
</div>
<div class="row">
S&ouml;ding J., Biegert A., Lupas AN. (2005) <b>The HHpred interactive server for protein homology detection and structure prediction.</b> Nucleic Acids Res 33 (Web Server issue), W244-W248. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/15980461" target="_blank"><font size="-6">PMID: 15980461</font></a>
</div>
<div class="row">
S&ouml;ding J. (2005) <b>Protein homology detection by HMM-HMM comparison.</b> Bioinformatics 21: 951-960. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/15531603" target="_blank"><font size="-6">PMID: 15531603</font></a>
</div>
<div class="row">
Hildebrand A., Remmert A., Biegert A., S&ouml;ding J. (2009) <b>Fast and accurate automatic structure prediction with HHpred.</b> Proteins 77(Suppl 9):128-32. doi: 10.1002/prot.22499.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/19626712" target="_blank"><font size="-6">PMID: 19626712</font></a>
</div>
<div class="row">
Meier A., S&ouml;ding J. (2005) <b>The HHpred interactive server for protein homology detection and structure prediction.</b> PLoS Comput Biol. 11(10):e1004343. doi: 10.1371/journal.pcbi.1004343. eCollection 2015.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/26496371" target="_blank"><font size="-6">PMID: 26496371</font></a>
</div>
<div class="row">
Remmert M., Biegert A., Hauser A., S&ouml;ding J. (2011) <b>HHblits: Lightning-fast iterative protein sequence searching by HMM-HMM alignment.</b> Nat Methods. 9(2):173-5. doi: 10.1038/nmeth.1818. 
<a href="http://www.ncbi.nlm.nih.gov/pubmed/22198341" target="_blank"><font size="-6">PMID: 22198341</font></a>
</div>
<br>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
<a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#104;&#104;&#064;&#109;&#112;&#105;&#098;&#112;&#099;&#046;&#109;&#112;&#103;&#046;&#100;&#101;">Support for HH-suite software</a>
</div>


