<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => "full_align_#{@mode}"}) %>

<%= form_tag({:action => :run, :jobaction => 'hhpred_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhpred"}, :name => "forward_alignment") %>

<div class="row">

  <%= form_label("Alignment format", "") %>
  <%= form_select_single("format", ["/hhpred/fullalign/#{@job.jobid}?mode=fas", "/hhpred/fullalign/#{@job.jobid}?mode=a3m"], ['FASTA', 'A3M'], "/hhpred/fullalign/#{@job.jobid}?mode=#{@mode}", 1, "location.href=this.options[this.selectedIndex].value") %>
  <%= form_hidden_field("hhpred_format", @mode) %>
</div>

<div class="row">
<%= form_jalview_button("complete alignment with inserts", 0, ".full.fas", nil, "alignment", "hhpred") %>
  <div class="hr">&nbsp;</div>
</div>
<div>
  <input name="submitform" type="submit" class="button" value="Start HHblits with this alignment" onclick="change_resubmit_form_to_hhblits();"/>
  <input name="submitform" type="submit" class="button" value="Start HHpred with this alignment" />
  <input name="resetform" type="reset" class="button" value="Undo all changes" />
  <br/>
</div>



<div class="spacer">&nbsp;</div>

<div class="row">
  <%= text_area_tag("result_textbox_to_file", @job.render_file(@resfile), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
</div>

</form>
