<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<ul id="helpindex" class="<%= @section['theme'] %>">
  <li><a href="#hhpred">The HHpred Server</a></li>
  <li><a href="#use">Why HHpred?</a></li>
  <li><a href="#HMM-HMM">How HHpred Works - HMM-HMM Alignment</a></li>
  <li><a href="#structure prediction">Structure Prediction</a></li>
  <li><a href="#dbs">Target Databases of HHpred</a></li>
  <li><a href="#benchmark">Benchmark</a></li>
  <li><a href="#evalues">E-values and Probabilities</a></li>
  <li><a href="#references">References</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>

<style>
.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
</style>


<h2>About <%= @tool['title'] %></h2>

<a name="hhpred"></a>
<h3 class="<%= @section["name"] %>">The HHpred Server</h3>
<div class="row">
<p>HHpred is the <b>first</b> server that implemented pairwise comparison of <b>profile
hidden Markov models (HMMs)</b>, a highly sensitive method for homology detection and structure
prediction. This implementation allows drawing inferences from more remote homologous relationships,
 when conventional sequence search methods fail.
<br><br>
 HHpred is a <b>highly sensitive</b> server of competitive
<b>speed</b> that searches a wide range of databases, like Pfam, SMART, PDB and SCOP.
The server accepts a single query sequence or a multiple sequence alignment (MSA) as input.
Within only a few minutes, it returns the search results in an easy-to-read format,
similar to that of PSI-BLAST. It can produce pairwise query-template
sequence alignments, merged query-template multiple alignments (e.g. for transitive searches),
as well as 3D structural models, calculated by MODELLER.
</div>
<div class="row">&nbsp;</div>

<a name="use"></a>
<h3 class="<%= @section["name"] %>">Why HHpred?</h3>
<div class="row">
<p>The primary aim of developing HHpred was to provide biologists with a method for
sequence database searching and structure prediction that is as easy to use as BLAST
or PSI-BLAST, but at the same time provides a <b>much higher sensitivity</b> for the detection of remote homologs. 
HHpred is based on the HHsearch method, a profile-profile comparison technique that is the most sensitive
sequence search method to date.<br><br>

In the latest CASP competitions, CASP9, CASP10, and CASP11, which took place in 2010, 2012, and 2014, respectively, our HHpred server
was <b>top-seeded</b>, particularly in template-based structure prediction, the category most relevant for biological 
applications.</p>
<ul class="fa-ul">
  <li><a target="_blank" class="icon fa-th-list" href="http://predictioncenter.org/casp11/groups_analysis.cgi?type=server&tbm=on&submit=Filter">CASP11 (2014)</a>
  <li><a target="_blank" class="icon fa-th-list" href="http://predictioncenter.org/casp10/groups_analysis.cgi?type=server&tbm=on&submit=Filter">CASP10 (2012)</a>
  <li><a target="_blank" class="icon fa-th-list" href="http://predictioncenter.org/casp9/groups_analysis.cgi?type=server&tbm=on&submit=Filter">CASP9 (2010)</a>
</ul>
<p>HHpred is about <b>100 times faster</b> than other top servers, even though most top servers use our 
freely available software HHsearch to find templates and to align target to template sequences.<br>
With the help of HHpred, scientists can identify more remotely related proteins and infer hypotheses about the function, structure,
 and domain composition of a protein. This is certainly the case for the most interesting 
group of proteins, those for which no ortholog has been studied yet.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="HMM-HMM"></a>
<h3 class="<%= @section["name"] %>">How HHpred Works - HMM-HMM Alignment</h3>
<div class="row">
  <p>When searching for remote homologs, one has to make use of as
much information as possible to distinguish true from false positives and to
produce optimal alignments. <b>Sequence-profile comparison</b> methods like PSI-BLAST
are superior to <b>sequence-sequence comparison</b> methods like BLAST, as sequence profiles contain
information about amino acid frequencies and the conservation of each residue position.
<b>Profile-profile comparison</b> methods, especially profile HMMs, i.e. HMM-HMM alignments
 are similar to simple sequence profiles, but store even more information. In addition to the amino 
acid frequencies of an MSA, they contain 
position-specific probabilities about the frequency of insertions and deletions at each column. 
<br><br>
We have extended the theory of hidden Markov models to the case of
pairwise comparison of HMMs and developed a method for sequence homology
searching that is based on this theory. The alignment algorithm maximizes
a weighted form of co-emission probability; the probability that the two
HMMs will emit the same sequence of residues. Amino acids are weighted
according to their abundance, with rare co-emitted amino acids contributing
more to the alignment score. This weighting is analogous to the use of
a null model, with amino acid background probabilities in HMM-sequence
comparison.<br>
Secondary structure can be included in
the HMM-HMM comparison. We score pairs of aligned secondary structure
states in a way analogous to the classical amino acid substitution
matrices. We use ten different substitution matrices, derived
from a statistical analysis of the structure database, one for each
confidence value given by PSIPRED.
By making use of confidence values
and using a strictly statistical approach, we are able to improve the
sensitivity gain considerably over previous methods.
</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="structure prediction"></a>
<h3 class="<%= @section["name"] %>">Structure Prediction with HHpred</h3>
<div class="row">
<p>The most successful techniques for protein structure prediction rely
on the identification of homologous sequences with known structures to be used as templates. 
This technique is based on the observation that protein structures diverge much more slowly than sequences; 
homologous proteins may have very similar structures, even when their sequences have diverged beyond recognition.
Sensitivity in homology detection is crucial for success, as many
proteins have only remote relatives in the structure database.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="dbs"></a>
<h3 class="<%= @section["name"] %>">Target Databases of HHpred</h3>
<div class="row">
<p>A large number of publicly available (partly redundant) and manually or automatically annotated
databases of protein family alignments, such as
<a href="http://pfam.xfam.org">PFAM</a>,
<a target="_blank" href="http://smart.embl-heidelberg.de/">SMART</a>,
<a target="_blank" href="http://www.pantherdb.org/">PANTHER</a>,
<a target="_blank" href="http://www.tigr.org/TIGRFAMs/index.shtml">TIGRFAMs</a>,
<a target="_blank" href="http://pir.georgetown.edu/iproclass/">PIRSF</a>, or
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/COG/">COG/KOG</a>
can be searched through on our webserver. Two composite databases in HHpred that include most of these
original databases are
<a target="_blank" href="http://www.ebi.ac.uk/interpro/">InterPro</a>
from the EBI and the conserved domain database
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml">CDD</a>
from the NCBI.<br>
A number of alignment databases are built around sequences of known structure, generally
by starting with a known sequence as seed and searching for sequence homologs.
We build two of those databases ourselves, one using full-length sequences from the
<a target="_blank" href="http://www.rcsb.org/pdb/">Protein Data Bank (PDB)</a>
as seeds and one that uses PDB sequences cut into structural and evolutionary domains, as defined by the
<a target="_blank" href="http://scop.mrc-lmb.cam.ac.uk/scop/index.html">SCOP</a>
database, 70% identity-clustered. We refer to these databases as pdb70 and scop70.<br>
An alignment database very much like our scop70 is
<a target="_blank" href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/">SUPERFAMILY</a>, whereas
<a target="_blank" href="http://www.cathdb.info">CATH/Gene3D</a> is based on
<a target="_blank" href="http://www.cathdb.info">CATH</a>,
a database for hierarchical classification of structural domains that is similar to SCOP.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="benchmark"></a>
<h3 class="<%= @section["name"] %>">Benchmark</h3>
<div class="row">
<p>HHsearch was once benchmarked together with BLAST, PSI-BLAST, HMMER, the
profile-profile tools PROF_SIM and COMPASS, and another HMM-HMM tool,
<a target="_blank" href="http://www.ibi.vu.nl/programs/prcwww/">PRC</a> (M. Madera)
in an all-against-all comparison of a database of 3691 protein domains
from SCOP 1.63 with pairwise sequence identities below 20%.
HHsearch was able to detect 2.8 to 2.9 times more homologs than
PSIBLAST or HMMER, twice more than PROF_SIM, 60% more than COMPASS
and 7% more than PRC at a fixed error rate of 20% (see figure).
By including secondary structure, predicted by
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/10493868">PSIPRED</a>,
a further improvement of 20% could be achieved.
We showed further that the improvements in sensitivity are mirrored by
an increase in alignment quality.<br>
Thanks to a fast column score and an efficient algorithm,
HHsearch ran four times faster than PRC, ten times faster than PROF_SIM (4/2004),
and 17 times faster than COMPASS (4/2004), scanning a profile HMM with 200 columns
against 3691 SCOP domains in 33 s on a 2 GHz AMD64 processor.</p>
</div>
<img src="/images/hhpred/hhpred_bench.png" height="300px" style="margin: 20px;">
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>


<a name="evalues"></a>
<h3 class="<%= @section["name"] %>">E-values and Probabilities</h3>
<div class="row">
<p>To assert a homologous relationship for a pair of proteins, it is
necessary to quantify the uncertainty. Most sequence similarity
search programs report the significance of a database match by an
<b>e-value</b>, i.e. expect-value. The e-value is the average expected number
of non-homologous proteins with a score higher than the one
obtained for the database match. An e-value much lower than 1
usually indicates statistical significance.
<br>
To derive e-values, a representative database, composed of one HMM
per SCOP fold, is searched with the query HMM before the actual database
search. The score distribution is recorded and a Gumbel extreme value
distribution (EVD) is fit to it. From this distribution, one could, in principle,
calculate for each score <code>S</code> the P-value as the area under the EVD
to the right of S, i.e. <code>P-value = Prob(score > S)</code>. Then the e-value could
be calculated for each score according to<br>

<img src="/images/formel1.png" style="margin: 20px"><br>

where <code>N</code> is the number of HMMs in the database to be scanned.
But in order to record a score distribution of negatives, we should
exclude all proteins that are homologous to the query protein. We do
this in two steps. Before fitting an EVD to the score distribution,
we exclude the best-scoring three folds. We then calculate preliminary
E-values for the representative HMMs and now exclude those HMMs, with
an E-value better than <code>0.5</code>. The <code>lambda</code>- and <code>mu</code>-parameters for the EVD
are determined by maximum likelihood. In local alignment mode, we use
a simple log length correction.<br>

When we add secondary structure scores, we find that the score disctribution
of negatives does not strictly follow an EVD anymore
(<i>e-values in HHpred therefore do not include secondary structure scores</i>!).
As an alternative to e-values, HHpred reports <b>probabilities</b> for a
homologous relationship. This probability is based on the real-world score
distribution for negative and homologous domain pairs in an all-against-all
comparison of SCOP. Since the probability also contains the
contribution from the secondary structure score, it is <b>more sensitive than the e-value</b>.
 The probability is calculated according to:<br>

<img src="/images/formel2.png" style="margin: 20px"><br>


The considered homologous pairs are from the same superfamily or have a structural superposition
<code>MAXSUB score > 0.1</code>. All other pairs are counted as negatives in this context.</p>
</div><div class="row">

<p>The large number of
compared sequences in our benchmark allowed us to quantitatively test
the accuracy of reported e-values. Remarkably, e-values below <code>1E-4</code> are
wrong for all tested tools except BLAST and HMMER. Specifically, when
using PSI-BLAST with default parameters (up to eight iterations at
e-value threshold of <code>1E-4</code>) ~100 times too many sequences were observed
with a reported e-value of <code>1E-4</code> or better. The probabilities take account
of the complications (mainly alignments corrupted by non-homologous sequences)
that lead to these deviations. They are therefore a more realistic
measure of confidence.</p>
</div>

<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<%= render(:partial => "hhpred/references_and_contact") %>
