<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Paste Sequence or MSA</a></li>
	<li><a href="#format">Select Input Format</a></li>
	<li><a href="#databases">Select HMM Databases</a></li>
	<li><a href="#prefilter">MSA Generation Method</a></li>
	<li><a href="#maxhhblitsit">Max.&nbsp;MSA&nbsp;Generation<br>Iterations</a></li>
	<li><a href="#Ehhblitsval">E-value&nbsp;Inclusion<br>Threshold</a></li>
	<li><a href="#cov_min">Min. Coverage of Hits</a></li>
	<li><a href="#qid_min">Min. Sequence Identity of MSA Hits with Query</a></li>
	<li><a href="#ss_scoring">Score Secondary<br>Structure</a></li>
	<li><a href="#alignmode">Alignment Mode</a></li>
	<li><a href="#maxseq">Show Representative<br>Sequences per HMM</a></li>
	<li><a href="#width">Width of Alignments</a></li>
	<li><a href="#minprobab">Min. Probability in Hit List</a></li>
	<li><a href="#maxlines">Max. No. of Hits in Hit List</a></li>
	<li><a href="#graph">Show Bar Graph for Hits</a></li>
	<li><a href="#coloring">Coloring Query<br>-Template MSA in Results</a></li>
	<li><a href="#match_mode">Match State Assignment</a></li>
	<li><a href="#references">References</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>

<style>
ul {
  list-style-type: disc;
  font-weight: bold;
  font-size: 0.9em;
}

ul li {
  padding-left: 5px;
}

.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
</style>


<h2><%= @tool['title'] %>  Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Paste Single Sequence or MSA</h3>
<div class="row">
<p>One can paste either a single protein sequence or a Multiple Sequence Alignment (MSA).
 HHpred will use HHblits (Uniprot database filtered to 20%) or PSI-BLAST 
(non-redundant sequence database from NCBI) to build an MSA. This 
alignment will then be used to construct a concise statistical representation, i.e. a hidden Markov 
model or HMM, to search the selected HMM databases for homologs. <br>
If a multiple alignment is used as input, the MSA generation method will be jumpstarted. An expert-built or expert-edited 
alignment, or one that contains homologs that are not yet part of the non-redundant sequence database, might significantly increase 
the sensitivity and reliability of the HHpred search. It is strongly recommended to refrain from using automatic multiple alignment
programs (like CLUSTAL). The MSA generation tools tend to give better alignments for the purpose of
detecting homologs.<br><br>
<b><u>Note:</u> if an MSA is taken as an input, the appropriate input format has to be selected.</b> 
<br/><br/>
</div><div class="spacer">&nbsp;</div>

<a name="format"></a>
<h3 class="<%= @section["name"] %>">Select Input Format</h3>
<div class="row">
<p>HHpred runs with a single query sequence in FASTA format or with an MSA. When a query alignment is used, built by HHsearch/HHpred 
for example, PSI-BLAST will be kickstarted. If the maximum number of PSI-BLAST iterations is chosen to
be <code>0</code>, then only the predicted secondary structure will be added to the alignment. The query sequence is always the first sequence.<br>
One of the following alignment formats may be selected:</p>
<br>
<ul>
  <li>FASTA</li>
  <li>CLUSTAL</li>
  <li>Stockholm</li>
  <li>A2M</li>
  <li>A3M</li>
  <li>EMBL</li>
  <li>MEGA</li>
  <li>MSF/GCG</li>
  <li>PIR/NBRF</li>
  <li>TREECON</li>
</ul>
<br>
<p>For a detailed description of different alignment formats, please click <a href="/reformat/help_params#formats">here</a>.</p>
</div>
<div class="spacer">&nbsp;</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="databases"></a>
<h3 class="<%= @section["name"] %>">Select HMM Databases</h3>
<div class="row">

<p>One or more databases of template HMMs can be selected to compare the query HMM against.
By holding <code>Ctrl</code>, one can select more than one database.
<br><br>

<div style="float: left; width:360px; margin: auto;">
     <h5><a target="_self" class="icon fa-database" href="">Proteomes</a></h5>
     <p>Comprises databases of HMMs, representing each of an organisms proteins. Searching through the 
        proteome of an organism using HHsearch (or HHblits), can be advantageous when a diverged ortholog is suspected or a homolog 
        of the query protein is suspected to hide in an organisms genome, which can not be found using BLAST or PSI-BLAST.</p> 
<br><br>
</div>

<div style="float: right; width:360px; margin: auto;">
     <h5><a target="_blank" class="icon fa-database" href="http://www.rcsb.org/pdb/">pdb70</a></h5>
     <p>A search against our pdb70 database is the first step when trying to predict a structure with HHpred. 
        It is based on the protein data bank (PDB) database, which contains all publicly available 3D structures of proteins.
        [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/14681399"><small>PMID: 14681399</small></a>]</p>
<br><br><br><br>
</div>

<div style="float:right; width:360px; margin: auto;">
     <h5><a target="_blank" class="icon fa-database" href="http://scop.berkeley.edu">scop70</a></h5>
     <p>The scop70 alignment database is built from sequences in SCOP in a similar way as pdb70. 
        SCOP is a hand-curated database with protein domains of known structure. HHpred reports the SCOP code of the domain's family.
        For example, <code>a.118.8.1</code> stands for domain class <code>a</code> (all alpha helical), fold <code>118</code> (alpha-alpha superhelices), 
        superfamily <code>8</code> (TPR-like), family <code>1</code> (Tetratricopeptide repeats (TPR). 
        We use a filtered version of the SCOP sequence set from the <a target="_blank" href="http://scop.berkeley.edu/astral/">ASTRAL server</a>, 
        e.g. scop70_1.69 is version 1.69 of SCOP filtered to 70% maximum sequence identity. Our scop70 alignment database
        is similar to the <a target="_blank" href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/">SUPERFAMILY</a> database.
        [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/10592240"><small>PMID: 10592240</small></a>]</p>
<br><br>
</div>

<div style="float: left; width:360px; margin: auto;">
     <h5><a target="_blank" class="icon fa-database" href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml">CDD</a></h5>
     <p>The Conserved Domain Database (CDD) at the <a target="_blank" href="http://www.ncbi.nlm.nih.gov/">NCBI</a>
        is a composite database combining alignments from Pfam, SMART, and COG/KOG, as well as containing
        alignments of conserved domains, curated at the NCBI.
        [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/11752315"><small>PMID: 11752315</small></a>]
    </p>
<br><br>
</div>

<div style="float:left; width:360px; margin: auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://www.ebi.ac.uk/interpro/">InterPro</a></h5>
    <p>Our version of InterPro contains HMMs from Pfam, SMART, PANTHER, TIGRFAMs, PIRSF, 
       SUPERFAMILY, and Gene3D/CATH (see below). It encodes full-length protein families, domain families, 
       and motifs in which identifiable features from known proteins can be applied to unknown protein sequences. 
       In the version offered through HHpred, the PRINTS and PROSITE sequene motif databases are excluded,
       as are <i>explicit</i> transmembrane helix prediction by TMHMM and signal peptide prediction by SignalP.
       <small>(InterPro offers only HMMs and not the underlying alignments. Therefore, HHpred does not have access to
       alignments for PANTHER, TIGRFAMs, PIRSF, SUPERFAMILY, and CATH/Gene3D. Hence, when using the option 
       <code>Merge query and template alignments</code>, only the single consensus sequences, instead of the full template 
       alignments, can be merged with the query alignment.)</small>
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/15608177"><small>PMID: 15608177</small></a>]
   </p>
<br><br>
</div>

<div style="float: right; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://pfam.xfam.org">PfamA</a></h5>
    <p>PfamA is a large collection of curated multiple sequence alignments, covering many common 
       protein domains and families. We automatically download two versions of the PfamA database: one directly from 
       <a target="_blank" href="ftp://ftp.ebi.ac.uk/pub/databases/Pfam/">EMBL</a> and one as part of the CDD database from the NCBI.
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/9399864"><small>PMID: 9399864</small></a>]
   </p>
<br><br>
</div>

<div style="float:right; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://smart.embl-heidelberg.de/">SMART</a></h5>
    <p>SMART is a database of curated alignments of genetically mobile domains found in signaling, extracellular 
       and chromatin-associated proteins, predominantly in metazoans. We download the SMART database as a part of the CDD database
       from NCBI.
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/9847187"><small>PMID: 9847187</small></a>]
   </p>
<br><br>
</div>

<div style="float: left; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://www.pantherdb.org/about.jsp">PANTHER</a></h5>
    <p>PANTHER is a large collection of protein families that have been subdivided into functionally 
       related subfamilies, using human expertise. Hidden Markov models (HMMs) are built for each 
       family and subfamily for classifying additional protein sequences. Only family alignments are included
       in HHpred.
       [<a target="_blank" href="www.ncbi.nlm.nih.gov/pubmed/15608197"><small>PMID: 15608197</small></a>]
   </p>
<br><br>
</div>

<div style="float:right; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://www.tigr.org/TIGRFAMs/index.shtml">TIGRFAMs</a></h5>
    <p>TIGRFAMs is a collection of protein families, featuring curated MSAs, HMMs and an annotation, which provides a tool for identifying
       functionally related proteins based on sequence homology. Those entries which are <cite>equivalogs</cite> group homologous proteins which are 
       conserved with respect to function.
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/12520025"><small>PMID: 12520025</small></a>]
   </p>
<br><br>
</div>

<div style="float: left; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://pir.georgetown.edu/iproclass/">PIRSF</a></h5>
    <p>The PIRSF protein classification system is a network with multiple levels of sequence diversity, from 
       superfamilies to subfamilies, that reflects the evolutionary relationship of full-length proteins and domains. 
       The primary PIRSF classification unit is the homeomorphic family, whose members are both homologous and homeomorph.
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/14681371"><small>PMID: 14681371</small></a>]
   </p>
<br><br>
</div>

<div style="float:right; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://supfam.mrc-lmb.cam.ac.uk/SUPERFAMILY/">SUPERFAMILY</a></h5>
    <p>SUPERFAMILY is a library of profile HMMs that represent all proteins of known structure. 
       The library is based on the SCOP classification of proteins: each model corresponds to a SCOP domain and aims 
       to represent the entire SCOP superfamily that the domain belongs to.
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/11697912"><small>PMID: 11697912</small></a>]
   </p>
<br><br>
</div>

<div style="float: left; width:360px; margin:auto;">
    <h5><a target="_blank" class="icon fa-database" href="http://www.biochem.ucl.ac.uk/bsm/cath/Gene3D/">CATH/Gene3D</a></h5>
    <p>CATH is a database for structural classification of protein domains, similar to SCOP. Gene3D describes protein families 
       and domain architectures in complete genomes. Protein families are formed using a Markov clustering 
       algorithm, followed by multi-linkage clustering according to sequence identity. Mapping of predicted 
       structure and sequence domains is undertaken using hidden Markov models libraries representing CATH 
       and Pfam domains.
       [<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/15608188"><small>PMID: 15608188</small></a>]
   </p>
<br><br>
</div>

<div style="float:right; width:360px; margin:auto;">
   <h5><a target="_blank" class="icon fa-database" href="http://www.ncbi.nlm.nih.gov/COG/">COG/KOG</a></h5>
   <p>COG/KOG (Clusters of Orthologous Groups of proteins) is a alignment database of homologous, conserved 
      domains. The COG database is particularly useful for functional annotation.
      <u>But beware:</u> HHpred is very sensitive in detecting distant homologs. Therefore, a significant 
      match with a COG might imply homology, but not necessarily a similar function.
      [<a target="_blank" href="www.ncbi.nlm.nih.gov/pubmed/12969510"><small>PMID: 12969510</small></a>]
  </p>
<br><br>
</div>

<div style="float: left; width:360px; margin:auto;">
   <h5><a target="_blank" class="icon fa-database" href="http://pfam.xfam.org">PfamB</a></h5>
   <p>PfamB is derived from the <a target="_blank" href="http://prodom.prabi.fr/prodom/current/html/home.php">
      ProDom</a> database by leaving out all parts of alignments which are already covered by PfamA. ProDom in turn 
      is built by clustering homologous sequence segments into alignments through an iterative scheme employing PSI-BLAST.
      PfamB alignments are not annotated. Many contain only a few sequences, are quite short, and most represent 
      only parts of domains. To keep the number of HMMs in PfamB reasonable, we include only alignments with at least 
      three sequences of a certain minimum diversity.<br>
      <b><u>Please note:</u> PfamB contains over 14000 unannotated, mainly small and insignificant alignments. To avoid wasting
      time, we recommend to search PfamB only for doing intermediate HMM searching, when you can't find any significant 
      match to an alignment from the other databases.</b>
  </p> 
<br><br>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="prefilter"></a>
<h3 class="<%= @section["name"] %>">MSA Generation Method</h3>
<div class="row">
<p>The MSA generation method, used by HHpred, can be selected here. For detailed information regarding these methods,  
please follow these links: <br>
HHblits   :  <a target="_blank" href="http://wwwuser.gwdg.de/~compbiol/pdf/Preprint-2011-HHblits-inkl-Suppl2.pdf">Download pdf</a><br> 
PSI-Blast :  <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/9254694">View article</a><br><br> 
</div>

<a name="maxhhblitsit"></a>
<h3 class="<%= @section["name"] %>">Max. MSA Generation iterations</h3>
<div class="row">
<p>This specifies the number of iterations, performed by the MSA generation algorithm, to build an alignment from the input sequence 
or input alignment, respectively. The iterations stop in any case no further sequences are found. If one wants to use the input alignment
the way it is, the number of MSA generation iterations has to be set to <code>0</code>. This will ensure that only the predicted secondary structure 
is added to the input alignment.</p> 
</div>

<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>


<a name="ss_scoring"></a>
<h3 class="<%= @section["name"] %>">Score Secondary Structure</h3>
<div class="row">
<p>This option activates secondary structure prediction of the query with <b>PSIPRED</b>,
to compare it to database secondary structures. If the actual structure of the sequence is still unknown, the PSIPRED-predicted secondary structure
 will be used.<br><br>
 One can force HHpred to use the predicted instead of the actual secondary structure, by choosing the option 
<code>predicted vs predicted only</code>. 
Scoring the secondary structure similarity improves sensitivity and alignment quality significantly. 
(See figure at <a href="http://<%= DOC_ROOTHOST %>/hhpred/help_ov#benchmark">About HHpred</a>). 
Since the weight of the secondary structure score is small (15% of the amino acid similarity score), the risk for 
high-scoring non-homologous matches will also remain small.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float:right;"></a></div>

<a name="alignmode"></a>
<h3 class="<%= @section["name"] %>">Alignment Mode</h3>
<div class="row">
<p>If <code>local</code> mode is selected, HHpred will use <b>local alignments</b> to score the query sequence against the
database sequences. With <code>global</code> mode it uses <b>global alignments</b>, with no end gap penalities (sometimes called 
<b>global-local alignments</b>). It is strongly recommended to use local mode if the most likely remote homologs of a query have to be
evaluated.
 If a template has already been identified with a previous run in local mode, one can use global mode afterwards, to get global alignments.
 <br><br>
HHpred was shown to have a significantly higher sensitivity in detecting remote homologs in local mode. The reason is that
 homology of most remote homologs is limited to a common core. This core defines the superfamily and has been adorned by other
 secondary structure elements in different ways. In addition, the statistical evaluation of the resulting alignment is more
 error-prone in global alignment mode, since the negative score distribution for global alignments does not follow an extreme-value
 distribution.<br><br>

One might want to generate global alignments, and at the same time score alignments with the more sensitive local Viterbi
alignment, by selecting the <code>local</code> option in combination with the <code>Realign with MAC Algorithm</code> option and
setting the <code>MAC Realignment Threshold</code> to <code>0.0</code>.

</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="realign"></a>
<h3 class="<%= @section["name"] %>">Realign with MAC Algorithm</h3>
<div class="row">
<p>After a search with the standard Viterbi algorithm, choosing this option will cause HHpred to realign all 
query-template alignments with the more accurate <b><u>M</u>aximum <u>AC</u>curacy (MAC)</b> alignment algorithm.<br><br>

Since, for technical reasons, the scores, e-values, and probabilities from the Viterbi alignment 
and <u>NOT</u> the MAC alignment are displayed and used for ranking, the MAC realignment option may lead 
to high-scoring alignments of length 1. This happens when the MAC algorithm cannot find an 
acceptable alignment path, which is an indication for a non-homologous relationship.<br><br>

When the MAC realignment option is activated, the <code>global</code> and <code>local</code> 
options refer to both, the Viterbi search stage as well as the MAC realignment stage. 
The posterior probability matrix will be calculated for a global or local 
alignment respectively.</p> 
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="Ehhblitsval"></a>
<h3 class="<%= @section["name"] %>">E-value Threshold for MSA Generation</h3>
<div class="row">
<p>All sequence matches, i.e. 'hits', with an e-value better than this threshold, are included 
in the alignment for the next MSA generation iteration or, in the last iteration, to build the HMM for HHsearch. By default,
the e-value inclusion threshold is set to <code>1E-3</code>, but can take values from <code>0.1</code> to <code>1E-50</code>.
</p></div>
<br>

<a name="cov_min"></a>
<h3 class="<%= @section["name"] %>">Minimum Coverage of MSA Hits</h3>
<div class="row">
<p>This parameter controls what percentage of query residues needs to be covered by the hits of the MSA algorithm 
in order for the hit to be included in the alignment for the next iteration. More precisely, the coverage 
of a sequence found by the MSA algorithm is defined as the number of residues, aligned with the query divided by the 
length of the query.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="qid_min"></a>
<h3 class="<%= @section["name"] %>">Minimum Sequence Identity of MSA Hits with Query</h3>
<div class="row">
<p>The percentage of residues that need to be identical
to their aligned query residues, in order for the hit to be included in the MSA, can be selected here.
This means the sequence identity of a hit by the MSA algorithm is defined as the number of residues 
identical with the aligned query residues, divided by the length of the MSA hit.
</p></div>
<br>

<a name="mact"></a>
<h3 class="<%= @section["name"] %>">MAC Realignment Threshold</h3>
<div class="row">
<p>This parameter can be adjusted when the <code>Realign with MAC Algorithm</code> and the <code>local</code> option are active.
The MAC algorithm finds the alignment that maximizes the sum of posterior probabilites, minus the given threshold for each aligned
 pair. Global alignments are generated with <code>0</code>, whereas <code>0.5</code> will produce quite conservative
local alignments with average probabilities for each aligned pair of residues above 50%.<br> 
By default the MAC realignment threshold is set to <code>0.3</code>. This produces alignments of roughly the same length as the 
Viterbi algorithm.</p> 
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="compbiascorr"></a>
<h3 class="<%= @section["name"] %>">Compositional Bias Correction</h3>
<div class="row">
<p>When two proteins have a similar biased amino acid distribution, such as alpha-helical membrane
proteins, they can look similar. The reason is that the average score between any random pair of columns may be slighty
positive. Activating this option will prevent protein pairs from looking similar just because their
average amino acid distributions are similarly biased.</p> 
<!-- Technically speaking, activating this option will 
switch from a neutral sequence Null model to a Null model whose amino acid frequency distribution is 
the average of query and database proteins.-->
</div>
<br>

<a name="maxseq"></a>
<h3 class="<%= @section["name"] %>">Show Representative Sequences per HMM</h3>
<div class="row">
<p>Setting this to <code>10</code>, for instance, will generate alignments containing 10 representative sequences
from both query and template alignments. This might help you getting a better feeling for the conservation
along the alignment. The representative sequences shown are selected for maximum pairwise dissimilarity.
The maximum value for this parameter is <code>10</code>.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="width"></a>
<h3 class="<%= @section["name"] %>">Width of Alignments (in Columns)</h3>
<div class="row">
<p>Modify the number of alignment columns per line in the HMM-HMM alignments. By default the width of 
alignments is set to <code>80</code>. As long as a browser does not cut off parts of the alignment, it is recommended to leave it
at default value.</p>
</div>
<br>

<a name="minprobab"></a>
<h3 class="<%= @section["name"] %>">Minimum Probability in Hit List</h3>
<div class="row">
<p>Only hits above this cut-off probability will be displayed. All sequences with a lower probability value
will be omitted from the results page.</p></div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="maxlines"></a>
<h3 class="<%= @section["name"] %>">Max. Number of Hits in Hit List</h3>
<div class="row">
<p>This parameter controls how many matches will be shown on the results page.</p>
</div>
<br>

<a name="graph"></a>
<h3 class="<%= @section["name"] %>">Show Hits as Bar Graph</h3>
<div class="row">
<p>Activating this option displays a bar graph, which indicates the region of the query protein that is
covered by the matches. The significance of the hits is color-coded, with the most significant hits
in <span style="color: red;">red</span> (>95% probability) and <span style="color: orange;">orange</span> (>85%), 
then yellow and <span style="color: green;">green</span> (>70%), and finally <span style="color: cyan;">cyan</span> (>50%) 
and <span style="color: blue;">blue</span> (>40%) for potential true positives hits.</p>
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<a name="coloring"></a>
<h3 class="<%= @section["name"] %>">Coloring Query-Template Multiple Alignments in Results</h3>
<div class="row">
<p>This parameter colors the sequences in the query-template alignments on the results page
by physico-chemical properties of the amino acids, either by using colored fonts or by background coloring.</p>
</div>
<br>

<a name="match_mode"></a>
<h3 class="<%= @section["name"] %>">Match State Assignment</h3>
<div class="row">
<p>This value represents the threshold up to which percentage of gaps a column should be assigned as a match 
state. This means a value of <code>50</code> assigns all columns with less than 50% gaps as match states.
With the value <code>first</code> all columns with a residue in the 1<sup>st</sup> sequence are assigned as match states. <BR><BR>
This parameter is not available with the input formats A2M and A3M. While using the A2M/A3M formats the match state assignment is taken from the input.
</div>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>

<BR>

<%= render(:partial => "hhpred/references_and_contact") %>
<div class="top"><a href="#" class="fa fa-arrow-up" border="0" style="float: right;"></a></div>
