<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'align'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhpred_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhpred",}, {:name => "forward_alignment", :id => @job.tool+"_form"}) %>

<div id="forward" >
	<div class="row">
		<font color='darkgreen'>
			<div class = "row" id = "forwarding_info" >
			    Note: Some options might be disabled due to the number of selected sequences.
			</div>
		</font>
		<br/>
		<div class="label">Forward results to</div>
		<div class="formw">
			<%= form_select_single_with_hash("destination", @fw_values, @fw_labels, {:default => @fw_values[0], :modes => @tool_mode_list}) %>
		</div>
	</div>
    
	<div class="row">
		<div class="label"></div>
		<div class="formw">
			<input name="submitform" id="forwardbutton" type="submit" class="feedbutton" onClick="setFwAction('<%= @job.tool %>_form', 'destination');" value="Forward hits" />
		</div>
	</div>
	<div class="hr">&nbsp;</div>
	
</div>

<div class="row">

  <div id="applet">
    <%= render(:partial => "shared/jalview", :locals => {:file_extension => ".reduced.fas"}) %>
    <br>
    <strong><span style="position: relative;"><a href="#" onclick="openHelpWindow('/hhpred/help_results#alignment');" style="font-weight:normal;">Reduced alignment: 50 most distinct sequences without inserts in Fasta format</a></span></strong>

  </div>
  
  <div class="hr">&nbsp;</div>

</div>



<div class="spacer">&nbsp;</div>

<div class="row">
  <%= text_area_tag("result_textbox_to_file", @job.render_file(@resfile), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
</div>

</form>
