<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'reduced_align'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhpred_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhpred",}, {:name => "forward_alignment", :id => @job.tool+"_form"}) %>

<div id="forward" >
	<div class="row">
		<font color='darkgreen'>
			<div class = "row" id = "forwarding_info" >
			    Note: Some options might be disabled due to the number of selected sequences.
			</div>
		</font>
		<br/>
		<div class="label">Forward results to</div>
		<div class="formw">
			<%= form_select_single_with_hash("destination", @fw_values, @fw_labels, {:default => @fw_values[0], :modes => @tool_mode_list}) %>
		</div>
	</div>
    
	<div class="row">
		<div class="label"></div>
		<div class="formw">
			<input name="submitform" id="forwardbutton" type="submit" class="feedbutton" onClick="setFwAction('<%= @job.tool %>_form', 'destination');" value="Forward hits" />
		</div>
	</div>
	<div class="hr">&nbsp;</div>
	
</div>

<div class="row">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



<script type="text/javascript" language="javascript">

            var w = false; 

            function OpenWindow_JobID() {

              if (!w || w.closed){

               params  = 'width='+screen.width;
               params += ',height='+screen.height;
               params += ',top=0,left=0'
               params += ',fullscreen=yes';
               params += ',scrollbars=yes';
                            

                w = window.open('/hhpred/popup_reduced','hhpred_popup_reduced',params);
                w.myVar = jobid;

                } else {

                w.focus();

              }

             }

            function popupTransfer() {
              var jobid = '<%= @job.url_for_job_dir %>/<%= @job.jobid %>';
              return jobid;


            }


</script>

<div align="right">
<%= form_jalview_button("Reduced alignment: 50 most distinct sequences without inserts in Fasta format",
                          0, ".reduced.fas", nil, "alignment", "hhpred") %>
<!--<input name="submitform" type="submit" class="feedbutton" onClick="OpenWindow_JobID();" value="View Alignment"/>-->
</div>


  <div class="hr">&nbsp;</div>
</div>

<div class="spacer">&nbsp;</div>

<div class="row">
  <%= text_area_tag("result_textbox_to_file", @job.render_file(@resfile), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
</div>

</form>
