<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'align'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhpred_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhpred"}, :name => "forward_alignment") %>

<div class="row">

  <div id="applet">
  <%= render(:partial => "shared/jalview", :locals => {:file_extension => ".fas"}) %>
  </div>

  <strong><span style="position: relative; top: 5px;"><a href="#" onclick="openHelpWindow('/hhpred/help_results#alignment');" style="font-weight:normal;">Representative alignment:~ 100 most distinct sequences with inserts in Fasta format </a></span></strong>

  <div class="hr">&nbsp;</div>

  <input name="submitform" type="submit" class="button" value="Start HHblits with this alignment" onclick="change_resubmit_form_to_hhblits();"/>
  <input name="submitform" type="submit" class="button" value="Start HHpred with this alignment" />
  <input name="resetform" type="reset" class="button" value="Undo all changes" />
  <button onclick="change_resubmit_form_to_hhblits();">Klick mich</button>
  <br/>
</div>


<div class="spacer">&nbsp;</div>

<div class="row">
  <%= text_area_tag("result_textbox_to_file", @job.render_file(@resfile), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
</div>

</form>
