<%= render(:partial => "shared/jobspecs", :locals => {:title_extra => 'Show/Edit Query Alignment', :resubmit => false}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export => false}) %>

<div class="row">

	<table id="applet">
	  <tr>
	  <td>
            <%= render(:partial => "shared/jalview", :locals => {:file_extension => ".fas"}) %>
	  </td><td>
	    <strong><a href="#" onclick="openHelpWindow('/hhpred/help_results#alignment');" style="font-weight:normal;">complete alignment with inserts</a></strong>
	  </td><td>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  </td><td>
            <%= render(:partial => "shared/jalview", :locals => {:file_extension => ".reduced.fas"}) %>
	  </td><td>
	    <strong><a href="#" onclick="openHelpWindow('/hhpred/help_results#alignment');" style="font-weight:normal;">reduced alignment: 50 most distinct sequences without inserts</a></strong>
	  </td>
	  </tr>		
	</table>
	<div class="hr">&nbsp;</div>

</div>

<div class="spacer">&nbsp;</div>	

<div class="row">
	<%= text_area_tag("result_textbox_to_file", @job.render_file(@job.jobid+".fas"), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
</div>	
	
