<%= render(:partial => "shared/jobspecs", :locals => {:toolname => @job.tool, :title_extra => 'Show/Edit Query Alignment'}) %>

<%= render(:partial => "shared/resultsections", :locals => {:export_to => 'queryalign'}) %>

<%= form_tag({:action => :run, :jobaction => 'hhpred_forward', :jobid => @job, :forward_action => "forward", :forward_controller => "hhpred"}) %>

	<div class="row">

 		<div id="applet">
   		<APPLET codebase="/applets/jalview/" ARCHIVE="jalview.jar" CODE="jalview.ButtonAlignApplet.class" width=70 height=35>
			<PARAM NAME="input"  value="<%= @job.url_for_job_dir_abs %>/<%= @job.jobid %>.fas">
			<PARAM NAME="type"   value="URL">
			<PARAM NAME="format" value="FASTA">
			</APPLET>
			<strong><span style="position: relative; top: -16px;"><a href="#" onclick="openHelpWindow('/hhpred/help_results#alignment');" style="font-weight:normal;">complete alignment with inserts</a>&nbsp;&nbsp;&nbsp;&nbsp;</span></strong>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<APPLET codebase="/applets/jalview/" ARCHIVE="jalview.jar" CODE="jalview.ButtonAlignApplet.class" width=70 height=35>
			<PARAM NAME="input"  value="<%= @job.url_for_job_dir_abs %>/<%= @job.jobid %>.reduced.fas">
			<PARAM NAME="type"   value="URL">
			<PARAM NAME="format" value="FASTA">
			</APPLET>
			<strong><span style="position: relative; top: -16px;"><a href="#" onclick="openHelpWindow('/hhpred/help_results#alignment');" style="font-weight:normal;">reduced alignment: 50 most distinct sequences without inserts</a></span></strong>

		</div>
		<div class="hr">&nbsp;</div>

                <br/>
                <strong>You may forward the query alignment to some tools&nbsp;&nbsp;</strong>
                <br/>
                <div id="forward">
                        <div class="row">
                                <%= form_label("Forward results to") %>
                                <%= form_select_single("destination", @fw_values, @fw_labels, @fw_values[0], 1, "toggle_seqlen('destination');") %>
                        	<div class="formw">
                                        <input name="submitform" type="submit" class="feedbutton" onClick="setFwAction('<%= @job.tool %>_form', 'destination');" value="Forward hits" />
				</div>
			</div>

                        <!--<div class="row">
                                <%= form_label("Select hits to forward") %>
                                <div class="formw">
                                        <input name="includehits" type="radio" value="selected" checked="checked" />&nbsp;selected hits<br/>
                                        <input name="includehits" type="radio" value="byevalue" />&nbsp;hits with e-value better than&nbsp;
                                        <input name="hitsevalue" type="text" value="0.001" />
                                </div>
                        </div>-->

                       <!--<div class="row">
                               <div class="label">Select sequence length</div>
                                <div class="formw">
                                        <input id="seqlen_hsp" name="seqlen" type="radio" value="hsp" checked="checked" disabled=true />&nbsp;Use HSPs<br/>
                                        <input name="submitform" type="submit" class="feedbutton" onClick="setFwAction('<%= @job.tool %>_form', 'destination');" value="Forward hits" />
                                        <input id="seqlen_complete" name="seqlen" type="radio" value="complete" disabled=true />&nbsp;Use full length sequences&nbsp;
                                </div>
                        </div>-->

                        <div class="hr">&nbsp;</div>
                </div>

                <br/>


	  	<input name="submitform" type="submit" class="feedbutton" value="Restart HHpred with this alignment" /> 
   	<input name="resetform" type="reset" class="feedbutton" value="Undo all changes" />
   	<strong>You may edit the template alignment below and submit it to HHpred&nbsp;&nbsp;</strong>
   	<br/>
	</div>

	<div class="spacer">&nbsp;</div>	




	<div class="row">
		<%= text_area_tag("result_textbox_to_file", @job.render_file(@job.jobid+".fas"), {:style => "height: 450px; width: 100%;", :wrap => "off"}) %>
	</div>	
	

</form>
