CS-BLAST is an extension to standard NCBI BLAST that allows to increase its sensitivity by a factor of more than two on remote homologs at the same speed.
CS-BLAST first adds context-specific pseudocounts to the input sequence and then jumpstarts PSI-BLAST with the resulting profile.
The output is identical to BLAST and contains a list of closest homologs with alignments.
<br>The software can be downloaded <a href="http://wwwuser.gwdg.de/~compbiol/data/csblast/releases" target="_blank">here</a>.
