<div class="hr"></div>
<a name="references"></a>
<h3 class="<%= @section["name"] %>">References (please cite as appropriate)</h3>
<div class="row">
Alva V., Nam SZ., Söding J., Lupas AN. (2016) <b>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</b> Nucleic Acids Res. pii: gkw348. [Epub ahead of print] <a href="http://www.ncbi.nlm.nih.gov/pubmed/27131380" target="_blank"><font size="-6">PMID: 27131380</font></a>
</div>
<div class="row">
Angermüller C., Biegert A., Söding J. (2012) <b>Discriminative modelling of context-specific amino acid substitution probabilities.</b> Bioinformatics 28(24): 3240-3247. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23080114" target="_blank"><font size="-6">PMID: 23080114</font></a>
</div>
<div class="row">
Biegert A.,  Söding J. (2009) <b>Sequence context-specific profiles for homology searching.</b> Proceedings of the National Academy of Sciences 106(10): 3770-3775. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2645910" target="_blank"><font size="-6">PMCID: PMC2645910</font></a>
</div>
<br>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">
Please do not hesitate to <a target="_blank" href="/common/contact" style="font-size:8pt">contact us</a> in case of problems.
</div>

