<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
Biegert A. and Söding J. (2009)
Sequence context-specific profiles for homology searching.<BR>
Proc Natl Acad Sci USA 106:3770-5 (2009).<BR>
<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2645910/pdf/zpq3770.pdf">Download pdf file</a>
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">

We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to <a href="mailto:toolkit@lmb.uni-muenchen.de">toolkit at lmb.uni-muenchen.de</a><BR>
</div>