<a name="references"></a>
<h3 class="<%= @section["name"] %>">References</h3>
<div class="row">
Angermüller, C., Biegert, A., & Söding, J. (2012). Discriminative modelling of context-specific amino acid substitution probabilities. Bioinformatics, 28(24), 3240-3247.
</div>
<div class="row">
Biegert, A., & Söding, J. (2009). Sequence context-specific profiles for homology searching.<br>Proceedings of the National Academy of Sciences,106(10), 3770-3775.
</div>
<BR>

<a name="contact"></a>
<h3 class="<%= @section["name"] %>">Contact</h3>
<div class="row">For more information, please contact <a href="mailto:angermueller@genzentrum.lmu.de">Christof Angerm&uuml;ller </a> </div>
<div class="row"></div>
<div class="row">
We are committed to continually improve this service for you. Please help us by informing us of 
problems, or sending comments, feedback, or ideas for improvements to <a href="mailto:toolkit@lmb.uni-muenchen.de">toolkit at lmb.uni-muenchen.de</a><BR>
</div>