<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input format</a></li>
	<li><a href="#database">Database</a></li>
	<li><a href="#number">Number of iterations</a></li>
	<li><a href="#evalue">E-value</a></li>
	<li><a href="#inclusion">E-value inclusion threshold</a></li>
	<li><a href="#filter">Filter (low complexity)</a></li>
	<li><a href="#descriptions">Descriptions</a></li>
	<li><a href="#alignments">Alignments</a></li>
	<li><a href="#otheradvanced">Other Advanced Options</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input Format</h3> 
<div class="row">
<p>
A sequence in FASTA format begins with a single-line description, followed by lines of sequence data. The description line is distinguished from the sequence data by a greater-than (">") symbol in the first column. It is recommended that all lines of text be shorter than 80 characters in length. An example sequence in FASTA
format is:
</p>
<pre>

>gi|532319|pir|TVFV2E|TVFV2E envelope protein
ELRLRYCAPAGFALLKCNDADYDGFKTNCSNVSVVHCTNLMNTTVTTGLLLNGSYSENRT
QIWQKHRTSNDSALILLNKHYNLTVTCKRPGNKTVLPVTIMAGLVFHSQKYNLRLRQAWC
HFPSNWKGAWKEVKEEIVNLPKERYRGTNDPKRIFFQRQWGDPETANLWFNCHGEFFYCK
MDWFLNYLNNLTVDADHNECKNTSGTKSGNKRAPGPCVQRTYVACHIRSVIIWLETISKK
TYAPPREGHLECTSTVTGMTVELNYIPKNRTNVTLSPQIESIWAAELDRYKLVEITPIGF
APTEVRRYTGGHERQKRVPFVXXXXXXXXXXXXXXXXXXXXXXVQSQHLLAGILQQQKNL
LAAVEAQQQMLKLTIWGVK

</pre>
<p>
Sequences are expected to be represented in the standard IUB/IUPAC amino acid acid codes, with these exceptions: lower-case letters are accepted and are mapped into upper-case; a single hyphen or dash can be used to represent a gap of indeterminate length; and in amino acid sequences, U and * are acceptable letters (see below). Before submitting a request, any numerical digits in the query sequence should either be removed or replaced by appropriate letter codes (e.g., X for unknown amino acid residue).
The amino acid codes supported are:
</p>
<pre>

    A  alanine                         P  proline
    B  aspartate or asparagine         Q  glutamine
    C  cystine                         R  arginine
    D  aspartate                       S  serine
    E  glutamate                       T  threonine
    F  phenylalanine                   U  selenocysteine
    G  glycine                         V  valine
    H  histidine                       W  tryptophan
    I  isoleucine                      Y  tyrosine
    K  lysine                          Z  glutamate or glutamine
    L  leucine                         X  any
    M  methionine                      *  translation stop
    N  asparagine                      -  gap of indeterminate length
    
</pre>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="database"></a>
<h3 class="<%= @section["name"] %>">Database</h3> 
<div class="row">
The selected databases are used by BLAST to perform the search. You may press CTRL to select multiple databases.
<ul>
<li> <b>nr</b>: the non-redundant sequence database at the NCBI, updated weekly. (See <a target="_blank" href="http://www.ncbi.nlm.nih.gov/Education/BLASTinfo/query_tutorial.html">NCBI's BLAST tutorial</a>).
<li> <b>env</b>: NCBI's env database with environnmental sequences, usually from unknown organisms.
<li> <b>nre</b>: nr+env database. Updated weekly.
<li> nr<b>90</b>, nr<b>70</b>, env<b>90</b> etc.: representative sequences, filtered for a maximum pairwise sequence identity of ~90% or 70% with <a target="_blank" href="http://bioinformatics.org/cd-hit/>CD-HIT">CD-HIT</a>. Updated weekly.
<li> nr<b>f</b>, nr90<b>f</b> etc.: databases filtered with David Jones' <a target="_blank" href="http://bioinf.cs.ucl.ac.uk/downloads/psipred/">PFILT</a> program (with default parameters) to suppress low-complexity regions, coiled coils, and transmembrane regions in protein sequences. Using a filtered database provides some limited protection against corruption of profiles during automated, multi-iteration PSI-BLAST searches. When doing the searches manually, we rather recommend inspecting alignments of extracted hits in a sequence viewer. Click "Alignment" and then Jalview with "reduced alignment" of representative sequences. Updated weekly.
<li> <b>nr_euk</b>, <b>nr_bac</b>, <b>nr_arch</b>, <b>nr_pro</b>: eukaryotic, bacterial, archaeal, and prokaryotic sequences from the non-redundant database nr. Updated weekly.
<li> <b>uniprot_sprot</b>:  <a target="_blank" href="http://www.expasy.org/sprot/">http://www.expasy.org/sprot/</a> Updated weekly.
<li> <b>uniprot_trembl</b>: <a target="_blank" href="http://www.ebi.ac.uk/swissprot/">http://www.ebi.ac.uk/swissprot/</a> Updated weekly.
<li> <b>pdb_nr</b>: Sequences from proteins whose structures have been deposited in the <a target="_blank" href="http://www.rcsb.org/pdb/Welcome.do">Protein Data Bank PDB</a>. This database uses the more complete SEQRES records of the PDB files (not the ATOM records that contain the atomic coordinates). This is the database used to construct the HHpred PDB alignment database. Updated weekly from the PDB.
<li> <b>scop25_1.69</b>: representative sequences from the <a target="_blank" href="http://scop.mrc-lmb.cam.ac.uk/scop/index.html">SCOP</a> database, which hierarchically classifies structural domains of proteins. SCOP is based on the PDB. The representative sequences with maximum pairwise sequence identity of 25% are downloaded from the  <a target="_blank" href="http://astral.berkeley.edu/">ASTRAL server</a>. Updated irregularly with SCOP. 
</ul> 
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="number"></a>
<h3 class="<%= @section["name"] %>">Number of iterations</h3> 
<div class="row">
<p>
Specify the maximum number of rounds of search (CSI-BLAST). After each successive round the search alignment is updated. 
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="evalue"></a>
<h3 class="<%= @section["name"] %>">E-value</h3> 
<div class="row">
<p>
The statistical significance threshold for reporting matches against database sequences; the default value is 10, meaning that 10 
matches are expected to be found merely by chance, according to the stochastic model of Karlin and Altschul (1990). If the statistical 
significance ascribed to a match is greater than the e-value threshold, the match will not be reported. Lower e-value thresholds are 
more stringent, leading to fewer chance matches being reported. Increasing the threshold shows less stringent matches. Fractional 
values are acceptable.  
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="inclusion"></a>
<h3 class="<%= @section["name"] %>">E-value inclusion threshold</h3> 
<div class="row">
<p>
The statistical significance threshold for including a sequence in the next iteration.
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="filter"></a>
<h3 class="<%= @section["name"] %>">Filter (low complexity)</h3> 
<div class="row">
<p>
Mask off segments of the query sequence that have low compositional complexity, as determined by the SEG program of Wootton & Federhen 
(Computers and Chemistry, 1993) or, for BLASTN, by the DUST program of Tatusov and Lipman (in preparation). Filtering can eliminate 
statistically significant but biologically uninteresting reports from the blast output (e.g., hits against common acidic-, basic- or 
proline-rich regions), leaving the more biologically interesting regions of the query sequence available for specific matching against 
database sequences. <br/>
Filtering is only applied to the query sequence (or its translation products), not to database sequences. Default filtering is DUST 
for BLASTN, SEG for other programs. <br/> 
It is not unusual for nothing at all to be masked by SEG, when applied to sequences in  SWISS-PROT, so filtering should not be expected 
to always yield an effect. Furthermore, in some cases, sequences are masked in their entirety, indicating that the statistical 
significance of any matches reported against the unfiltered query sequence should be suspect.
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="descriptions"></a>
<h3 class="<%= @section["name"] %>">Descriptions</h3> 
<div class="row">
<p>
Restricts the number of short descriptions of matching sequences reported to the number specified; default limit is 100 descriptions.
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="alignments"></a>
<h3 class="<%= @section["name"] %>">Alignments</h3> 
<div class="row">
<p>
Restricts database sequences to the number specified for which high-scoring segment pairs (HSPs) are reported; the default limit is 100. 
If more database sequences than this happen to satisfy the statistical significance threshold for reporting, only the matches ascribed 
the greatest statistical significance are reported.
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="otheradvanced"></a>
<h3 class="<%= @section["name"] %>">Other Advanced Options</h3> 
<div class="row">
<p>
Use this textfield to specify advanced options via commandline, e.g. "-E 1". 
</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
