<h2><%= @tool['title'] %> Overview</h2>
<div class="row">
CS-BLAST is an extension to standard NCBI BLAST that allows to increase its sensitivity by a factor of more than two at the same speed.
CS-BLAST first adds context-specific pseudocounts to the input sequence and then jumpstarts PSI-BLAST with the resulting profile.
The output is identical to BLAST and contains a list of closest homologs with alignments.
</div>

