<html>
  <head>
    <title>
      <%= @layout_page_title || "Bioinformatics Toolkit" %>
    </title>
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta content="no-cache" http-equiv="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="author" content="Michael Remmert">
    <%= @meta %>
    <% if LOCATION == "Munich" %>
      <%= stylesheet_link_tag "styles_munich", "navisection_munich", :media => 'all' %>
      <% if @widescreen %>
        <%= stylesheet_link_tag "widescreen_munich", :media => 'all' %>
      <% end %>
      <% if @fullscreen %>
        <%= stylesheet_link_tag "fullscreen_munich", :media => 'all' %>
      <% end %>
    <% else %>
      <%= stylesheet_link_tag "styles_tuebingen", "navisection_tuebingen", :media => 'all' %>
      <% if @widescreen %>
        <%= stylesheet_link_tag "widescreen_tuebingen", :media => 'all' %>
      <% end %>
      <% if @fullscreen %>
        <%= stylesheet_link_tag "fullscreen_tuebingen", :media => 'all' %>
      <% end %>
    <% end %>
    <%= stylesheet_link_tag "tabsection", "form", "genomes", :media => 'all' %>
    
    <% if @include_css && !@include_css.empty? %>
    <%= stylesheet_link_tag @include_css %>
    <% end %>
    
    <% if @include_css_text and !@include_css_text.empty? %>
    <style type="text/css">
      <%= @include_css_text %>
    </style>
    <% end %>




    
    <%= javascript_include_tag "toolkit", "browser_sniffer", "overlib", "overlib_cssstyle" %>
    <%= javascript_include_tag :defaults %>    
    <%= javascript_include_tag "scriptaculous.js" %>
    
    

  

    <%= if @tool then javascript_include_tag(@tool['name']) end -%>
    <% if @include_js && !@include_js.empty? -%>
    <% if @include_js.kind_of?(Array) %>
    <% @include_js.each do |js| %>
    <%= javascript_include_tag js %>
    <% end %>
    <% else %>
    <%= javascript_include_tag @include_js %>
    <% end %>
    <% end -%>	
    
    <% if @include_js_text and !@include_js_text.empty? %>
    <script type="text/javascript">
      <%= @include_js_text %>
    </script>
    
    <% end -%>
    
  </head>


  <% js_onload = @js_onload ? @js_onload : "" %>
  <body onload="show_sitereq();<%= js_onload %>">
    <div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
    <div id="container"> 
      <div id="header">
	<% if LOCATION == "Munich" %>
	<a href="http://www.lmb.uni-muenchen.de/" id="lmulogo"><img src="/images/lmu_logo.gif" alt="Gene Center Munich"/></a>
	<a href="<%= url_for(:controller => '/common', :action => 'index') %>"><img id="genecenterlogo" src="/images/genecenter_logo.gif" alt="Toolkit" /></a>
	<% else %>
	<a href="http://www.mpg.de" id="minerva"><img src="/images/minerva_logo.gif" alt="Minerva"/></a>
	<a href="<%= url_for(:controller => '/common', :action => 'index') %>"><img id="mpilogo" src="/images/mpi_logo.gif" alt="Toolkit" /></a>
	<% end %>
	<select id="quickstart" name="quickstart" onchange="window.location = this.value;">
	  <option value="">Quickfinder</option>
	  <%= render(:partial => "shared/quickfinder") %>
	</select>
	
	<div id="sitereq">This website is optimized for <a target="_blank" href="http://www.mozilla.org">Mozilla</a>, <a target="_blank" href="http://channels.netscape.com/ns/browsers/default.jsp">Netscape 8</a> and <a target="_blank" href="http://www.opera.com">Opera 8</a>.</div>
	
	<ul id="metanav">
	  <li><a href="#" onClick="openHelpWindow('/common/helpindex');">Help</a></li>
	  <% if LOCATION == "Munich" %>
	  <li <% if @meta_section == "disclaimer" -%> class="current"<% end -%> ><a target="_blank" href="/common/disclaimer">Disclaimer</a></li>	
	  <% else %>
	  <li <% if @meta_section == "disclaimer" -%> class="current"<% end -%> ><a target="_blank" href="/common/disclaimer_tuebingen">Disclaimer</a></li>
          <li <% if @meta_section == "imprint" -%> class="current"<% end -%> ><a target="_blank" href="http://www.eb.tuebingen.mpg.de/impressum">Imprint</a></li>
	  <% end %>
	  
	  <li <% if @meta_section == "tool_versions" -%> class="current"<% end -%> ><%= link_to "Tool Versions", :controller => "/common", :action => "tool_versions" -%></li>   
	  <% if RAILS_ENV == "development" %>
	  <li <% if @meta_section == "remote_debug" -%> class="current"<% end -%> ><%= link_to "Remote Debug", :controller => "/common", :action => "remote_debug" -%></li> 
	  <% end %>
	  <% if is_internal?(request.remote_ip) %>
	    <li <% if @meta_section == "stats" -%> class="current"<% end -%> ><%= link_to "Tool Statistics", :controller => "/common", :action => "stats" -%></li>
	    <li <% if @meta_section == "db_stats" -%> class="current"<%end -%> ><%= link_to "DB Statistics", :controller => "/common", :action => "db_stats" -%></li>
	    <li <% if @meta_section == "user_stats" -%> class="current"<% end -%> ><%= link_to "User Statistics", :controller => "/common", :action => "user_stats" -%></li>				
	  <% end %>
	  <li <% if @meta_section == "contact" -%> class="current"<% end -%> ><%= link_to "Contact", :controller => "/common", :action => "contact" -%></li> 
	  <li <% if @meta_section == "admin_userdbs" -%> class="current"<% end -%> ><%= link_to "Personal Databases", :controller => "/userdb", :action => "admin_userdbs" -%></li> 
	  <li <% if @meta_section == "pdbalert" -%> class="current"<% end -%> ><%= link_to "PDBalert", :controller => "/pdbalert", :action => "index" -%></li>
	  <% if session['user'].nil? %>
	  <li <% if @meta_section == "login" -%> class="current"<% end -%> ><%= link_to "Login", :controller => "/user", :action => "login" -%></li> 
	  <% else %>
	  <li <% if @meta_section == "edit" -%> class="current"<% end -%> ><%= link_to "User Account", :controller => "/user", :action => "edit" -%></li> 
	  <li <% if @meta_section == "logout" -%> class="current"<% end -%> ><%= link_to "Logout", :controller => "/user", :action => "logout" -%></li> 
	  <li>&nbsp;&nbsp; Logged-in as <%= session['user']['login'] %> &nbsp;&nbsp; </li>
	  <% end %>
	  <% if LOCATION != "Munich" %>
	  <li id="home" <%if @meta_section == "index" -%> class="current"<% end -%> ><%= link_to "Home", :controller => "/common", :action => "index" -%></li>
	  <% end %>
	</ul>
	<ul id="tabsection">
	  <% for section in @sections do
	     title = section["title"]
	     theme = section["theme"]
	     name = section["name"]
	     -%>
	  <li id="<%= theme -%>" <% if @section && @section['name'] == name -%> class="current"<% end -%> ><%= link_to title, :controller => "/sections", :action => name -%></li>
	  <% end -%>
	</ul>
      </div>
      
      <div id="navisection" class="<%= @meta_section ? 'std' : @section['theme'] -%>">
	<ul>
	  <% if @meta_section %>
	  <li><a>&nbsp;</a></li>
	  <% else %> 
	  <% 
	     for tool in @tools do
	     title = tool["title"]
	     theme = @sections_hash[tool["section"]]["theme"]
	     name = tool["name"]
	     section = tool["section"] 
	     if section == @section['name'] && is_active?(tool) %>
	  <li <% if @tool && @tool['name'] == name -%> class="current"<% end -%> ><%= link_to_tool tool-%></li>
	  <% 
	     end 
	     end
	     end %>
	</ul>
      </div>
      
      <%= render(:partial => "shared/sidebar") %>
      
      
      <div id="content">
	<%= @content_for_layout %>	
      </div>
      
      <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") +
"://piwik.tuebingen.mpg.de/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "17"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
      <!--		
			<div id="footer">
			  <span style="float: right; margin-right: 3px;">Release-0.0.1 (Rails)</span>
			  &#169; 2005, <a href="http://www.eb.tuebingen.mpg.de/dept1/home.html">Dep. of Protein Evolution at the Max-Planck Institute for Developmental Biology</a>, T&#252;bingen 	
			</div>
			-->
    
    <script>
      

      var th3=0; // Height of the Table
      var th=0; // Height of the body
      var th2=0; // Height of the Window
      
      //document.write(navigator.appName);
      
      // The Routine for Firefox and Mozilla
      if (navigator.appCodeName == "Mozilla")
      {
      
      //  th=document.all.content.offsetHeight;
      th = $('content').offsetHeight;
      
      th2=window.innerHeight;
      th3= th2-th-150;
      
      }
      if (navigator.appName == "Opera") // If check has to be fixed
      {
      //The Routine for Opera
      //  th=document.all.content.offsetHeight;
      th=$('content').offsetHeight;
      th2=window.innerHeight;
      th3= th2-th-160;
      } 
      if (navigator.appName == "Microsoft Internet Explorer") // If check has to be fixed
      {
      
      //The Routine for The Internet Explorer
      //  th=document.all.content.offsetHeight;
      th = $('content').offsetHeight;
      th2=document.body.clientHeight;
      
      th3= th2-th-150;
      }
      
      
      // Writing of the table and Div of the Footer
      if (th < th2) {
	       document.write('<table width="750px"');
	       document.write('height="');
	       document.write(th3);
	       document.write('px">');
	       
	       document.write('<tr valign="bottom"><td align="center" height="');
	       document.write(th3-30);
	       document.write('px"></td></tr>');
	       }
	       else
	       {
	       document.write('<table width="730px">');
	       }
	       
	       <% if LOCATION == "Munich" %>
	       document.write('<tr top-border="1px" valign="bottom"><td valign="bottom"><div id="footer"><span style="float: right; margin-right: 3px;">Release-<%= TOOLKIT_RELEASE %></span><%= TOOLKIT_COPYRIGHT %>, <a href="http://www.lmb.uni-muenchen.de/soeding/index.htm">Protein Bioinformatics & Computational Biology</a>, Gene Center, LMU Munich</div></td></tr>');
	       <% else %>
	       document.write('<tr top-border="1px" valign="bottom"><td valign="bottom"><div id="footer"><span style="float: right; margin-right: 3px;">Release-<%= TOOLKIT_RELEASE %></span><%= TOOLKIT_COPYRIGHT %>, <a href="http://www.eb.tuebingen.mpg.de/departments/1-protein-evolution">Dept. of Protein Evolution at the Max Planck Institute for Developmental Biology</a>, T&#252;bingen</div></td></tr>');
	       <% end %>
	       document.write('</table>');
	       
	       
	       </script>
  </div>


</body>
</html>
