<html>
<head>
	<title>
		<%= @layout_page_title || "Bioinformatics Toolkit" %>
	</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta content="no-cache" http-equiv="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="author" content="Seung-Zin Nam">



  <%= javascript_include_tag "msa_mpi.min.gz.js" %>

<!-- the following code overrides the biojsmsa css because of a strange bug which made the descriptions unreadable -->

<style>
.smenubar .smenubar_alink {
  color: magenta;
}
</style>
	


</head>
<br><br>
<body bgcolor="#fff">

    <div id="menuDiv"></div>
    <div id="yourDiv">Loading ... </div>
  
    <div><%= @content_for_layout %></div>
                
</body>
</html>
